[2017-03-30 17:10] donaldallen commented on #224
@cwagner22 Wonder if you're still having this issue? I'm having the same problem. I swear I was able to update the .scss file via changes made to the Styles tab in Elements, like this:

![](https://umaar.com/assets/images/dev-tips/live-sass.gif)

[2017-03-31 09:26] demiters commented on #424
I am having the same problem trying to `@import 'material-components-web'` which would work if the package name was prefixed with tilde (~), however the Sass file in the package also internally imports from its own `@material/...` packages without the tilde so I have no idea how to make Webpack/sass-loader deal with that?

[2017-03-31 14:19] vanesyan commented on #424
@demiters but issue persists also if I prefix import path with tilde `~`, see example repo. by the link above.

[2017-03-31 16:39] jhnns commented on #424
Thanks for providing that example. I'll take a look.

[2017-03-31 22:24] wsfuller commented on #413
@jhnns So I've updated the config to what you suggested.

However you're suggestion `use: ['css-loader', 'postcss-loader', 'resolve-url-loader', 'sass-loader'],` broke the `resolve-url-loader` for custom fonts that were needed (if only everything could be a Google Font).

So I updated to: use: `['css-loader','resolve-url-loader','postcss-loader','sass-loader'],`.

Now comments are working as expec

[2017-04-01 11:25] Andrey7287 commented on #351
Any solution ?

outputStyle: 'compact' doesn`t work for me :( .

[2017-04-02 15:08] rascio opened #426 "sass-loader can't resolve patternfly transitive dependencies"
Hi!
I'm trying to setup a basic skeleton for a project. I would like to use *patternfly-sass* in my project, but I'm having bad time trying to setup it.
The problem seems to be in the sass files of patternfly, and for what I tried it seems that I need to modify that files to make it works, but maybe some magic trick exists.
I setup the sass loader in this way:

    {
        test: /\.(scss|sass)$/

[2017-04-03 23:30] dancrumb commented on #355
I think this is a `node-sass` issue.

I hit this problem, found *this* issue and then tried to diagnose it. I was able to recreate the problem just using `node-sass` (which is the heart of the sass-loader).

I'm continuing to investigate and will link to the relevant issue once I find it

[2017-04-03 23:37] dancrumb commented on #355
Check out node-sass/#1469

Looks like this all stems Sass behaviour and is considered working as designed.

[2017-04-05 07:35] BHouwens opened #427 "String interpolation in @each"
When trying to use Sass's `@each` directive with string interpolation of the loop variables I get an unknown word error.

The following example code:
[code]

results in the following build error:

[code]

[2017-04-05 16:37] Andrey7287 commented on #427
Try without quotes.

[2017-04-06 09:25] BHouwens commented on #427
Same result unfortunately

[2017-04-06 09:43] xuyongli commented on #7
@shannonsumner And do you find that your css was not compiled when you  use disable option in new ExtractTextPlugin?

[2017-04-06 15:41] asolopovas commented on #425
I have updated my sass-loader-test repo https://github.com/asolopovas/sass-loader-test, to reflect the problem if you start index.html in public file and inspect p.animate tag in inspect section the path will be shown as D:/path/sass-loader-test/resources/assets/sass/D:\path\sass-loader-test/resources\assets\sass\app.scss

[2017-04-06 15:53] asolopovas commented on #425
Tested it on windows ubuntu bash and sourcemaps path was fine.

[2017-04-06 16:30] shannonsumner commented on #7
@xuyongli I don't think I tried with disable: true

[2017-04-07 17:38] vanesyan commented on #424
Any updates on the thread?

[2017-04-07 18:37] rudolfschmidt commented on #173
Ran into same issue.
Import of css files not working.

[2017-04-08 10:19] intermundos commented on #218
@EEGL your solution works for me. Thank you.

[2017-04-08 13:10] evilebottnawi commented on #296
Postcss issue about source map: https://github.com/postcss/postcss-loader/issues/195

[2017-04-09 04:24] d3viant0ne opened #429 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-09 16:23] r1005410078 opened #430 "Uncaught SyntaxError: missing ) after argument list"

[2017-04-09 18:26] mooror opened #431 "[Question/Feature Request] Ignoring devtool value"
Is there a way that I can make sass-loader just rely on its sourceMap option and totally ignore devtool's value. I'm using devtool: 'cheap-eval-source-map' if webpack is not in production mode. This way my js source maps are quite quick. But ideally I want full fledged scss in development mode. From what I have seen, it appears that sass maps are not being generated in this devtool mode. Therefor

[2017-04-10 12:10] vifird opened #432 "How to use '--relative-urls' in import?"
How to use '--relative-urls' in import, here is my code ,but it does not work:
[code]

[2017-04-10 17:46] danieladonna opened #433 "@imports not working"
Hello,

i tried a lot of different configurations but the compilaton of all the included scss files still fails.
The imports are just completely removed from the scss.

My webpack.config
[code]

My style.scss
[code]

The result:
[code]

There is no error in the console and if i change the path of foundation i get an error. So the paths seems to be correct, but the imports are not written to the bu

[2017-04-10 21:53] throoze opened #434 "Invalid CSS after "...-width: $small)": expected "{", was ";""
I've been looking for some answer to this mystical  error i keep getting, and i dont really know where else to look. Apparently, there's an offending media query selector, but it seems as normal as any other media query example i had found so far. (Also, im not very good with media queries, really, but i think they are well formed):

[code]

The error i get is:

[code]
I get this error when I use

[2017-04-11 11:40] yunda commented on #344
@wzup thanks a lot. That helped me too

[2017-04-11 15:22] evilebottnawi commented on #296
After disabling the generation of source using my PR https://github.com/webpack-contrib/css-loader/issues/478 i get about `~1.5x-2x` speedup my build

[2017-04-11 23:51] narthollis commented on #351
It appears this may be related to https://github.com/sass/libsass/issues/2312

[2017-04-12 00:39] jethrolarson opened #435 "dart-sass?"
Is there any intent to swap to using https://github.com/sass/dart-sass when it goes gold?

Supposedly it's way faster, and speed hasn't been one of sass's strong points.

[2017-04-12 11:02] Kikobeats commented on #427
Same issue here: https://github.com/material-components/material-components-web/issues/351#issuecomment-293541360

[2017-04-12 11:55] Kikobeats commented on #293
Same problem using [material components web](https://github.com/material-components/material-components-web)

Looks like the `@` char is not matching as condition for resolve the local module.

[2017-04-12 22:18] satiewaltz commented on #410
@williamboman
I'm having this issue as well. Aliases don't resolve on build and throw this even if I use `~`:
[code]
Even stranger: this issue so far appeared on Ubuntu, and not in other operating systems.

[2017-04-14 06:24] powah commented on #145
@phun-ky You saved my day! I was encountering the same issue with my SCSS files included several times (9 in my case!) when components included their own dependencies and was really frustrated while searching for a solution to this. Then I tried `optimize-css-assets-webpack-plugin` as you suggested in the gist and - IT WORKS!

[2017-04-15 21:57] chikamichi commented on #424
Don't know if that could be the underlying issue, but it has to be just `~`, not `~/`:

[code]

[2017-04-15 22:02] vanesyan commented on #424
@chikamichi as you can see in example I've provided there's the second form (from which you showed) of importing statement is in use (e.g. `@import "~@org/pkg"`).

[2017-04-15 22:38] chikamichi commented on #424
I thought you had indeed, but wanted to make it explicit just for clarification.

I'm using sass-loader to @import chunks of a npm-installed inuitcss build which has some bundled .scss files and it works flawlessly. Fixing the paths to abide by Webpack's `~` convention was all I needed to achieve to make it work. Therefore could something else beyond path scheme could be wrong in your setup?

[2017-04-16 02:20] gitsupersmecher opened #436 "Add logs in the sass-loader"
Hey guys,

Considering how spaghetti the JS code, and in special how the configurations are, it would be fantastic to have a verbose option on sass-loader.

Thanks!

[2017-04-16 05:26] vanesyan commented on #424
Issue specifically appears for resolving imports from npm organization packages. Inuitcss doesn't bundle any packages from organization (`~@org/pkg`), inside it. And itself it's named `inuitcss` on npm.

[2017-04-18 07:45] jeffijoe commented on #416
Libraries like [Bulma](http://bulma.io) rely heavily on this.

[2017-04-20 05:22] michael-ciniawsky opened #439 "Standardize README"

[2017-04-21 10:26] Iliyass opened #440 "Sass loader doesn't seem to compile my Sass files it's just concat it with no errors"
Hello,

I was setting up the sass-loader, to compile my sass files though webpack, but it seem it doesn't compile anything, it's just concat all the imports in sass files, keeping the same syntax and variable declarations

Webpack config
[code]
a snippet from source sass file
[code]
a snippet from the compiled `bundle.css`

[code]

[2017-04-21 11:27] #440 closed

[2017-04-21 11:27] Iliyass commented on #440
i found the solution here https://github.com/webpack-contrib/sass-loader/issues/221#issuecomment-214917853

[2017-04-21 21:47] westhechiang commented on #424
This is exactly the problem that I am running into when trying to use sass-loader with eyeglass. We bundle our packages from our org. I get a compile error:
[code]

I've been banging my head against this for the better part of this week so any insights would be extremely helpful!

[2017-04-22 07:50] vanesyan commented on #424
@westhechiang It is working if you directly set the path to importing file in you `@import` rule, e.g.:
[code]
Note the `bar.scss` at the end of the importing rule

[2017-04-22 20:58] xXanth0s commented on #411
Have the same problem :(

[2017-04-23 14:42] evilebottnawi commented on #436
@gitsupersmecher can your provide use case for this and why your need this?

[2017-04-23 14:45] evilebottnawi commented on #435
@jethrolarson 'dart-sass' is cool project, but there are a lot of bugs with `sass` original compatibility :sob:

[2017-04-23 14:53] evilebottnawi commented on #433
@danieladonna all works fine, just variables, functions and mixins in https://github.com/zurb/foundation-sites/blob/develop/scss/foundation.scss, what do you want see after import?

[2017-04-23 14:54] evilebottnawi commented on #432
@vifird Where did you find `relativeUrls` option for `sass-loader`?

[2017-04-23 15:06] evilebottnawi commented on #430
@r1005410078 i think it is not related to `sass-loader`, just `sass` syntax error, if your think your code should be works, but you still get an error maybe best create issue in `node-sass` (https://github.com/sass/node-sass) with example your code

[2017-04-23 15:11] evilebottnawi commented on #326
@markbrown4 can we close this issue? We have stable version `webpack@2` :+1: and `sass-loader` now support only `webpack@2` version https://github.com/webpack-contrib/sass-loader/blob/master/package.json#L36

[2017-04-23 15:13] evilebottnawi commented on #411
@xXanth0s can you create minimal reproduce test repo? it is allow to resolve issue more faster :smile:

[2017-04-23 15:17] evilebottnawi commented on #351
Confirmed, it is related to https://github.com/sass/libsass/issues/2312, need fix in `node-sass`

[2017-04-23 17:04] michael-ciniawsky commented on #326
@markbrown4 Feel free to reopen if still any problems

[2017-04-23 17:04] #326 closed

[2017-04-23 17:04] #430 closed

[2017-04-23 17:06] michael-ciniawsky commented on #435
Agreeing with @evilebottnawi here, `dart-sass` is still under 'heavy' development and doesn't cover the whole SASS spec yet

[2017-04-23 21:48] wsfuller commented on #411
@xXanth0s

To fix this I did the following:

1. Created Font Loader Variable (**before** `module.exports={...}`)
    * `var fontLocal = 'file-loader?name=[name].[ext]`
    * `var fontBundle = 'file-loader?name=assets/fonts/[name].[ext]`
2. Created ternary operator (**before** `module.exports={...}`)
    * `var fontConfig = isBundle ? fontBundle : fontLocal;`
3. Update loader to use `fontConfig` (*

[2017-04-24 04:27] wsfuller commented on #414
Looks like the loaders are in the incorrect order. Have updated to `use: ['css-loader','resolve-url-loader','postcss-loader','sass-loader']`. The one question I have remaining, where in the documentation does it state the ordering of loaders and the correct way to write them?

Feel like [Loader Features](https://webpack.js.org/concepts/loaders/#loader-features) would be a logical place with the cu

[2017-04-24 21:07] alexanderknapstein commented on #433
Hey Dani,

I fixed the problem using the following configuration:
[code]

And added this into the scss file:
[code]

@include foundation-everything has to be replaced with the modules that we want to use.

Cheers,
Alex

[2017-04-25 08:56] aprilandjan opened #441 "resolve aliases in @import .css files not working"
It seems that the resolve aliases in `@import` `.css` files cannot import the file correctly. Here is my config.

in `webpack.config.js`:
[code]

in my `sass` file:
[code]

[2017-04-25 09:01] evilebottnawi commented on #433
@alexanderknapstein all right, first use include all variables, mixins and etc (`foundation-sites/scss/foundation.scss`) then you use included mixin, just see examples http://foundation.zurb.com/building-blocks/

/cc @michael-ciniawsky we can close this issue, because it is not related to `sass-loader`

[2017-04-25 11:50] #433 closed

[2017-04-26 11:32] zhengxkq opened #442 "it will compile 0% when I use from tag in .scss file"
# before compile
body,
header,
footer,
section,
div,
span,
p,
img,
a,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
from{
margin:0;
padding:0;
}
# after compile
0%,a,article,aside......{
margin:0;
padding:0;
}

[2017-04-27 14:43] asolopovas commented on #425
Same happens if you do run npm run test-source-map on the package itself so clearly is something wrong about it.

[2017-04-27 14:54] asolopovas commented on #425
Please respond someone its been a month since I created an issue. I have spent some time playing around and found that if I changeline 74 of loader.js,  to `result.map.sourceRoot = '';` problem goes away

[2017-04-27 14:58] asolopovas commented on #425
@jhnns it may be related to https://github.com/webpack-contrib/sass-loader/issues/366

[2017-04-27 18:47] alexandernanberg opened #443 "String interpolation broken?"
I can't string interpolation to work with the sass-loader. Works without any problems on node-sass. Bug or missing feature? Would be awesome if it got fixed/implemented.

[code]
Throws this error: `module build failed: Unknown word (19:19)`

[2017-04-29 04:45] dudesweet100 opened #445 "Invalid CSS after "e""
What am I doing wrong?

[code]

index.scss
[code]

index.js
[code]

[2017-04-29 13:01] evilebottnawi commented on #445
@dudesweet100 try `var myCss = require('css-loader!sass-loader!./index.scss');console.log(myCss)` for exporting styles
or `require('style-loader!css-loader!sass-loader!./index.scss')` for including styles in dom immediately.

[2017-04-29 21:26] gitsupersmecher commented on #436
@evilebottnawi - when the configurations are not properly set not all the errors are well describing the problem. So, considering that are engineers, and we are used  with debugging and investigations, then a logger solution is quite handy. Don't you think?

[2017-04-29 23:52] dudesweet100 commented on #445
My mistake

[2017-04-29 23:52] #445 closed

[2017-04-30 13:15] evilebottnawi commented on #436
@gitsupersmecher what concretely `sass-loader` should logs, give example :smile:

[2017-05-01 23:38] RaphaelHadjadj commented on #329
I made a simple minimalist sample project.
https://github.com/RaphaelHadjadj/webpack2-cssmodules-sass

[2017-05-02 00:12] evilebottnawi commented on #329
@michael-ciniawsky what do you think about `docs/recipes` directory as in gulp https://github.com/gulpjs/gulp/tree/master/docs/recipes, maybe it is not bad idea?

[2017-05-02 00:45] d3viant0ne commented on #329
Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support though you may also inquire in [Webpack Gitter](https://gitter.im/webpack/webpack). The issue tracker is for bug reports and feature discussions. See also our CONTRIBUTING guidelines.

[2017-05-02 00:45] #329 closed

[2017-05-03 09:32] evilebottnawi commented on #442
@zhengxkq do your use `postcss` plugins like `cssnano`? also provide you `webpack` config

[2017-05-03 09:52] evilebottnawi commented on #434
@throoze A few wrong things :smile:
1. Use options https://github.com/sass/node-sass#indentedsyntax
[code]
2. Wrong `sass` syntax.
[code]
Some note about this syntax http://sass-lang.com/documentation/file.INDENTED_SYNTAX.html.

Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 09:52] #434 closed

[2017-05-03 09:56] evilebottnawi commented on #289
@gpazo @tleunen @luchillo17 @leaves4j please update to latest `webpack` version :+1:

Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 09:56] #289 closed

[2017-05-03 09:59] evilebottnawi commented on #285
Please update to latest `webpack` version and `sass-loader` version :+1:

Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 09:59] #285 closed

[2017-05-03 10:05] evilebottnawi commented on #427
@BHouwens seems your use `postcss` after `sass-loader` with `postcss-scss`, can you provide your config?

[2017-05-03 10:17] evilebottnawi commented on #284
@lorenzomigliorero Is there a problem or has it been solved?

[2017-05-03 10:33] evilebottnawi commented on #424
@vanesyan In your example (`https://github.com/vanesyan/webpack-npm-scope-css-import-issue`), `"~@foo/bar.scss"` don't exists use `"~@foo/bar/index"`. If your want to support `main` field in `package.json` please create separately issue.

[2017-05-03 10:35] evilebottnawi commented on #278
@sgulseth please update to latest `sass-loader` version :+1:

Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 10:35] #278 closed

[2017-05-03 10:38] evilebottnawi commented on #361
@brunoravanhani seems your have wrong `sass` syntax, can your provide `sass` example file?

[2017-05-03 10:43] evilebottnawi commented on #414
@wsfuller Not entirely true, with this logic we must put this information in each `loader`, it is overloading docs, more right place information about this in https://webpack.js.org/concepts/loaders/#loader-features (where you indicated). Btw thanks for using `webpack` :1st_place_medal:

[2017-05-03 10:43] #414 closed

[2017-05-03 10:48] evilebottnawi commented on #353
@gkhno Is there a problem or has it been solved? If problem not solved please create minimal reproducible test repo, thanks!

[2017-05-03 10:59] evilebottnawi commented on #312
@deiga thanks for using `webpack` and `sass-loader`, but it is not issue, it is question, we don't have time to respond on all question here :sob: , please use `stackoverflow` for this, also you can read http://eng.localytics.com/faster-sass-builds-with-webpack/ about speedup build, also your can see on new loader https://github.com/webpack-contrib/cache-loader.

Closing this out, please feel free

[2017-05-03 10:59] #312 closed

[2017-05-03 11:08] evilebottnawi commented on #359
@ramakrishnamundru thanks for issue, but `sass-loader` don't handle external resources, seems bug was https://github.com/webpack-contrib/css-loader/blob/master/lib/processCss.js#L51. Is there a problem or has it been solved? If not please create minimal reproducible test repo

[2017-05-03 11:11] evilebottnawi commented on #423
@gkohen your can use https://github.com/sass/node-sass#functions--v300---experimental as option in `loader`. Thanks for using `webpack` and `sass-loader` :+1:

Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 11:11] #423 closed

[2017-05-03 11:13] evilebottnawi commented on #311
@niksy Is there a problem or has it been solved?

[2017-05-03 11:15] ramakrishnamundru commented on #359
I have solved the problem by using the url() syntax to import external resources.
so now I use
[code]
And I didn't face this problem again.
Thanks

[2017-05-03 11:15] #359 closed

[2017-05-03 11:22] evilebottnawi commented on #181
@IngwiePhoenix thanks for interesting project, but it is not issue, use `reddit`, `medium` or other platform for promotion this project :+1:

[2017-05-03 11:22] #181 closed

[2017-05-03 11:30] evilebottnawi commented on #411
@wsfuller @xXanth0s  thanks for answer and using `webpack` and `sass-loader` :+1:

Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 11:30] #411 closed

[2017-05-03 11:31] evilebottnawi commented on #352
@hiroshishu @jrwebdev Is there a problem or has it been solved?

[2017-05-03 11:35] evilebottnawi commented on #412
@zabojad Is there a problem or has it been solved? If not can your create minimal reproducible test repo?

[2017-05-03 11:40] evilebottnawi commented on #346
@modosc for `import` from `modules` please read https://github.com/webpack-contrib/sass-loader#imports

More 90 days inactive (no provided test repo :disappointed: ). Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 11:40] #346 closed

[2017-05-03 11:54] evilebottnawi commented on #254
Please update `sass-loader` to latest version :1st_place_medal:

More 90 days inactive. Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 11:54] #254 closed

[2017-05-03 11:58] lorenzomigliorero commented on #284
Sorry for the delay @evilebottnawi.
I just forgot to add sass-loader in package.json...

Thanks for your answer.

[2017-05-03 11:58] #284 closed

[2017-05-03 11:59] evilebottnawi commented on #274
@adamchuan @thescientist13 seems using `relative` url, see docs about https://github.com/webpack-contrib/sass-loader#problems-with-url.

Not active more 90 days. Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 11:59] #274 closed

[2017-05-03 12:02] evilebottnawi commented on #192
/cc @ChrisCinelli @DDaems friendly ping

[2017-05-03 12:14] evilebottnawi commented on #273
@luchillo17 Thanks for using `webpack` and `sass-loader`!
Some things:
1. Don't use `'&includePaths[]' + helpers.root('node_modules')` and `@import '~primeui/themes/omega/theme';` after using `~` `webpack/sass-loader` already known `primeui` package locate in `resolve.modules` directories (for webpack 2) and `resolve.modulesDirectories` (for webpack 1).
2. Also `to-string-loader` do not support `w

[2017-05-03 12:14] #273 closed

[2017-05-03 12:15] evilebottnawi commented on #303
@jameslnewell can you provide minimal reproducible test repo?

[2017-05-03 12:19] evilebottnawi commented on #299
@jvanderberg @silviogutierrez @chartinger Is there a problem or has it been solved? If not can your create minimal reproducible test repo?

[2017-05-03 12:29] evilebottnawi commented on #173
Duplicate https://github.com/webpack-contrib/sass-loader/issues/410, If somebody don't agree please create a separate issue. Thanks for helping `sass-loader` doing better :+1:

[2017-05-03 12:29] #173 closed

[2017-05-03 12:32] evilebottnawi commented on #207
@SeeThruHead friendly ping, problems now exists?

[2017-05-03 12:48] thescientist13 commented on #274
thanks @evilebottnawi !  will look into that.  thanks!

[2017-05-03 12:55] chartinger commented on #299
For me the issue was solved with the output workaround back then. [I did not run into this issue in my recent projects]

[2017-05-03 13:17] evilebottnawi commented on #294
@noyobo seems bug was in `css-loader` or maybe related to https://github.com/webpack-contrib/css-loader/pull/523/commits/3502cef3c7b1a55f370102c0c05601ab924ada73, but no in `sass-loader`, try to update to latest version `css/sass-loader`. PR with tests https://github.com/webpack-contrib/sass-loader/pull/446.

Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 13:17] #294 closed

[2017-05-03 13:19] evilebottnawi commented on #299
@chartinger can you provide what do your done, it is help to other people :smile:

[2017-05-03 13:24] evilebottnawi commented on #321
@Nexxado @Grace951 @lxalln can your provide minimal reproducible test repo (maybe related to `node-sass` or other package which generate source maps)? We need an example this `scss` file

[2017-05-03 13:25] evilebottnawi commented on #432
/cc @vifird friendly ping

[2017-05-03 13:28] evilebottnawi commented on #413
@wsfuller maybe your have `postcss-url` (or other similar plugin) which broke your url?

[2017-05-03 13:36] evilebottnawi commented on #174
No activity longer than 90 days. Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 13:36] #174 closed

[2017-05-03 13:39] evilebottnawi commented on #147
@bensampaio @adjavaherian Is there a problem so far?

[2017-05-03 13:44] evilebottnawi commented on #198
Duplicate https://github.com/webpack-contrib/sass-loader/issues/296.

Closing this out, please feel free to reopen if your think what issue don't related to issue above. Thanks!

[2017-05-03 13:44] #198 closed

[2017-05-03 13:51] evilebottnawi commented on #268
More than 90 days of inactivity. Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 13:51] #268 closed

[2017-05-03 13:56] chartinger commented on #299
Just like in the original post

I think this ticket is more about having an "official" way to do the same, but helped me solve the problem with the given "unsupported" method.

[2017-05-03 13:56] bensampaio commented on #147
I just tried to remove `process.env.UV_THREADPOOL_SIZE = 100;` and it worked. So it's safe to assume it's fixed?

[2017-05-03 13:58] vifird commented on #432
@evilebottnawi In sass's document, as i remember.

[2017-05-03 13:58] evilebottnawi commented on #147
@bensampaio where your can have `process.env.UV_THREADPOOL_SIZE` and why `100`? :smile:

[2017-05-03 14:03] evilebottnawi commented on #432
@vifird `sass-loader` build on top `node-sass` (see all options https://github.com/sass/node-sass#options), also original `sass` don't have this option too. Seems you are confused with `less` (http://lesscss.org/usage/).

[2017-05-03 14:03] #432 closed

[2017-05-03 14:03] evilebottnawi commented on #432
Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 14:05] adjavaherian commented on #147
this is resolved in v2.x and higher, right?

[2017-05-03 14:07] vanesyan commented on #424
The issue exactly was subjected to the `main` field in `package.json`. Importing from general npm package honors

[2017-05-03 14:07] evilebottnawi commented on #147
@adjavaherian now `v6.0.3` `sass-loader` :smile:

[2017-05-03 14:08] evilebottnawi commented on #424
@vanesyan `webpack` by default `support` `main` field in `package.json`.

[2017-05-03 14:10] vanesyan commented on #424
Yes, I know, the behavior also can be customized in webpack 2. But as you can see in provided example by me importing from org. package ignore the `main` field in `package.json` file. That the issue

[2017-05-03 14:12] evilebottnawi commented on #441
@aprilandjan Thanks for feedback. Duplicate: https://github.com/webpack-contrib/sass-loader/issues/441.

Closing this out, please feel free to reopen if your think what your issue doesn't related above issue. Thanks!

[2017-05-03 14:12] #441 closed

[2017-05-03 14:14] evilebottnawi commented on #424
@vanesyan your right bug in this line https://github.com/webpack-contrib/sass-loader/blob/master/lib/importsToResolve.js#L33 for `@foo/bar` it is false, but should be true

[2017-05-03 14:16] evilebottnawi commented on #424
@vanesyan I'll try to find the time to fix it today, but first I need to scrape the issues not related to `sass-loader` :tired_face:

[2017-05-03 14:18] vanesyan commented on #424
@evilebottnawi it's ok, thanks :)

[2017-05-03 14:37] evilebottnawi commented on #426
@rascio your can use https://github.com/sass/node-sass#importer--v200---experimental for this. THis is not related to `sass-loader`, some libraries add variable to define here search dependencies `package` or `assets` (your can create issue about this and do pr in `patternfly`). Sorry but seems won't fix in `sass-loader`.

[2017-05-03 14:44] evilebottnawi commented on #420
@rhys-vdw what status is now? It is worth waiting for pr or not?

[2017-05-03 14:45] evilebottnawi commented on #409
@LeG3nDz what is status problems?

[2017-05-03 14:49] evilebottnawi commented on #265
Yep, not related to `sass-loader`. Original issue https://github.com/webpack-contrib/css-loader/issues/233. If you still have error, please create minimal reproducible test repo and send comment in https://github.com/webpack-contrib/css-loader/issues/233.

[2017-05-03 14:49] #265 closed

[2017-05-03 14:59] evilebottnawi commented on #272
@woohling @maximusnikulin @wayofspark @ggedde The problem still exists? If yes please create minimal reproducible test repo

[2017-05-03 15:00] brunoravanhani commented on #361
The code was in a framework called [bulma](http://bulma.io/), but i changed my framework in that project.

[2017-05-03 15:25] vanesyan commented on #424
@evilebottnawi hey, I create a new pull request #447 for fixing the issue

[2017-05-03 15:29] evilebottnawi commented on #361
@brunoravanhani As I understand the problem is no more? Can we close this issue?

[2017-05-03 15:45] evilebottnawi commented on #425
@asolopovas wip

[2017-05-03 15:55] wsfuller commented on #414
@evilebottnawi This is still pretty confusing. If I'm coming from Gulp (which I did and to Gulp from Grunt), I'm going to write left to right or top down expecting that order, like any Western speaking person would do. If I do that with Webpack an error will occur. If written right to left order operations work as expected. This is why I was suggesting some type of mention in there.

http://stacko

[2017-05-03 15:58] thomasyimgit commented on #302
still getting the error regarding the font files

[2017-05-03 16:37] evilebottnawi commented on #302
@thomasyimgit @AntiCZ without minimal test reproducible repo we don't help us

[2017-05-03 16:48] evilebottnawi commented on #414
@wsfuller Then you should create `migration-from-gulp-and-grunt` and move this docs in `webpack-docs` not here

[2017-05-03 17:09] brunoravanhani commented on #361
Yes, can close.

[2017-05-03 17:10] #361 closed

[2017-05-03 17:56] evilebottnawi commented on #316
@DaniGithub seems invalid `scss` (similar https://www.google.ru/search?q=expected+1+selector+or+at-rule&oq=expected+1+selector+or+at-rule&aqs=chrome..69i57j0l5.476j0j7&sourceid=chrome&ie=UTF-8), need minimal reproducible test repo :smile:

[2017-05-03 18:06] evilebottnawi commented on #349
@sharlayoub can your provide minimal reproducible test repo. `test: /\.scss$/` already handle `.ext.scss` files.

[2017-05-03 18:17] evilebottnawi commented on #224
@cwagner22 can your create minimal reproducible test repo? Seems something is wrong in `style-loader` (or in webpack config)

[2017-05-03 18:20] evilebottnawi commented on #293
Close in favor https://github.com/webpack-contrib/sass-loader/issues/293 (duplicate) and already have PR https://github.com/webpack-contrib/sass-loader/pull/447.

Please feel free to reopen (or create new issue) if this doesn't related to your issue. Thanks!

[2017-05-03 18:20] #293 closed

[2017-05-03 18:28] evilebottnawi commented on #306
@mrapogee can your provide minimal reproducible repo? And why use `sass` and `css-modules` together (maybe best exclude sass and use `postcss` plugin or `cssnext` for some cool things which exist in `sass`?)

[2017-05-03 18:42] evilebottnawi commented on #249
@mikeifomin is problem actual?

[2017-05-03 18:51] mikeifomin commented on #249
@evilebottnawi I solved this with some magic. I do not remember how. Sorry

[2017-05-03 18:51] #249 closed

[2017-05-03 18:57] evilebottnawi commented on #339
@borela why just don't use `test: /\.(mscss|scss)$/` and `test: /\.(msass|sass)$/,`?

[2017-05-03 19:06] evilebottnawi commented on #266
Please update `webpack` to `v2` and `sass-loader` to latest version.

Closing this out, please feel free to reopen if this doesn't resolve your issue. Thanks!

[2017-05-03 19:06] #266 closed

[2017-05-03 19:08] borela commented on #339
I do on webpack but when I use the `@import './someDir/someFile` command from sass with relative paths, it doesn't use webpack's resolver so I can't omit the extension. Is there any setting to allow this?

[2017-05-03 19:12] evilebottnawi commented on #339
@borela what about add this extension to `resolve.extensions` webpack option?

[2017-05-03 19:14] evilebottnawi commented on #339
@borela If it does not help, just create minimal test repo and describer in readme what logic your can want. it is allow to helping :smile:

[2017-05-03 19:18] borela commented on #339
Yeah, I'been using this [config](https://github.com/ctrine/webpack-settings/blob/master/src/main.js) and at the time of this issue, it wasn't adding the extensions from webpack's config but I see that there changes made to the repo.

 I'll check if the error still exists :D.

[2017-05-03 19:58] evilebottnawi commented on #202
@Cammisuli @jameslnewell The problem still exists?

[2017-05-03 20:00] evilebottnawi commented on #407
@MrEfrem can your provide minimal reproducible test repo?

[2017-05-03 20:07] evilebottnawi commented on #416
@maffelbaffel About `-p`
[code]
Seems your have `css-loader` and other `postcss-plugin` for minification css (`-p` enable their) and one of them does not work correctly. Can you provide minimal reproducible test repo?

[2017-05-03 20:11] evilebottnawi commented on #425
@asolopovas hm, works fine for me, can your explain more information? What`browser` your are use?If your can create screenshots this bug?

[2017-05-03 20:14] evilebottnawi commented on #426
@rascio seems duplicate https://github.com/webpack-contrib/sass-loader/issues/227.

Closing this out, please feel free to reopen if this doesn't related to your issue. Thanks!

[2017-05-03 20:14] #426 closed

[2017-05-03 20:19] evilebottnawi commented on #227
/cc @jhnns To be honest, I do not even represent a better solution than own `importer` for these projects, but maybe your have idea about this. Or we can just add example of such simple `importer` to `README`.

[2017-05-03 20:20] luchillo17 commented on #273
Hehe sorry about this issue, it's very old, i end up fixing my issue one way or another, i just didn't remember i put this issue, after all has been like half a year since i put it.

Anyway thanks for taking your time.

[2017-05-03 20:27] evilebottnawi commented on #413
@wsfuller in theory should work `['css-loader', 'postcss-loader', 'resolve-url-loader', 'sass-loader']`, if your provide minimal reproducible repo it give an opportunity to answer this question accurately (maybe something should be docs to avoid this issue)

[2017-05-03 20:32] evilebottnawi commented on #431
@mooror Interesting! Why don't use `devtool: `source-map`` always (poor performance)? Also your can to try https://github.com/sass/node-sass#sourcecomments, https://github.com/sass/node-sass#sourcecomments and other option related to `source maps`. Also some notes about options in source code https://github.com/webpack-contrib/sass-loader/blob/master/lib/normalizeOptions.js#L34.

If nothing to hel

[2017-05-03 20:38] evilebottnawi commented on #114
@IngwiePhoenix @SleepWalker @lourd The problem is already solved? Sorry for the long time we don't answer :smile:

[2017-05-03 20:45] evilebottnawi commented on #354
@karptonite Can your update `webpack`, `sass-loader` and other related packages to `webpack` to latest version and try again. If the error persists, report this here :+1:

[2017-05-03 20:50] evilebottnawi commented on #373
@halt-hammerzeit @matthieuh seems we have old `css-loader` (with bugs), just update to latest and try again. If problems still exist please report about this here (be good with minimal reproducible test repo). Thanks!

[2017-05-03 21:45] asolopovas commented on #425
@evilebottnawi Hi thanks for responding, here is the screenshots, I have tested it on different machines and few various projects everywhere I get the same problem, I eventually gave up and used gulp sass to generate my stylesheets along with browser-sync to inject them on fly it actually does it a bit faster. If you look at the repository provided above and generate it by simply running npm insta

[2017-05-03 21:56] evilebottnawi commented on #425
@asolopovas oh really, tomorrow try to found solution 👍

[2017-05-03 23:45] jameslnewell commented on #202
Sorry I'm not sure, I'm not using sass anymore.

[2017-05-03 23:48] jameslnewell commented on #303
Not without breaking the current signature 😌. As per my comments on another issue, I'm no longer actively using sass on any projects so you're welcome to close if no one else wants this.

[2017-05-04 00:30] rhys-vdw commented on #420
@evilebottnawi I ran out of time for the task so we're using Sprockets for now. Ultimately we plan to use Sass via Webpack, and ideally we will be able to use templating (specifically [`rails-erb-loader`](https://github.com/usabilityhub/rails-erb-loader).

I expect to get a chance to revisit this in the next couple of weeks. We still have an open issue referencing this one.

@evilebottnawi, are yo

[2017-05-04 02:23] vifird commented on #432
@evilebottnawi Yeah, it's truely less' document. Thanks.

[2017-05-04 03:48] woohling commented on #272
No longer working on the project with this issue.
But I will find time to create a small demo to see if the problem still exists.

[2017-05-04 04:03] SleepWalker commented on #114
@evilebottnawi I've solved that problem by resolving all the imports and other urls before `sass-loader` runs. It works for my needs, but it may not cover all the needs that may occure.

The best possible solution is, when all imports and urls will be processed through webpack loading mechanism. This will enable all the power webpack provides and allow to use loader-chains that generate css/urls a

[2017-05-04 07:59] niksy commented on #311
@evilebottnawi I think this can be closed, requiring `node-sass` in project is sufficient I suppose.

[2017-05-04 07:59] #311 closed

[2017-05-04 08:20] MrEfrem commented on #407
I have updated `sass-loader` on the last version and no see more the errors.

[2017-05-04 08:20] #407 closed

[2017-05-04 09:18] evilebottnawi commented on #272
@woohling just ping me when your do this :+1:

[2017-05-04 09:22] evilebottnawi commented on #420
@rhys-vdw If your want have own loader for `erb` files, be good use `addNormalizedDependency` inside in loader, but if your provide some little demo i can try to resolve this issue and we can migrate to `webpack` and `sass-loader` asap :+1:
[code]

[2017-05-04 09:23] evilebottnawi commented on #303
Closing this out, please feel free to reopen or create new issue if this doesn't resolve your issue. Thanks!

[2017-05-04 09:23] #303 closed

[2017-05-04 12:40] jvanderberg commented on #299
@evilebottnawi I think the underlying issue is that there's something broken in the minification when sassLoader.outputStyle == 'compressed'.  I don't know how to reproduce the issue as it's pretty difficult to debug minimized CSS output (at least for me).  But that's beside the point of this case really.  Even if what specific bug I am encountered were fixed, I imagine in future there are always

[2017-05-04 13:10] evilebottnawi commented on #299
@jvanderberg `sass-loader` doesn't `minify` code, this do `css-loader` using `cssnano` or `postcss-loader` with `cssnano` plugin. We are trying to reduce the number of unanswered problems, since it is difficult where there is a bug and where not and where it related to the loader (here `sass-loader`) and where not. We should reproduce bug or close issue. If bug to happen again, we can reopen this

[2017-05-04 15:39] karptonite commented on #354
So while I can't replicate the error exactly, i can replicate it sort of. Here is an example:
https://github.com/karptonite/angular2-webpack-starter/tree/updated-example

It now seems to be the case that ANY quotes (single or double) in a sass mixin are a problem, but only when resolve-url-loader is part of the chain.
https://github.com/karptonite/angular2-webpack-starter/commit/afb24c1933669d5e62

[2017-05-04 15:41] evilebottnawi commented on #354
@karptonite let's do it :+1: thanks for repo

[2017-05-05 10:54] BHouwens commented on #427
@evilebottnawi Sample of CSS config:
[code]

[2017-05-05 11:24] evilebottnawi commented on #427
@BHouwens use right syntax for `webpack` 2
[code]

[2017-05-05 12:00] evilebottnawi commented on #354
@karptonite latest `node-sass` and `libSass` compile
[code]
to
[code]

`sass` v4 latest output error on this
[code]

`sass` v3 latest output nothing on this

[2017-05-05 13:33] evilebottnawi commented on #354
@karptonite bug in `rework` in `resolve-url-loader` (parser). Seems `rework` is outdate today and best is use `postcss` for this purpose.

Minimal code to reproduce:
[code]

Simple: `rework` don't add `}` to some block (`declaration block`).

I created issue in `resolve-url-loader` and close issue here, because this issue not related to `sass-loader`.

Related issue: https://github.com/bholloway/r

[2017-05-05 13:33] #354 closed

[2017-05-05 21:31] jvanderberg commented on #299
Yes, in my troubleshooting I assumed the minification issue lies lower in the stack.  But the piece of the stack turning on minification is the sass-loader, and it ignores the configuration flags that usually disable minification.

The following webpack config results in css minification, which breaks our build (yes, not your fault I know)
			{
				test: /\.s?css$/,
				loaders: [
					'style-load

[2017-05-07 01:23] wsfuller commented on #414
I'm going to put together some documentation so there's a more 1:1 comparison make things a bit easier.

[2017-05-07 10:10] Nexxado commented on #321
I tried reproducing the issue, but while using all the latest versions for `extract-text-webpack-plugin`, `sass-loader`, `webpack` etc, I was unable to reproduce it.

I uploaded the [repo](https://github.com/Nexxado/sass-loader-issue-321) to github so others (@lxalln, @Grace951) can attempt to reproduce it as well.

So for me the issue is resolved,
Thank you @evilebottnawi.

[2017-05-07 12:16] evilebottnawi commented on #414
@wsfuller your can do PR and if docs will be good we can merge this :+1:

[2017-05-07 12:20] evilebottnawi commented on #321
@Nexxado great! :+1:

Closing this out, please feel free to create new issue if the error will happen again. Thanks!

[2017-05-07 12:20] #321 closed

[2017-05-07 19:39] jarindr opened #448 "sass-loader can't resolve :global or :local on css-module on .sass extension"
`:global` and `:local` isn't working with sass-loader with .sass extension
I tried to switch to less and stylus loader and it works perfectly. Not sure this is my fault in configuration ? or just sass syntax doesn't allow `:global` and `:local`

<img width="1275" alt="screen shot 2017-05-08 at 2 40 31 am" src="https://cloud.githubusercontent.com/assets/2189889/25784505/53e5d320-3398-11e7-9899-4ac8

[2017-05-07 19:42] evilebottnawi commented on #448
@jarindr `sass-loader` don't resolve `:global` and `:local` it is do `css-loader`

[2017-05-07 19:43] evilebottnawi commented on #448
https://github.com/webpack-contrib/css-loader

[2017-05-07 19:45] jarindr commented on #448
@evilebottnawi Yes i get that, unfortunately It isn't working with sass-loader with .sass extension
<img width="1275" alt="screen shot 2017-05-08 at 2 40 31 am" src="https://cloud.githubusercontent.com/assets/2189889/25784505/53e5d320-3398-11e7-9899-4ac85e7c9278.png">
<img width="381" alt="screen shot 2017-05-08 at 2 40 46 am" src="https://cloud.githubusercontent.com/assets/2189889/25784506/551f1e

[2017-05-07 19:47] evilebottnawi commented on #448
@jarindr please create minimal reproducable test repo, we will not help you if you do not provide information, good issue - issue with detailed information, not empty :+1:

[2017-05-07 19:48] evilebottnawi commented on #448
@jarindr and seems sass syntax don't allow using `:global` and `:local`

[2017-05-07 19:56] jarindr commented on #448
@evilebottnawi you just answered too fast lol i'm editing and accidentally click submit. So, if that is the case, any solution for using sass with some global scope ?

[2017-05-07 19:58] evilebottnawi commented on #448
@jarindr seems works good in https://www.sassmeister.com/

[2017-05-07 20:01] evilebottnawi commented on #448
weird, all `sass` files should be `indentedSyntax` set to `true` https://github.com/webpack-contrib/sass-loader/blob/master/lib/normalizeOptions.js#L61, seems in your case `indentedSyntax` is `false`, try to set `indentedSyntax` in option

[2017-05-07 20:07] jarindr commented on #448
@evilebottnawi Found the problem, for .sass you need to escape `/:global` to make it possible to compile with its syntax and pass to css-loader.
thanks for the help btw! I will close the issue now.

[2017-05-07 20:16] evilebottnawi commented on #448
@jarindr Great! :+1:

[2017-05-07 20:16] #448 closed

[2017-05-09 03:03] #424 closed

[2017-05-09 07:41] BHouwens commented on #427
@evilebottnawi On the nose, that seems to fix it. Strange that webpack swallows the errors silently here but fixing the config works.

[2017-05-09 09:40] ggedde commented on #272
Sorry @jhnns @evilebottnawi,  I took a pause from this project.
Nope, the issue still exists for me.  I also just recently installed brand new ng-cli on a new laptop.
Angular4.0 with CLI 1.0.2 which is using sass-loader 6.0.3

I created a small project and just had a few lines of scss code.
It still pointed to the top parent node, but running node-sass works fine.
Not sure what I can do to help fu

[2017-05-09 12:56] evilebottnawi commented on #272
@ggedde can your create minimal reproducible test repo?

[2017-05-09 12:58] evilebottnawi commented on #427
@BHouwens good, I will bring this issue to the discussion

[2017-05-09 12:58] #427 closed

[2017-05-09 17:34] ggedde commented on #272
@evilebottnawi
Yes, I can.  I will let you know when I get that up.

In the meantime I did find that if I added
`outputStyle: 'compressed'` to the sass-loader it now works for Chrome, but not FF.

So my guess is that css-loader is expecting the sass-loader to be compressed.  So if sass-loader is not then you need to specify it.  I am not sure how to have css-loader know what the format is.  That w

[2017-05-09 17:39] evilebottnawi commented on #272
@ggedde seems bugs not in `sass-loader` or `css-loader` (it makes no difference what we work on `sass/scss/less` and etc.). I think `FF` have bug, just ping me when test repo was created.

[2017-05-09 17:59] ggedde commented on #272
Yes, FF has a bug, but Chrome doesn't work either unless you add outputStyle: 'compressed' to sass-loader.  There may not be a bug with either, but there is definitely a configuration issue that is not well documented anywhere.  Nor does anyone have a good grasp on how to configure css-loader with sass-loader to make the sourcemaps work properly.  It would be great for us to figure it out then eit

[2017-05-09 20:22] DBosley opened #451 "source-map resource urls coming out strange"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Using postcss-loader (only using autoprefixer plugin, no extra configurations) combined with sass-loader, css-loader, and style-loader causes the resource URL for sourcemaps to be strange:

example: http://imgur.com/a/R73hV
scss loader config
[code]

**What is the expected behavior?**
relative urls for

[2017-05-09 20:25] DBosley commented on #451
This issue seems to affect multiple loaders. Posted the same issue on all affected loaders:
https://github.com/webpack-contrib/css-loader/issues/529
https://github.com/webpack-contrib/sass-loader/issues/451
https://github.com/webpack-contrib/style-loader/issues/231
https://github.com/postcss/postcss-loader/issues/224

[2017-05-09 21:35] teknicalissue commented on #40
but why doesn't @import "bootstrap" work?

Would love an explanation for why we need the work around!

[2017-05-10 01:56] someok opened #452 "[6.0.4] importing files directly from scoped npm package (ModuleBuildError)"
My webpack config process right when use sass-loader 6.0.3, but when update to 6.0.4, throw this error:

[code]

[2017-05-10 02:05] michael-ciniawsky commented on #452
#450

[2017-05-10 08:11] Maxouhell commented on #452
Could you publish 6.0.5 on npm please ?

[2017-05-10 09:47] michael-ciniawsky commented on #452
@Maxouhell [v6.0.5](https://github.com/webpack-contrib/sass-loader/releases/tag/v6.0.5)

[2017-05-10 09:47] #452 closed

[2017-05-10 09:50] rtrompier commented on #452
Can you please upload to the npm repository too ?

Thanks ;)

[2017-05-10 10:13] michael-ciniawsky commented on #452
Sry that's the responsibility of one of the core members, I will try to ping one in slack, tbh I thought it's up already with a release tagged ¯\_(ツ)_/¯

[2017-05-10 10:20] michael-ciniawsky commented on #452
cc @jtangelder @akiran

[2017-05-10 16:01] JohnGallego commented on #40
@moiguitarrock, looking at the network requests, it looks like this setting sets url to an outside server hosting the files instead of the local ones bundled in with webpack.

[2017-05-11 11:33] evilebottnawi commented on #451
@DBosley close this issue, seems duplicate https://github.com/webpack-contrib/sass-loader/issues/425, also WIP.

[2017-05-11 11:33] #451 closed

[2017-05-11 13:17] evilebottnawi commented on #425
i hate `windows`, i spend about 4 hours just to build start to work :sob:

[2017-05-11 14:16] asolopovas commented on #425
@evilebottnawi I love windows, I hate their filesystem, they should have adopted it long time ago and nobody would be using mac right now. But if you fiddle a bit you can figure thing oit

[2017-05-11 14:18] evilebottnawi commented on #425
@asolopovas i don't use `mac` :smile:

[2017-05-11 14:47] evilebottnawi commented on #425
Confirmed, start to searching solution

[2017-05-11 18:53] evilebottnawi commented on #425
Seems related to https://github.com/mozilla/source-map/issues/91

[2017-05-11 22:22] strarsis opened #454 "eyeglass support?"
Can I use [eyeglass](https://github.com/sass-eyeglass/eyeglass) together with this loader?
Do I have to install eyeglass first? How can I integrate it?

[2017-05-11 22:38] michael-ciniawsky commented on #425
https://github.com/webpack-contrib/css-loader/pull/532

[2017-05-12 09:13] evilebottnawi commented on #454
@strarsis i am not familiar with `eyeglass`, best answer on this question is try to integrate this and if your got error put stack trace here. Btw, for question use `stackoverflow`, thanks!

[2017-05-12 15:13] evilebottnawi commented on #425
Not related to `style-loader`, feel free to reopen if after merge https://github.com/webpack-contrib/css-loader/pull/532 error still exists

[2017-05-12 15:13] #425 closed

[2017-05-12 15:35] strarsis commented on #454
Solution for eyeglass with sass-loader in recent webpack: https://github.com/sass-eyeglass/eyeglass/issues/153#issuecomment-300895607

[2017-05-12 15:35] #454 closed

[2017-05-13 04:52] tangshuang opened #455 "How can I separate vendor sass to single css files?"
Hi all,

Now I want to separate my vendors from project styles, for example:

[code]

As you seen, I imported bootstrap-sass in my project, but if I compile the whole styles, the output css file will be too big. Now I want to separate bootstrap-sass as bootstrap.css, and my project styles as main.css.

However, the problem is that I used bootstrap-sass $shadow, which should have to extend from boo

[2017-05-15 15:07] hvalcourtSerdy commented on #309
For the "throw new Error('Invalid mapping: ' + JSON.stringify", it appears this may be related to https://github.com/sass/libsass/issues/2312

[2017-05-15 15:11] evilebottnawi commented on #309
@hvalcourtSerdy A known problem, unfortunately it has not been solved for a long time

[2017-05-15 15:13] evilebottnawi commented on #455
@tangshuang using separate entries. Create `vendor` entry and include all vendor sass and create `app` entry and include all app sass. In front-end load first `vendor` entry then `app` entry.

[2017-05-15 18:03] luchillo17 opened #456 "[Bug] The /deep/ selector alias '>>>' is parsed incorrectly"
## Issue
Angular `/deep/` selector is parsed incorrectly, not sure if it's specific selector of Angular but it only happens when i add the `scss-loader` to the mix.

## Background
This post of stack overflow gives me a bit of background about those selectors.
http://stackoverflow.com/questions/42134355/the-use-of-deep-and-in-angular-2

## Errors
This is the input to the loader in the `app.componen

[2017-05-15 18:10] evilebottnawi commented on #456
@luchillo17 yep, latest `node-sass` and `libsass` not supporting `>>>`.

Using for testing - https://www.sassmeister.com/
Input:
[code]

Output:
[code]

Also original `sass` (written on `ruby`) also not supporting `>>>`. Sad, but we can not do anything. Your can create issue https://github.com/sass/node-sass/issues about this.

[2017-05-15 18:10] #456 closed

[2017-05-16 09:08] alxtz opened #457 "When using sass loader , background image would not work on <html> tag"
I've put the code not working here

https://github.com/alxtz/Buggy

I know styling directly on html tag is a bad practice , but the example I use has something like

I noticed that the background image would be broken(only styling direct on html)，css-loader is working file , and not using webpack is working fine , so I think there's somethin wrong with the sass-loader or resolve-url-loader.

[2017-05-16 09:36] evilebottnawi commented on #457
@alxtz I advise using first point from https://github.com/webpack-contrib/sass-loader#problems-with-url. `sass-loader` don't handle `url` and seems it is related to `resolve-url-loader` (he using `rework`, it is bad because `rework` is not deprecated)

[2017-05-16 17:27] pretentiousgit commented on #289
This is still a bug in webpack-cli with webpack 2.5.1, fresh install of everything.

[2017-05-16 17:59] luchillo17 commented on #289
@pretentiousgit Seems only with cli, i don't get this issue any more with latest webpack.

[2017-05-18 01:11] dwjft opened #458 "DeprecationWarning for sass-loader in newer webpack versions"
https://github.com/webpack/loader-utils/issues/56

[code]

Couldn't find an issue here with the search term `DeprecationWarning`.

[2017-05-18 01:18] michael-ciniawsky commented on #458
@dwjft `sass-loader` version (`@latest`) ?

[2017-05-18 02:42] dwjft commented on #458
Just did a complete wipe of my `package.json` and upgraded everything to latest.

Seems some fragment of the `create-react-app` was keeping versions in the past.

It is fixed with a fresh, latest install.

Thanks.

[2017-05-18 02:42] #458 closed

[2017-05-18 07:48] tangshuang commented on #455
@evilebottnawi As you seen, I use `@include box-shadow($shadow);` which is defined in bootstrap-sass.
Are you sure your solution will work?

[2017-05-18 09:44] evilebottnawi commented on #455
@tangshuang your can create entry with `bootstrap` and place here only `sass/scss` files. After include this file before other css files. If you want real modularity your should use `css-modules`. Please study https://github.com/css-modules/postcss-modules

[2017-05-18 11:11] evilebottnawi commented on #455
@tangshuang also your can do this automatically using `CommonsChunkPlugin` https://webpack.js.org/plugins/commons-chunk-plugin/ https://webpack.github.io/docs/stylesheets.html#styles-in-commons-chunk

[2017-05-18 22:00] wzup opened #459 "isn't a valid CSS value - sass-loader can't parse font shorthand options that are 100% valid for css"
Looks like `sass-loader` doesn't know how to parse this:
[code]

It is 100% valid value for `css`, but for some reason it is not valid for `sass-loader`.
It throws on `16px/calc(16px * 1.4)` part:

[code]

How to solve it? Is there some special syntax for it? Quotes don't work.

[2017-05-18 22:18] evilebottnawi commented on #459
@wzup yep, it is valid `css` and it should be valid as `scss` (working on original sass compiler v4).
Problems in `libsass` (https://github.com/sass/libsass). We can not do anything here. Please create issue in `libsass`.

https://www.sassmeister.com/
Input:
[code]
Output:
[code]

Thanks for helping us to do webpack better!

[2017-05-18 22:21] evilebottnawi commented on #373
Fell free to reopen issue if your problem not solved.

[2017-05-18 22:21] #373 closed

[2017-05-18 22:22] evilebottnawi commented on #353
Fell free to reopen issue if your problem not solved.

[2017-05-18 22:22] #353 closed

[2017-05-18 22:24] evilebottnawi commented on #207
Fell free to reopen issue if your problem not solved.

[2017-05-18 22:24] #207 closed

[2017-05-19 02:05] zhengxkq commented on #442
sorry,I found my label wrongly written by form .
Form was written as from！

[2017-05-19 02:05] #442 closed

[2017-05-20 07:11] maffelbaffel commented on #416
Sry for the late response, I've set up a small repo which shows the issue.
https://github.com/maffelbaffel/sass-substitution

Note:
I tried using `raw-loader` and `css-loader`, both with the same result:
[code]

Results in `bin/styles.bundle.js`:
[code]

Again, this only happens with `webpack -p`.

[2017-05-20 11:59] Nnutthowze commented on #309
I faced the same problem, but after reading this part of the post-css docs, I figured everything out...
https://github.com/postcss/postcss-loader#sourcemap
[code]

[2017-05-21 14:32] Stephen2 opened #460 "sass-loader creating broken paths in sourcemap"
Hey all, I'm stumped, can anyone help?  Sourcemaps are pointing at broken paths
![image](https://cloud.githubusercontent.com/assets/4276422/26284758/e0ab9202-3e85-11e7-84f4-6602e5cb3a11.png)

See how it's doubling up the paths, some with forward slash, some with backslash?  I'm on Windows...

When I replace sass-loader with just css-loader, or even post-css-loader + css-loader, sourcemaps work, so

[2017-05-21 23:07] michael-ciniawsky commented on #460
@Stephen2 https://github.com/webpack-contrib/css-loader/pull/532

⚠️ If you use `{ loader: 'postcss-loader', options: { sourceMap: 'inline' } }` the source map is inlined in the CSS as an annotation comment by `postcss-loader`, therefore `css-loader` doesn't have any effect on the map anymore

[2017-05-22 03:57] Stephen2 commented on #460
Thanks @michael-ciniawsky, I've been playing with kinds of combinations, but the basic one that seems sensible is:
[code]

So if I understand this right, this is a known issue and the fix seems to be close to accepted.  If that's not correct, let me know, and thanks again for helping.

[2017-05-22 04:15] michael-ciniawsky commented on #460
`{ loader: 'style-loader', options: { sourceMap: true } }`

It's on `master` (`css-loader`) now and a release should be underway, yes it's known issue if you have a few minutes, you could try if it works for you by `npm i -D webpack-contrib/css-loader`

Feedback would be appreciated 😛

[2017-05-22 07:26] Stephen2 commented on #460
[code]

Installed css-loader 0.28.2 and now I'm getting different behaviour, but I'm not sure which combination of my initial testing being at 2AM, the new change, mistakes in my testing?? etc...

Here's the behaviour:
* Style Loader & css loader only = paths good
* Add postcss loader = paths bad
* Add sass-loader = paths still bad
* Remove postcss loader = paths good!

So, now I'm suggesting that

[2017-05-22 07:30] michael-ciniawsky commented on #460
Just to clearify, you mean with `sass-loader` applied? (`style-loader!css-loader!sass-loader`) 😛

No no the opposite, it's appreciated, could ypu post some info on what is off when `postcss-loader` is used, so I can fix it there :)

[2017-05-22 07:43] Stephen2 commented on #460
Yes, style!css!sass is doing correct paths now.
![image](https://cloud.githubusercontent.com/assets/4276422/26297377/e8c65a0e-3f15-11e7-9174-cd7f0d94e189.png)

But with postcss = paths no good
[code]

![image](https://cloud.githubusercontent.com/assets/4276422/26297327/be3dd4c4-3f15-11e7-8266-5fbb202ba9a8.png)

Interestingly (or maybe expected behaviour?) testing this out (note post-css sourcemap:

[2017-05-22 08:00] michael-ciniawsky commented on #460
I see now, likely need to remove the `path.resolve()` part in `postcss-loader` I added in `v2.0.0` 😅. Thx I close the issue here and fix it in `postcss-loader` as soon as possible

[2017-05-22 08:00] #460 closed

[2017-05-23 09:56] evilebottnawi commented on #455
Closing due to inactivity, code splitting not related to `sass-loader`. Please read for webpack `v2` https://webpack.js.org/guides/code-splitting-css/

[2017-05-23 09:56] #455 closed

[2017-05-23 09:58] evilebottnawi commented on #459
Fixed: https://github.com/sass/libsass/pull/2392, let's  wait new version `node-sass` with new version `libsass`. Thanks!

[2017-05-23 09:58] #459 closed

[2017-05-23 09:59] evilebottnawi commented on #439
/cc @michael-ciniawsky friendly ping, let's finish it :smile:

[2017-05-23 10:01] evilebottnawi commented on #413
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions.

[2017-05-23 10:01] #413 closed

[2017-05-23 10:02] evilebottnawi commented on #352
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-05-23 10:02] #352 closed

[2017-05-23 10:04] evilebottnawi commented on #299
@jvanderberg your use `webpack` `v2` and latest versions of loader?

[2017-05-23 10:08] evilebottnawi commented on #192
Closing due to inactivity. Please test with latest `sass-loader` version and feel free to reopen if still regressions.

It will be great if someone shows use case for this.

[2017-05-23 10:08] #192 closed

[2017-05-23 10:12] evilebottnawi commented on #224
/cc @donaldallen @cwagner22 friendly ping

[2017-05-23 10:12] idangozlan opened #461 "Getting deprecation warning with Webpack 2"
When I'm using sass-loader on webpack 2, I'm keep getting this deprecation warning:
[code]

[2017-05-23 10:13] evilebottnawi commented on #351
Close here, not related to `sass-loader`, we need to search `C++` superman and fix it `libsass`

[2017-05-23 10:13] #351 closed

[2017-05-23 10:16] evilebottnawi commented on #461
@idangozlan seems your use old version `sass-loader`, try to use `rm -r node_modules`, then `npm cache clear` (`yarn cache clean`) and `npm i` (`yarn install`)

[2017-05-23 10:20] evilebottnawi commented on #202
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-05-23 10:20] #202 closed

[2017-05-23 10:23] idangozlan commented on #461
Tried, still getting that.
When i'm not using sass-loader it's not triggering that warning..

On Tue, May 23, 2017 at 1:16 PM, Evilebot Tnawi <notifications@github.com>
wrote:

--
Best Regards,
  Idan Gozlan, +972542251188.

P *Please consider the environment before printing this email.*

[2017-05-23 10:24] evilebottnawi commented on #145
Apparently there is no for this universal and good solution. If someone has an idea how we can to implementing this, i will be glad to see this here https://github.com/webpack-contrib/sass-loader/issues/296.

[2017-05-23 10:24] #145 closed

[2017-05-23 10:26] evilebottnawi commented on #461
@idangozlan https://david-dm.org/webpack-contrib/sass-loader our deps status. It looks like you're using something other together `sass-loader`

[2017-05-23 10:30] evilebottnawi commented on #457
Close, not related to `sass-loader`, feel free to reopen if your think problem in `sass-loader`.

[2017-05-23 10:30] #457 closed

[2017-05-23 10:36] evilebottnawi commented on #286
@josepapaianni @rossthedevigner problems still exist? Can your create minimal test reproducible test repo?

[2017-05-23 10:38] evilebottnawi commented on #316
Closing due to inactivity. Please test with latest version (also test your sass style sheets in https://www.sassmeister.com/, maybe it is related to `node-sass/libsass`) and feel free to reopen if still regressions. Thanks!

[2017-05-23 10:38] #316 closed

[2017-05-23 11:04] cwagner22 commented on #224
Sorry I'm not using webpack in my current project. If I get this issue again in the near future I'll try to make a test repo. (but the default config should be enough to reproduce it, if the issue is still not fixed)

[2017-05-23 11:06] evilebottnawi commented on #436
Closing due to inactivity. Please show your use case where your need logs and why? Another loader don't have logs, seems it is not required.

Also we are gradually integrating validation options (example https://github.com/postcss/postcss-loader/blob/master/lib/options.json).

[2017-05-23 11:08] evilebottnawi commented on #436
@michael-ciniawsky can you help with integrate validation option as in https://github.com/webpack-contrib/extract-text-webpack-plugin/tree/master/schema ? :smile:

[2017-05-23 11:11] evilebottnawi commented on #409
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions, also seems your have invalid url, please read https://github.com/webpack-contrib/sass-loader#problems-with-url about how it solve. Thanks!

[2017-05-23 11:11] #409 closed

[2017-05-23 11:19] evilebottnawi commented on #211
@thathurtabit yep, your should import `variables/mixin/etc staff` in each module, because it is module. To make it easier, you can create `shared.scss` (with variales, mixins, placeholders and etc) and include only one `shared.scss` file.

[2017-05-23 15:05] jvanderberg commented on #299
We have not moved to Webpack 2 yet, and are using the version listed in my previous comment.  I suspect webpack 2 will fix things because it does not automatically put plugins into minimize mode when UglifyJSPlugin is used.

[2017-05-23 15:09] evilebottnawi commented on #299
@jvanderberg Closed the issue. if your will get this error after moving to `webpack` `v2` feel free to reopen. Thanks!

[2017-05-23 15:09] #299 closed

[2017-05-24 05:16] shafaqkazmi opened #462 "output CSS file for sass-loader"
I'm using angular 4 with webpack. I'm wondering where it outputs the css file. How can I load compiled CSS into web. Here is my configuration:

 **webpack.common.js**

[code]

[2017-05-24 06:03] michael-ciniawsky commented on #462
`loader` => `use` in `config.rules[i]`
`fallbackLoader`=> `fallback` && `loader` => `use` in `ExtractTextPlugin`

The CSS file should be emitted into your `output` directory specified in `config.output` and you need to add a `<link rel="stylesheet" href="extracted.css">`yourself or maybe `HTMLPlugin` supports that via options or plugin hook (I don't use it 😛 ). Closing as unrelated to `sass-loader

[2017-05-24 06:03] #462 closed

[2017-05-24 07:03] shafaqkazmi commented on #462
hey @michael-ciniawsky , can u please elaborate it more? I'm already using ExtractTextPlugin

[code]

also, I cant see config.output. Configuration files are uploaded on Github gist https://gist.github.com/shafaqkazmi/abbf5b07a70e6d23463d2de7d42f2a53

[2017-05-24 07:22] michael-ciniawsky commented on #462
`config.output` ===
**webpack.config.js**
[code]

Maybe

[code]

Please update the config syntax as stated above and what exactly is not working ?
Do you get a CSS file ?
Do you get an Error ?

[2017-05-24 09:33] gizm0bill opened #463 "Deep import from scoped npm package breaks webpack resolve.aliases"
[code]

[code]

[code]

[code]

[code]

[code]

[2017-05-24 09:35] zhenyulin opened #464 "namespace: package name update"
How about update the package name to webpack-sass-loader? At the moment, the webpack plugins/loaders namespace isn't very consistent. In comparison, babel, eslint, react, redux all have the namespace in a consistent convention, helping make the dependency tree clean.

[2017-05-24 09:40] michael-ciniawsky commented on #464
See https://github.com/webpack-contrib/style-loader/issues/239

[2017-05-24 09:40] #464 closed

[2017-05-24 10:09] shafaqkazmi commented on #462
hey @michael-ciniawsky : there is no error in console but the only issue is I need the compiled CSS file. like my JS files are output in specific location

[code]

[2017-05-24 10:32] evilebottnawi commented on #463
@gizm0bill thanks i near future i investigate this

[2017-05-24 10:32] michael-ciniawsky commented on #462
[code]

`app` is **not** a `Common Chunk` like a lib, which is likely `imported` multiple times. `app` => `bundle.js`

In regard to your CSS issue, try without `include/exclude` and see if you at least get a file emitted also update your dependencies in `package.json` many of them are outdated. If it still doesn't work please open an issue in angular/angular-cli

[2017-05-25 19:48] Guobacai opened #465 "sass-loader break the webpack2 whenever encounter the @import"
webpack -> 2.6.1
webpack-dev-server -> 2.4.5
sass-loader -> 6.0.5
node-sass -> 4.5.3

I follow the example settings on the readme.
[code]

Whenever I start the webpack-dev-server in the gulp, it shows the following non-meaningful error message:
undefined:0

TypeError: undefined is not a function

it looks like this issue is caused by the @import in the scss file:
@import 'app/index/styles'
Wheneve

[2017-05-25 20:00] evilebottnawi commented on #465
@Guobacai can your show stack trace of error?

[2017-05-25 21:09] Guobacai commented on #465
@evilebottnawi I tried a few ways to print out the stack trace, but failed.
The webpack doesn't show any stack trace of error. I just show the above error and hang there (It doesn't even exist.)

I found the same issue reported here: https://github.com/shama/webpack-stream/issues/135

If I missed anyway to show the stack trace of error, please advise me.

Thanks @evilebottnawi for your time.

[2017-05-25 21:29] evilebottnawi commented on #465
@Guobacai be good if your can create minimal test reproducible repo :+1: This will help us understand why it happens

[2017-05-27 23:48] marekpw opened #466 "Importing sheets with dependencies on other npm packages"
I'm trying to import the @material/button library like this:

```@import "~@material/button/mdc-button";```

However the mdc-button tries to import from another library:

```@import "@material/animation/variables";```

Webpack/sass-loader understandably complains that the file is not found, because it's not prefixed with a tilde.

Is there any workaround/fix to this issue?

[2017-05-28 12:45] Yizhachok commented on #466
Have the same issue

[2017-05-28 15:36] vorlov commented on #410
+1 same issue, webpack 2

[2017-05-28 16:54] thescientist13 commented on #465
I am seeing this issue as well.  Here is the full output I am seeing
[code]

- webpack: 2.5.1
- sass-loader: 6.0.5

[2017-05-28 17:11] evilebottnawi commented on #465
@thescientist13 seems not related to `sass-loader`. Problems in `webpack/lib/Compilation.js:219:10`, maybe something wrong with `ts-loader` loader?

[2017-05-28 17:35] thescientist13 commented on #465
thanks @evilebottnawi , yeah I'm reviewing [another project](https://github.com/thegreenhouseio/react-webapp-seed) of mine that has this working and so just trying to diff the two.  A very barebones example with just `babel-loader` works, so yes, appears to be something not related to sass-loader specifically.  Will continue debugging a little bit more and post back if I can find anything.

[2017-05-29 15:19] thescientist13 commented on #465
It seemed in my case I was getting this error in regards to using `@fontface` in my _.scss_ file.  When adding them back in and using **url-resolve-loader**, there were no more errors.

[2017-05-30 19:26] sciencekidster commented on #410
I have the same issue in webpack 2.

[2017-05-30 19:35] evilebottnawi commented on #410
PR welcome :+1:

[2017-05-31 16:49] markthiessen commented on #460
@michael-ciniawsky any progress on this? I'm running into the same issue

[2017-06-01 04:43] borela commented on #465
I believe you need to add the directories to the `includePaths` to help resolve the files like so https://github.com/ctrine/webpack-settings/blob/master/packages/shared/src/rules/sass-module.js

[2017-06-01 04:45] borela commented on #466
`@import "~@material/button/mdc-button/mdc-button.scss";
Or ask the owner of the package to add a `main` field in the `package.json`

[2017-06-01 04:47] borela commented on #358
@kahwee https://github.com/ctrine/webpack-settings/blob/master/packages/shared/src/rules/sass-module.js

[2017-06-01 07:58] heikkimu opened #467 "webpack sassLoaderConfig does not work"
I'm trying to push new settings to node-sass by using webpack's config option.

More elaborate description can be found from here:
https://stackoverflow.com/questions/44281746/storybook-to-import-scss-by-using-package-jsons-style-field

node: '6.9.1'
node-sass: "4.5.3"
sass-loader: "6.0.5"
webpack: "1.13.1"

In short:

Sass-loader doesn't recognize config given on either methods, presented on READ

[2017-06-01 10:10] evilebottnawi commented on #467
@heikkimu `sass-loader` does't not have `config` option, see `options` in `README.md`.
Example
[code]

[2017-06-01 10:10] #467 closed

[2017-06-01 10:11] evilebottnawi commented on #467
@heikkimu Also your question on `stackoverflow` related to `webpack` v1, please update to `webpack` v1

[2017-06-01 11:09] heikkimu commented on #467
Source:
https://github.com/webpack-contrib/sass-loader/tree/archive/webpack-1

![image](https://cloud.githubusercontent.com/assets/7942632/26677277/e1655a1a-46d3-11e7-84fd-0043a5f9abdd.png)

So, how we should proceed with this?

[2017-06-01 11:26] evilebottnawi commented on #467
@heikkimu current version of `sass-loader` doesn't support webpack v1 (https://github.com/webpack-contrib/sass-loader/blob/master/package.json#L36), your can update to v2 ( **Recomended** https://webpack.js.org/guides/migrating/) or use old version `sass-loader` (https://github.com/webpack-contrib/sass-loader/tree/v4.1.1, can contains errors and unexpected behavior).

[2017-06-01 14:12] michael-ciniawsky commented on #465
This seems to be resolved, closing for now, but feel free to reopen if still regressions related to `sass-loader` :)

[2017-06-01 14:12] #465 closed

[2017-06-01 14:15] evilebottnawi commented on #466
@marekpw @Yizhachok @borela can your provide minimal reproducible test repo?

[2017-06-02 13:06] katzz0 commented on #460
And me too. Why do we have absolute path not relative in the source map?

[2017-06-02 14:26] evilebottnawi commented on #460
@katzz0 no, seems your configuration invalid, can your show configuration?

[2017-06-02 14:48] katzz0 commented on #460
This is my configuration of loaders for scss:
[code]

And versions:
"style-loader": "^0.13.1"
"css-loader": "^0.28.4",
"postcss-loader": "^2.0.5",
"autoprefixer": "^7.1.1",
"node-sass": "^4.5.2",
"sass-loader": "^6.0.5",
"resolve-url-loader": "^2.0.2",

And as result I have files routes like C:\...C:\...C:\... which seems wrong. I'd like to have relative paths.

[2017-06-02 15:29] evilebottnawi commented on #460
@katzz0 seems `resolve-url-loader` not works as expected. I don't recommendation usage this loader.
Why?
1. He seems abandoned.
2. He use rework (abandoned).

[2017-06-02 15:51] katzz0 commented on #460
But it's specified in the documentation for sass-loader that it properly processes url in styles and needed for sass loader. I'll try without it and let know about results.

[2017-06-02 16:00] evilebottnawi commented on #460
@katzz0 At the time of writing it was not abandoned, now there is no alternative, so he stayed in README. I don't use `resolve-url-loader` loader in my projects and all works fine.

[2017-06-03 01:01] FarhadG opened #468 "Unable to compile styles within create-react-app"
This is strange as the same exact flow was working a few months ago with `create-react-app` but now, the styles don't appear to be getting compiled or applied. I don't see any sort of errors other than the obvious visuals missing.

Here's the update you need to make to `create-react-app`'s webpack configuration:

[code]

I'm sure this is a versioning issue but I can't seem to figure out which vers

[2017-06-03 01:30] FarhadG commented on #468
I guess int he new `create-react-app`, the `url-loader` was updated and you need to also exclude `.scss` files there:

[code]

[2017-06-03 01:30] #468 closed

[2017-06-03 07:10] monarchjhaveri commented on #40
@JohnGallego  I don't see this behaviour on my local

[2017-06-04 09:06] marekpw commented on #466
@evilebottnawi sure, here you go: https://github.com/marekpw/sass-loader-mdc/

As expected, prefixing the first import with tilde in ```@material/button/mdc-button.scss``` works, but it breaks on the next import.

[2017-06-04 10:47] borela commented on #466
@marekpw got it, you need to add includePaths like so:

[code]

[Here's a full package for compiling websites in you case you need hot reloading too.](https://github.com/ctrine/webpack-settings/tree/master/packages/web)

[2017-06-04 11:03] marekpw commented on #466
Cool, that works. Thanks a lot.

[2017-06-06 07:09] katzz0 commented on #460
I tested without `resolve-url-loader` and there are two parts only C:\...C:\... or one when I remove `postcss-loader`.

What can I do to force using relative routes to my source files not absolute? It specifies relative paths like `src/app/some-file.ts` for my TypeScript files but for scss files I have absolute paths and it's really inconvenient to look at file names in the Chrom dev tool.

[2017-06-06 07:30] michael-ciniawsky commented on #460
@katzz0 The relevant line are [here](https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L149-L152), could you comment them out in your local version of `postcss-loader` (`node_modules`) and please confirm that source map(pings) are still working correctly ?  I added these lines as it's recommended to have provide absolute paths to webpack for correct source mappings

[2017-06-06 07:45] katzz0 commented on #460
Yes, it works. I commented specified lines in postcss-loader and have correct absolute paths in my map files.

[2017-06-06 08:58] katzz0 commented on #460
I tried to comment lines but it doesn't change anything. I tryed to walk through the process of modification source maps and it seems that css-loader adds additional part see [here]`https://github.com/webpack-contrib/css-loader/blob/master/lib/processCss.js#L198`

[2017-06-06 10:32] silverbackdan opened #469 "Not creating css file on Mac"
I'm trying to use webpack to compile assets. It is working well with copying images and compiling javascript. It also appears to compile the scss but the final file is not created. This script works: `sass --watch resources/assets/sass/app.scss:public/css/app.css --load-path ./`

However `webpack --config=node_modules/laravel-mix/setup/webpack.config.js --watch --progress` does not create the css

[2017-06-06 10:54] silverbackdan commented on #469
Additionally, I've just looked in sass-loader and can confirm that the scss is being compiled to a css string, the string is being returned to the async callback, but I'm not sure where that is to continue trying to figuring it out any further.

[2017-06-06 10:56] katzz0 commented on #460
`sourceMap: false` helps for routes but I get a lot of warning from postcss inthis case.

[2017-06-06 11:19] evilebottnawi commented on #469
@silverbackdan please provide more detailed webpack configuration

[2017-06-06 11:54] silverbackdan commented on #469
@evilebottnawi I'm sorry for taking your time. I've created a stripped back config instead of using a Laravel install. The config works and creates a file. There is an issue that files are not watched still but I can raise an issue on the main webpack repo for that as they don't appear to be linked. (Although I'm just struggling through with this at the moment trying to work it out).

[2017-06-06 11:54] #469 closed

[2017-06-06 11:59] evilebottnawi commented on #469
@silverbackdan feel free to reopen if issue will be related to `sass-loader`

[2017-06-06 18:31] evilebottnawi commented on #466
@borela @marekpw bad solution, using `includePaths` option reduces performance

[2017-06-06 19:22] borela commented on #466
@evilebottnawi What's the other option?

[2017-06-06 19:23] evilebottnawi commented on #466
@borela seems it is regression bug after https://github.com/webpack-contrib/sass-loader/pull/450 or https://github.com/webpack-contrib/sass-loader/pull/447

[2017-06-06 19:51] laurazenc commented on #218
@lorenzomigliorero's solution worked for me, except I had to go up one level to access the **_style_** folder which was inside the **_src_** folder

`@import '${path.resolve(__dirname, '..', 'src', 'style').replace(/\\/g, '/')}/vars';`

[2017-06-06 19:53] borela commented on #466
@evilebottnawi I believe this bug was introduced before then, I had been using the `includePath` even for non scoped packages for a long time because it isn't using webpack's resolver, which is why [I suggested custom extensions here](https://github.com/webpack-contrib/sass-loader/issues/339).

[2017-06-06 19:56] evilebottnawi commented on #466
@borela I will try to solve this problem today or tomorrow, thanks!

[2017-06-06 19:59] borela commented on #466
@evilebottnawi Thank you, I wish I could offer better help but I am still learning how webpack loaders work.

[2017-06-06 20:16] borela commented on #339
[The current behaviour is actually a bug as mentioned here](https://github.com/webpack-contrib/sass-loader/issues/466).

[2017-06-06 20:16] #339 closed

[2017-06-06 20:28] marekpw commented on #466
@borela as a workaround, it's still better than nothing for now :)

[2017-06-06 20:38] evilebottnawi commented on #412
@zabojad friendly ping

[2017-06-06 21:49] evilebottnawi commented on #466
Seems problems in `node-sass` (they don't support scoped import https://github.com/sass/node-sass/issues/1596)

[2017-06-07 08:52] silverbackdan commented on #469
@evilebottnawi thank you, it appears it's related to this bug with webpack watch commands: https://github.com/webpack/webpack/issues/4250 but I've left this closed as I'm not sure if the root cause of the problem will be in the main webpack code or this loader.

[2017-06-07 10:55] lukepolo commented on #435
Just went into beta , may be with looking into now

[2017-06-07 22:50] tleunen opened #471 "Add webpack 3 support"
Webpack 3 rc has been release. It would be great to make sure the loader works as expected with it.

[2017-06-07 22:56] michael-ciniawsky commented on #471
It doesn't work at all or does it just displays a warning for an unmet `peerDependency`?

[2017-06-07 23:17] evilebottnawi commented on #461
Close. Feel free to open if your again get this warning.

[2017-06-07 23:17] #461 closed

[2017-06-07 23:28] evilebottnawi commented on #147
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-06-07 23:40] evilebottnawi commented on #463
@gizm0bill using `@import '~@styles/main';` mean what `sass-loader` try to search file by `node_modules/@style/main` path. Alias should be working only if your use `@import '~@styles'`.

`@import '~@styles/main';` - importing file from package.
`@import '~@styles';` - importing module (respect browser field in `package.json` and etc).

[2017-06-07 23:49] evilebottnawi commented on #466
/cc @michael-ciniawsky what do your think about problems? It's hard for me to imagine a solution for her, we can't add `~` in vendor sass styles :disappointed:

[2017-06-07 23:49] evilebottnawi commented on #286
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-06-07 23:49] #286 closed

[2017-06-07 23:51] evilebottnawi commented on #306
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-06-07 23:51] #306 closed

[2017-06-08 00:02] michael-ciniawsky commented on #466
Besides the `includePaths` workaround there is no (clean) way to fix that atm, it would require `node-sass` to expose a hook to rewrite the `@import` paths before importing the contents

https://www.npmjs.com/package/sass-graph

https://www.npmjs.com/package/sass-module-importer
https://www.npmjs.com/package/node-sass-package-importer

Or writing our own :)

[2017-06-08 00:07] evilebottnawi commented on #466
@michael-ciniawsky yep, this is known, the question is whether we at the level `sass-loader` fix it or not

[2017-06-08 00:09] michael-ciniawsky commented on #466
It will require changes to `sass-loader` I would say, for the webpack glue (pre-resolving)

[2017-06-08 00:10] michael-ciniawsky commented on #466
What do you exactly mean by _fix_ ? 😛

[2017-06-08 00:12] evilebottnawi commented on #466
@michael-ciniawsky no new loader or something, just change logic in sass-loader which allow loading scoped importing in vendor sass/scss styles

[2017-06-08 00:27] michael-ciniawsky commented on #466
If possible we should do it :), I'm not _too_ familiar with `sass-loader` internals and need to take a look myself first, if you have something in mind just propose it 😛

[2017-06-08 00:30] evilebottnawi commented on #227
Seems duplicate https://github.com/webpack-contrib/sass-loader/issues/466. Feel free to reopen if it is different problem. Fast solution as said jhnns https://github.com/webpack-contrib/sass-loader/issues/227#issuecomment-228594718

[2017-06-08 00:30] #227 closed

[2017-06-08 10:40] bartwitt commented on #393
Thanks @jhnns! Already spent a lot more time on this issue than I hoped, but I'm pretty sure your post saved me from spending a lot lot more ;)

[2017-06-09 06:16] gizm0bill commented on #463
@evilebottnawi aliases in webpack can be setup in various ways, going deep from the aliased path: https://webpack.github.io/docs/configuration.html#resolve-alias
now the `browser` field from `package.json` I don't really think it's in the official docs, I only found this link: https://github.com/defunctzombie/package-browser-field-spec about it... is this what are you talking about?

[2017-06-09 10:15] woshi82 commented on #407
@MrEfrem It seems in v6.0.5, the problem still exist in windows, so i have to use following code to avoid the problem.
[code]

[2017-06-09 10:19] MrEfrem commented on #407
@woshi82 ok, thanks. How will try again don't forget you example.

[2017-06-12 13:59] evilebottnawi commented on #416
Using only `--optimize-minimize` сauses this problem, I investigate this

[2017-06-12 14:20] evilebottnawi commented on #416
Problem in `node-sass/libsass`, just try to setup `outputStyle` to `compressed`.

https://gist.github.com/evilebottnawi/c56515c6b4ef5238a714afaba9d626c7

[2017-06-12 14:33] michael-ciniawsky commented on #416
https://github.com/webpack-contrib/sass-loader/blob/master/lib/normalizeOptions.js#L27-L29

Maybe ditch `loaderContext.minimize`

[2017-06-12 14:34] evilebottnawi commented on #416
@michael-ciniawsky I also think so, but the problem should be reported in any case

[2017-06-12 14:38] evilebottnawi commented on #416
@michael-ciniawsky One good question:
`minimize` === `compressed` or not

[2017-06-12 14:54] michael-ciniawsky commented on #416
Does `compress` anything special in terms of SASS 'minification'?  I wonder why this is actually needed at all,  since `minimize`  in `css-loader` will minify the CSS anyways :)

[2017-06-12 14:58] evilebottnawi commented on #416
@michael-ciniawsky

[2017-06-12 14:59] evilebottnawi commented on #416
@michael-ciniawsky seems yes

[2017-06-12 15:01] michael-ciniawsky commented on #416
😆 I wanted to post excatly this link rigth now :). Hmm... doesn't `cssnano` (`css-loader`) handle colors aswell (not sure) ?

[2017-06-12 15:04] evilebottnawi commented on #416
@michael-ciniawsky yep, `cssnano` handle colors, but maybe some people don't use `cssnano` and use only `compressed` style

[2017-06-12 15:12] michael-ciniawsky commented on #416
If `webpack -p || webpack --optimize-minimize` is used css-loader's `loaderContext.minimize` will run `cssnano` :), `sass-loader` can't be used standalone atm. If folks want to use `compressed` mode, set `options.outputStyle` explicitly ?

[2017-06-12 15:15] evilebottnawi commented on #416
@michael-ciniawsky yep, they can setup `outputStyle` directly using loader `options`.

[2017-06-13 11:24] evilebottnawi commented on #435
@lukepolo seems more related to `node-sass`, we should have `dart-sass` port on nodejs. Now we don't have this port and it is impossible.

[2017-06-13 14:30] dovidweisz commented on #412
I am encountered the same issue when upgrading sass-loader from 4.1.1 to 5.0.0.

I use `includePaths` to tell my modules where to find foundations mixins etc.

When using the `LoaderOptionsPlugin` method to set my node-sass options, it could not find my dependencies. As @zabojad mentioned above, stringifying my options and passing them inline to the loader fixed this issue.
[code]
I wonder if `inc

[2017-06-13 15:15] evilebottnawi commented on #412
@dovidweisz please update to `latest` `sass-loader` version

[2017-06-13 15:20] dovidweisz commented on #412
@evilebottnawi i just did.

I updated to 6.0.5 and am still experiencing the same issue. ☹️

[2017-06-13 15:22] evilebottnawi commented on #412
@dovidweisz can your provide config or best minimal reproducible test repo?

[2017-06-13 19:23] dovidweisz commented on #412
@evilebottnawi Here you go:

https://github.com/dovidweisz/todomvc-angular-4

upgrade `sass-loader` to the latest version and watch it break 😄

[2017-06-13 20:12] evilebottnawi commented on #412
@dovidweisz config is very unreadable.
Also `build` and `start` is working good for me.
Don't recommend use options as query argument. Please refactor your app.

Also `var sassOptions = getLoaderConfig(this); console.log(sassOptions);` inside `sass-loader` output:
[code]
Which mean all options are respected inside `sass-loader`, your can have invalid `@import 'something'` in your styles.

[2017-06-13 20:15] evilebottnawi commented on #412
Sorry but not related to `sass-loader`, also we have tests on `includePaths` option. Also you can notice below config is not right way, just use `options` property for each loader in your rules.

[2017-06-13 20:18] evilebottnawi commented on #412
@zabojad
[code]
Refactor to
[code]

[2017-06-13 20:18] #412 closed

[2017-06-13 20:30] dovidweisz commented on #412
@evilebottnawi

I created this repo (read as two hours of my employers time) specifically to show you this issue. Please don't close it because you could't reproduce the issue.

If you would look at the  package.json you would see that sass-loader is at version 4.1.1.

The idea was that you would:
1. Build the project and see that its working
2. modify package.json like so:
[code]
3. run `npm inst

[2017-06-13 20:31] dovidweisz commented on #412
to reproduce the issue run these commands:

[code]

[2017-06-13 20:32] evilebottnawi commented on #412
@dovidweisz already testing, just wait

[2017-06-13 20:42] dovidweisz commented on #412
Now is see [LoaderOptionsPlugin](https://webpack.js.org/plugins/loader-options-plugin/) is deprecated. I will attempt to fix it using the new recommended syntax.

Thank You

[2017-06-13 20:44] evilebottnawi commented on #412
@dovidweisz yep, I just wanted to write about this, just avoid to use `LoaderOptionsPlugin`, they still buggy and incompatibility with many thing.

[2017-06-13 21:14] evilebottnawi commented on #211
Two ways:
1. Use common `variables.scss` file and include in every require file.
2. Use https://github.com/shakacode/sass-resources-loader

Close. If these solutions do not suit you, please write here about this and explain why.

[2017-06-13 21:14] #211 closed

[2017-06-13 21:20] evilebottnawi commented on #436
Close. No feedback. Feel free to reopen and explain why we need log?

[2017-06-13 21:20] #436 closed

[2017-06-14 00:55] tfsimondouglas commented on #410
The only way I have worked around this in to create a dummy directory in node modules, and symlink the path that you want.
I do this in a git postinstall hook

[code]

Then in scss land you can do:
[code]

[2017-06-14 15:40] SirCameron opened #474 "Option to switch off url parsing"
Hi Guys

Thanks for this tool.
I'm having issues with the url parsing and url rewriting.
I have images in a separate folder to my final css when built.
Problem is that the images are referenced as being within the css dir, like: css/images/logo.png

Is there a way to switch OFF the automatic url parsing and bundling of images?

I would use the file-loader instead and be able to reference my images

[2017-06-14 15:43] evilebottnawi commented on #474
@SirCameron `sass-loader` don't parse url

[2017-06-14 15:44] evilebottnawi commented on #474
@SirCameron handling `url` do `css-loader` https://github.com/webpack-contrib/css-loader#options

[2017-06-14 15:51] evilebottnawi commented on #471
This will done be in https://github.com/webpack-contrib/sass-loader/issues/429
All works fine, your got just a warning for an unmet peerDependency, it's not a critical.

[2017-06-14 15:52] SirCameron commented on #474
Ok, so the resolve-url-loader that is grabbing and resolving the url specified in the css.
So not sass-loader's baby at all.

The problem is that it is retrieving the resource, but bundling it into the incorrect directory and so the final css can't find the file..  :/

[2017-06-14 15:55] evilebottnawi commented on #474
@SirCameron maybe your should setup `file-loader` https://github.com/webpack-contrib/file-loader using `Filename template placeholders` where specify where your want save files.

[2017-06-14 16:00] SirCameron commented on #474
@evilebottnawi I am.. Problem is that it's resolving the final url incorrectly.
I'll create an issue there.

Thanks for your help 👍

[2017-06-14 16:12] evilebottnawi commented on #474
@SirCameron Can i close issue here? Feel free to reopen if it is not solve your problem. Thanks!

[2017-06-14 16:16] evilebottnawi commented on #463
@gizm0bill seems alias don't work now for all packages https://github.com/webpack-contrib/sass-loader/issues/410, it is related to this problem, right?

[2017-06-14 16:31] d3viant0ne commented on #471
@evilebottnawi - We still support nodejs 4.3, where this would / does blow up the build.

I'll add the peerDep and new Travis file in a smaller PR than defaults.

[2017-06-14 16:54] SirCameron commented on #474
Yup, totally closable. Apologies for my confusion.

[2017-06-14 16:54] #474 closed

[2017-06-14 17:49] #471 closed

[2017-06-14 18:26] gizm0bill commented on #463
Might be, need to check..

[2017-06-15 12:43] VaskaDogana opened #476 "How I can check: this css file was imported or not?"
Hi, I have  multi page react  application and everytime when  chunk load,  your loader put style tag into head. How I can watch for this process? And also  if I can clean style what doesn't  use on page it would be cool. May be you advise how do it..

[2017-06-15 13:13] evilebottnawi commented on #476
@VaskaDogana can your provide more information what actually and what expected, better will be create minimal reproducible test repo

[2017-06-15 18:50] SirCameron opened #477 "Info and help to others!"
I was getting the "expected 1 selector or at-rule.." error and pulling my hair out.

After saving the file again with Sublime, it compiled correctly.
Returning to Atom and saving the file triggered the error.

ATOM! Not the first time I've wanted to throw my computer in a lake.
To fix this, I switch the Tab Type setting to "soft" in preferences > editor.
I suppose "hard" could be used also, but ma

[2017-06-15 20:05] libbytron commented on #373
I have this same issue....

[2017-06-16 12:09] evilebottnawi commented on #477
@SirCameron please, provide your minimal reproducible test repo

[2017-06-16 12:12] SirCameron commented on #477
@evilebottnawi This was just meant as a small help for those using Atom and getting the expected rule error.

[2017-06-16 12:19] evilebottnawi commented on #477
@SirCameron `sass-loader` don't related to Atom and Atom plugin. Can your provide example where your have unexpected behavior?

[2017-06-16 12:26] SirCameron commented on #477
@evilebottnawi Dude, I know it's not related, but the error is a combination of the two. So I'd like to help others not pull their hair out.

Don't worry. Forget it.
Please delete this.

[2017-06-16 12:34] evilebottnawi commented on #477
@SirCameron just close. Someone can use the search and find it. Thanks!

[2017-06-16 12:34] #477 closed

[2017-06-19 09:18] lili21 commented on #351
@Andrey7287

[2017-06-20 10:53] evilebottnawi commented on #431
@mooror friendly ping

[2017-06-26 09:04] marcinant opened #478 "Update dependency for webpack 3.0"
Installation returns:

[code]

Could you update dependencies to support webpack 3.0 ?

[2017-06-26 09:38] GoranGjorgievski commented on #445
Could you please point out what was the solution?

[2017-06-27 08:42] evilebottnawi commented on #478
@marcinant already updated https://github.com/webpack-contrib/sass-loader/blob/master/package.json#L57

Just update to 6.0.6 version (https://github.com/webpack-contrib/sass-loader/blob/master/package.json#L3)

[2017-06-27 08:42] #478 closed

[2017-06-28 03:37] rhys-vdw commented on #420
Hey @evilebottnawi. Looks like we're going to try to tackle this another way - by defining the values in Sass and then using [a loader](https://github.com/monvillalon/sass-values-loader) to parse the file and convert any variable values to JS.

Thanks for the help. You can close this issue.

[2017-06-28 10:14] evilebottnawi commented on #420
@rhys-vdw great! btw i have same module for extract variables, just for information https://github.com/itgalaxy/get-sass-vars-sync

[2017-06-28 10:14] #420 closed

[2017-06-28 16:50] yogeshgadge opened #480 "Import fails from node_modules"
Following works fine from my project

`@import "~some-node-depedency/dist/scss/icons`

But the `node_modules/some-node-depedency/dist/scss/_iconsscss` file further contains the following:-

[code]

and when I do a webpack build (I am using it via angular-cli) I get following error

Asked  https://stackoverflow.com/questions/44808024/importing-scss-from-node-modules-webpack
but this may be a bug.

[2017-06-28 16:54] evilebottnawi commented on #480
@yogeshgadge can your create minimal reproducible test repo? I am use font-awesome in my projects with sass-loader and all works fine

[2017-06-28 17:02] #480 closed

[2017-06-28 17:03] yogeshgadge commented on #480
Figured out - I was using `fontawesome` as dependency instead of `font-awesome`. After inspecting node_modules I realized the mistake. It works fine.

[2017-06-28 19:20] yogeshgadge opened #481 "Import fails from node_modules when the module name is same as resolve alias"
Somewhere in my code I use

`import 'mdl-selectfield';`

for which I have create a resolve alias as below:-

[code]

then somewhere down the line in my styles.scss I use some import as below:-

`@import "~mdl-selectfield/src/selectfield/selectfield";`

This results into module not reachable error for the SCSS import.

If I change the alias to something other than the module name then it works fine

[2017-06-28 19:36] evilebottnawi commented on #481
@yogeshgadge aliases not working now for `sass-loader`, PR fixes this https://github.com/webpack-contrib/sass-loader/pull/479

[2017-06-28 23:33] rhys-vdw commented on #420
@evilebottnawi Ah, cool! This one was made by my coworker. He looked at four modules that do this work and found each to be flawed in some way, but I don't think he saw yours. Why sync? Surely an async loader is preferable, no?

[2017-06-29 10:29] evilebottnawi commented on #420
@rhys-vdw your can rewrite on async, it is repo for my internal use, feel free to rewrite or we can write common repo based on my work :smile:

[2017-06-29 10:52] xzyfer commented on #416
Hallo, I'm the maintainer of LibSass and Node Sass.

This is actually a Sass feature. When CSS colors are unquoted they're treated as Color objects, not Strings as you might expect. This is why you can do things like color math on them.

A feature of Color objects is that when they're output in compressed mode, Sass tries to output the shortest representation i.e. `#fff` is more "compressed" than

[2017-06-29 10:54] xzyfer commented on #416
Taking the OPs example

[code]

[2017-06-29 10:55] jeffijoe commented on #416
@xzyfer thank you for clarifying! That does make good sense, and the problem ultimately lies with library authors' lack of quotes.

[2017-06-29 10:58] evilebottnawi commented on #416
Thanks all who helped clarify this problem. Close here because not related to `sass-loader`.

[2017-06-29 10:58] #416 closed

[2017-06-29 10:59] evilebottnawi commented on #481
@yogeshgadge hm, should be work with module import can your provide minimum test repo?

[2017-06-29 11:34] kang-chen commented on #309
I'm using `"webpack": "^3.0.0"`

This is a working config without postCSS:

[code]
Found [here](https://stackoverflow.com/questions/42876604/configuring-css-modules-in-development-production-with-webpack-and-react)

[2017-06-29 11:39] evilebottnawi commented on #309
@kang-chen your config is invalid, why your use `sass-loader` for `css` extension? Your spent time on sass compilation for `css`, it is bad.

[2017-06-29 11:44] kang-chen commented on #309
@evilebottnawi thanks for he recommendation, corrected with `test: /\.scss$/`

[2017-06-29 12:30] evilebottnawi commented on #194
All works good use above test repo (https://github.com/blogfoster/webpack-sass-loader-issue). Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-06-29 12:30] #194 closed

[2017-06-29 12:33] evilebottnawi commented on #349
@sharlayoub Problem solved? If not, then you can provide more information?

[2017-06-29 12:50] evilebottnawi commented on #349
@sharlayoub example https://github.com/ctrine/webpack-settings/blob/master/packages/shared/src/rules/sass-module.js how use `.module.scss`

[2017-06-29 12:51] evilebottnawi commented on #349
Closing due to inactivity. Feel free to reopen if example above don't solve your problems. Thanks!

[2017-06-29 12:51] #349 closed

[2017-07-04 04:05] mooror commented on #431
Thanks for the ping @evilebottnawi, I had totally forgot about this issue. The company I work for switched over to a gulp setup and therefor I had no need to look any further into this. While I still think that this feature might still be useful to others, I will close it as I myself no longer have any need for it.

Thank you for your time,
Mooror

[2017-07-04 04:05] #431 closed

[2017-07-04 10:13] julmot opened #482 "style-loader was necessary for installing"
I was experiencing this issue:

![2017-07-04 12_13_01-cmd](https://user-images.githubusercontent.com/8310677/27826102-2a305284-60b2-11e7-8bd7-a4dc98adf114.png)

https://stackoverflow.com/questions/35171288/error-cannot-resolve-module-style-loader

After running `$ npm install --save-dev style-loader` the issue was solved. If style-loader is required for sass-loader it should be included in the doc

[2017-07-04 10:26] michael-ciniawsky commented on #482
https://github.com/webpack-contrib/sass-loader#examples

[2017-07-04 10:26] #482 closed

[2017-07-04 11:30] julmot commented on #482
Why don't you add it to the installation section?

`npm install sass-loader node-sass webpack --save-dev`

[2017-07-05 06:50] iwinux commented on #351
Temp fix:

[code]

At least we can see the original filename of CSS styles...

[2017-07-10 13:27] yantakus opened #483 "Data option not working"
In sass-loader v4 I was able to do the following.

In webpack config:

[code]

Then in any component I could import sass file and use variables from `_settings.scss` there.

But since v5.0 it doesn't work all my variables become undefined, I suppose because of synchronous loading deprecation.

Is there a way to achieve my use case in v5+?

[2017-07-10 13:32] evilebottnawi commented on #483
@yantakus your can use https://github.com/webpack-contrib/sass-loader#environment-variables to setup own variables

[2017-07-10 13:39] yantakus commented on #483
@evilebottnawi thanks, I saw this in the README. This is exactly what I was using before. Do you mean I should use all my sass variables directly in webpack config, without importing them with `@import` from another file?

[2017-07-10 14:06] evilebottnawi commented on #483
@yantakus your can add `@import "app/styles/settings/_settings.scss"` to each file where your need variables or use `sass variables directly in webpack config`

[2017-07-10 15:34] yantakus commented on #483
@evilebottnawi Thanks for the answers.

Adding import to each file is not a desired way to do it as we already have dozens of components. And I suppose webpack will be bundling much longer if it has to import a file dozens of times instead of a single one as it was in my previous config.

Placing variables into webpack config is also not an ideal solution as we loose syntax highlighting and the co

[2017-07-11 01:45] mikesherov commented on #296
hello friends. Just as an FYI, I'm looking into this. With any luck, we'll see if there is any low hanging fruit to go after besides for the `allChunks` and `sourcemap: false` optimizations.

[2017-07-11 04:06] ddobson commented on #466
I'm also experiencing this issue. I am trying to use `primer-tooltips` from the [Primer CSS](https://github.com/primer/primer-css) library. The index.scss file in that directory requires another file in a separate `primer-support` directory. When trying to build I get this error:

[code]

If I change the `@import` statement in the file I'm trying to import in my project to `@import "~primer-suppor

[2017-07-11 10:05] evilebottnawi commented on #466
@ddobson workaround, but it is increase build time, no solution for this right now, but PR welcome

[2017-07-11 12:40] evilebottnawi commented on #483
@yantakus seems there is no solution for this purpose, your can create own loader for this (`css-loader` -> `postcss-loader` -> `sass-loader` -> `inject-sass-variables-loader`), but recommendation way is including `variables.scss` in each file.

Why? Because each file is module and if your module contain some data (in your case it is variables) which contain in other module, your can import this m

[2017-07-11 15:21] baunegaard opened #484 "Sourcemap paths fail because of overriden sourceMap option."
I have a folder structure like this:
* \<Project root\>
  * Assets
    * css
      * bundles
      * modules

Webpack is run from \<Project root\> with the config file residing in \<Project root\>/Assets

In normalizeOptions.js the sourceMap option is overriden like this:
[code]

All SourceMap paths of imported files look like this:
./Assets/css/bundles/Assets/css/modules/utils/_mixins.scss
This i

[2017-07-11 15:25] evilebottnawi commented on #484
@baunegaard your can set `sourceMapRoot` to `<Project root>/Assets`. If your provide minimal test repo it is help to solve problem.

[2017-07-11 15:56] baunegaard commented on #484
@evilebottnawi
Could solve this by just giving the user the opportunity to choose a path them self.

[code]

With a minimal test repo do you mean just an empty repo with a webpack.config to reproduce? Or a pull request with tests inside the sass-loader repo? Sorry not that used to doing open source development :)

[2017-07-11 16:00] evilebottnawi commented on #484
@baunegaard > With a minimal test repo do you mean just an empty repo with a webpack.config to reproduce

[2017-07-11 17:01] baunegaard commented on #484
I have reproduced the problem in the following repo:
https://github.com/baunegaard/sass-loader-sourcemap-test

The mangled out looks like this in chrome:
<img width="476" alt="capture" src="https://user-images.githubusercontent.com/6918669/28080164-377fcb36-666b-11e7-8fad-831baecbb140.PNG">

Apply the fix from the OP and problem is gone.

[2017-07-11 17:22] evilebottnawi commented on #484
@baunegaard Did not understand what expected behavior? `webpack` always story source maps in `webpack://`. Your want change this? If yes, why?

[2017-07-11 17:42] baunegaard commented on #484
@evilebottnawi  No look at the path to the sourcemap. "./css/bundles/css/modules/module.scss"
This is not correct. The correct path should be "./css/modules/module.scss"

If you look at the repo the directory structure is:
* \<Project Root\>
  * css
    * bundles
    * modules
  * node_modules

The webpack entry point is "\<Project Root\>/css/bundles/bundle.scss" which has two imports:
@import "~b

[2017-07-11 17:55] evilebottnawi commented on #484
@baunegaard thanks for clarify, try to found solution in near future

[2017-07-11 23:47] michael-ciniawsky commented on #484
@baunegaard Your issue is that `webpack.config.js` isn't in `<Project Root>` so  `process.cwd()` will resolve to `<Project Root>/Assets/path/to/webpack.config.js` which is appended internally by webpack, could you try by temporarily moving `webpack.config.js` in `<Project Root>` to verify please? I think your fix is correct, it should resolve to an absolute path and using `__dirname` instead of `p

[2017-07-12 12:17] yantakus commented on #483
Thanks a lot for describing al the options. Ended up with importing variables in each file.

[2017-07-12 12:17] #483 closed

[2017-07-12 13:07] evilebottnawi commented on #484
We can fix it change `result.map.sources = result.map.sources.map(path.normalize)` to `result.map.sources = result.map.sources.map((source) => path.normalize(path.resolve(source)));`, but I'm not completely sure, I'm still looking for a solution

[2017-07-12 13:35] evilebottnawi commented on #484
Using (here https://github.com/webpack-contrib/sass-loader/blob/master/lib/loader.js#L73):
[code]
Output:
[code]

All fine, seems issue related to `css-loader`m try to found what is wrong and why it is happens in `css-loader`

[2017-07-12 14:53] baunegaard commented on #484
@michael-ciniawsky Tried moving config to project root. Did not make a difference.
I guess that is because i already run webpack from project root like this:
[code]
As a temporary workaround i used adjust-sourcemap-loader to fix the paths.

Now my only problem is that stars (*) gets appended to some of the source map sources somewhere in the chain. This does not break sourcemaps in general, but it

[2017-07-12 15:02] evilebottnawi commented on #484
@baunegaard related to `css-loader`, because `from` for `postcss` set as `/css-loader!/path/to/css/bundles/bundle.scss` (https://github.com/webpack-contrib/css-loader/blob/master/lib/processCss.js#L198) and all sources interpreted as `relative` to this path, but in your case `module.css` not relative

[2017-07-12 23:14] baunegaard commented on #484
@evilebottnawi I finally got source maps working!
By changing this line: https://github.com/webpack-contrib/css-loader/blob/master/lib/processCss.js#L198
to:
[code]
thereby allowing path rewriting of sources in css-loader, all problems were fixed!

I now have correct paths to all sourcemaps, even without my first change to sass-loader. So the problem definitely seems to be in css-loader.

Only thi

[2017-07-20 12:26] mischkl commented on #466
Same problem here, I opened an issue with material components but looks like the issue is actually here.

https://github.com/material-components/material-components-web/issues/981

[2017-07-20 12:29] evilebottnawi commented on #466
@mischkl old and known issue, solutions https://github.com/webpack-contrib/sass-loader/pull/479#issuecomment-314701628

[2017-07-20 12:38] mischkl commented on #466
@evilebottnawi @jhnns So basically anyone who wants to use the material components with webpack needs to build in this hack? Seems kind of like a poor solution.

What we really need IMHO is for sass-loader to process imports that occur within third-party modules differently than those that occur in the webpack project itself. For reference, everything that [https://github.com/sass-eyeglass/eyeglas

[2017-07-20 12:43] evilebottnawi commented on #466
@mischkl it is not hack, it is correct solution.  I agree we need search build-in solution for this, but it is not easy. Any ideas? PR welcome :+1:

[2017-07-20 12:48] mischkl commented on #466
@evilebottnawi well, my idea is stated right there: process `@imports` in third-party packages differently (could be as simple as pre-processing them to include a `~`). Of course the implementation is another thing, but I imagine that it should be somehow feasible.

[2017-07-20 12:57] evilebottnawi commented on #466
@mischkl it is breaking changes and can lead to a problem with performance and incompatibility, before think about this we should look how working `less/stylus/etc` loader with this problem (if they working with scoped packages). If I'm not mistaken `node-sass` don't work with scoped packages by default.

[2017-07-20 13:38] mischkl commented on #466
@evilebottnawi you seem to be correct as judging by this issue: https://github.com/sass/node-sass/issues/1596

As stated there the solution is to "use eyeglass". Which appears to be something like webpack, just limited to SCSS support... In any case it seems eyeglass does support scoped packges, which is the reason I suggested we use it as a reference.

The odd thing is that `material-components`

[2017-07-20 14:17] evilebottnawi commented on #466
@mischkl maybe this solution is right, it is really not easy to fix and i don't have ideas about this, but i am glad to hear any opinion and solution. Maybe we can fix this in `node-sass` and all packages which use this can handle scoped packages

[2017-07-20 14:29] evilebottnawi commented on #466
@mischkl in theory any `@package/style` import which located in `node_modules` files should be resolve `node-sass` from `node_modules` directory, on the other hand `node-sass` just port `sass` on `nodejs` platform and don't care about this. I don't known who should this do :disappointed:

[2017-07-23 10:28] sandwich commented on #272
I may be reading things incorrectly here, but I _think_ y'all might be barking up the wrong tree if you're looking for the origin of the problem to be in `sass-loader` (assuming `sass-loader` is a webpack-specific thing).

See,  I have this exact issue, of sourcemaps not referencing the right line if the `@import` is within a CSS selector. However, I'm using `gulp`,  `gulp-sass`, `gulp-sourcemaps`

[2017-07-26 12:03] evilebottnawi commented on #272
@sandwich can your provide minimum reproducible test repo?

[2017-07-27 20:41] mechanicious commented on #100
Webpack stalled at compiling Javascript files through babel.

Adding the option below to `webpack.config.js` solved the issue for me. This option is described in [docs](https://webpack.js.org/configuration/watch/#watchoptions-poll).
[code]

[2017-07-29 05:35] wzup commented on #219
Regarding `LoaderOptionsPlugin`. Tutorial [says](https://webpack.js.org/plugins/loader-options-plugin/):

Do you have any info already about what to use instead?

[2017-07-29 12:31] evilebottnawi commented on #219
@wzup use `options` property in loader

[2017-07-30 11:30] sandwich commented on #272
Here ya go. Once extracted, run `npm install`, and then just `gulp`.

Reproducible in Chrome, Firefox, IE11, and Edge (i.e. it's not a browser issue).

[Sourcemap Import Issue.zip](https://github.com/webpack-contrib/sass-loader/files/1185644/Sourcemap.Import.Issue.zip)

[2017-08-03 00:34] delsvr commented on #205
@ivebencrazy Are you able to get your particular example (i.e. multi-loader with ExtractTextPlugin) working in webpack 2/3? With your example, all of the initial loaders process the import (sass, css), but no file is extracted. If I add style-loader, the styles are just put into `<style>`, as expected. Any ideas?

[2017-08-04 12:21] uoc1691 commented on #69
Had the same issue. It was the path used for include. It was incorrect. Here's a working config.

`const path = require("path");
const distDirPath = path.join(__dirname, "wwwroot", "dist");
const appCSSThemePath = "wwwroot/css/themes/1.0";
const ExtractTextPlugin = require('extract-text-webpack-plugin');

module.exports = {
    entry: "./index.js",
    output: {
        path: path.resolve(distDirP

[2017-08-04 15:03] ivebencrazy commented on #205
@delsvr  Sorrysorry, when I moved this project to webpack 2 was also when I moved away from using Sass, so I don't have a Webpack 2 example.

But no files are extracted at all?  That sounds like maybe the way you're using ExtractTextPlugin isn't working, maybe.  I think I remember the API changing for that sometime between Webpack 1 and Webpack 2, so maybe check the version you're using and if the

[2017-08-04 23:37] miyi opened #486 "svg url not working with sass"
I suspect I'm doing something wrong but I think i'm following the instructions

[code]

in my .scss file

[code]
and my error message

[code]
when I pass the svg path like so it works, but not when I pass it through sass
[code]

[2017-08-05 04:24] miyi commented on #486
use resolve-url-loader before sass loader

[2017-08-05 04:24] #486 closed

[2017-08-06 05:00] OlzhasAlexandrov commented on #448
**escaping is possible using** `\:global`
not `/:global`

[2017-08-06 05:38] gbhipolitoglyph commented on #344
yeah i also encounter the same issue, the include doesn't solve mine

[2017-08-06 06:12] levin-du commented on #296
any new updates? @mikesherov

[2017-08-06 13:24] mikesherov commented on #296
@levin-du, several of css-loaders dependencies are extremely slow but have been rewritten to be much much faster, but are semver major. css-loader is currently undergoing a rewrite along with the rest of the CSS module loading architecture, so I asked if a patch would be accepted. Due to the fact that it's a major bump, I was asked to wait for the rewrite to be completed instead.

[2017-08-06 13:25] sentience commented on #296
That's a shame, @mikesherov, but thanks for the update!

[2017-08-07 12:58] julmot opened #487 "Bug: Color with Hex Code Replacement Within Class Name"
[code]
becomes:
[code]

It only occurs if "compression" is set to `compressed` or if you're running Webpack in production mode. I've tried reproducing it on SassMeister (to check if it's a node-sass bug) but I wasn't successful. Therefore I think that it's a sass-loader bug.

[2017-08-07 13:40] evilebottnawi commented on #487
@julmot thanks for issue, known limitation for `compressed` style (`https://github.com/webpack-contrib/sass-loader/issues/416#issuecomment-311931867`), Sorry, but we can't fix this.

[2017-08-07 13:40] #487 closed

[2017-08-11 07:49] aszmyd commented on #272
I've made an reproducible test repo using `webpack` - https://github.com/aszmyd/webpack-sass-loader-sourcemap-issue
Just clone it, `npm install`, `npm start` and open browser at http://localhost:8080/

The issue is present there:

![image](https://user-images.githubusercontent.com/3050805/29204969-64c7cfd6-7e7a-11e7-9669-57bc5617a2ab.png)

[2017-08-11 08:35] evilebottnawi commented on #272
@aszmyd thanks, in near future i try to investigate this!

[2017-08-11 14:29] sshmyg opened #488 "Importer wrong @import - windows"
Hello
Aliases doesn't work for windows __`d♀ssthemes~__componentsInputinput.`__ I got something like this.

[2017-08-11 14:31] evilebottnawi commented on #488
@sshmyg please provide minimum reproducible test repo and more information about your steps which output this, thanks!

[2017-08-14 14:17] solidevolution commented on #463
We got this problem with a vue / postcss stack.
We wanted to define global custom properties and use them via the webpack alias in our vue components.

@import "css/vars.css" (css alias) doesnt work
@import "realpath../../src/assets/css/vars.css" works

[2017-08-14 14:24] evilebottnawi commented on #463
@solidevolution aliases works only with modules: `@import "~something"`, if your want own logic for loading please use custom `importer` (https://github.com/sass/node-sass#importer--v200---experimental), thanks!

[2017-08-14 14:27] solidevolution commented on #463
@evilebottnawi we don't use sass/scss and experimental versions ;)
Do you have an import solution for postcss?

[2017-08-14 14:37] evilebottnawi commented on #463
@solidevolution `sass-loader` build on `importer` function, without `importer` `sass-loader` doesn't works, so it does not make sense not to support `experimental` `importer` function(s). No i don't have `postcss` solution, thanks!

[2017-08-15 18:16] evilebottnawi commented on #272
@aszmyd invalid configuration.
Fixed:
[code]
Fine?

[2017-08-15 18:18] evilebottnawi commented on #272
@sandwich your use gulp not `webpack`, how it is related to issue? Thanks!

[2017-08-15 18:22] evilebottnawi commented on #272
@woohling friendly ping
@ggedde can your provide minimum reproducible test repo?

[2017-08-15 18:30] evilebottnawi commented on #272
@sandwich reproduce, thanks, looking. Tomorrow I will write what was the problem

[2017-08-15 18:38] sandwich commented on #272
@evilebottnawi Perhaps you missed [my earlier post](https://github.com/webpack-contrib/sass-loader/issues/272#issuecomment-317243440). I have the exact same issue, except I'm not using webpack, but gulp. Therefore, there's a decent chance that the issue is not in anything specifically related to webpack, but SASS itself, since that's the only common denominator.

[2017-08-15 23:04] narthollis opened #489 "sass-loader does not appear to work with NormalModuleReplacementPlugin"
I have been unable to get `NormalModuleReplacementPlugin` to replace a SASS import.

If this is not something that should work, please feel free to close this issue.

My scenario is that I have a `variables.scss` file that contains common style items, such as colours - I am looking to replace this file as a first pass at theme support the application I am writing. (replace `variables.scss` with `v

[2017-08-16 05:39] aszmyd commented on #272
@sandwich i get Your point. I've tried to reproduce the same issue with using just `node-sass` but with no luck - test [repo here](https://github.com/aszmyd/node-sass-sourcemap-test).

[2017-08-16 06:48] sandwich commented on #272
@aszmyd I have a test case as a zip up above, using `gulp-sass` and the like.

[2017-08-16 09:59] evilebottnawi commented on #272
@sandwich @aszmyd thanks for helping!
@sandwich I'm inclined to assume that you are right, since we do not make any modifications with the source maps in the `sass-loader`

[2017-08-16 10:08] evilebottnawi commented on #489
@narthollis only `@import '~your_module'` should be works with `NormalModuleReplacementPlugin`, `@import`'s without `~` don't interpreted as module so `NormalModuleReplacementPlugin` doesn't works as expected (known limitation). But your can do this using own `importer` (https://github.com/sass/node-sass#importer--v200---experimental), it should be very easy implement.

[2017-08-16 10:34] aszmyd commented on #272
@sandwich  i've checked You'r code and figured out that the part that is messing around with things is `gulp-postcss` together with `autoprefixer`.  When i commented this one `.pipe(postcss([ autoprefixer() ]))` line in Your gulpfile, sourcemap points correctly to `_typography.scss` line `7`.

So changed sass task that works:

[code]

So my guess is that its more `sass-loader`/`webpack` related. @

[2017-08-16 10:35] evilebottnawi commented on #272
@aszmyd doing at this moment :smile:

[2017-08-16 10:39] evilebottnawi commented on #272
Btw seems bug don't located in `sass-loader` (https://github.com/sass/node-sass/issues/1206)

[2017-08-16 11:05] evilebottnawi commented on #272
@woohling @ggedde @folmert @wayofspark @sandwich @aszmyd won't fix in `sass-loader` :disappointed:

Information about why this happens: https://github.com/sass/libsass/issues/1747#issuecomment-159749530 and https://github.com/sass/libsass/issues/1747#issuecomment-160245200.

In short: browsers always show first selector in sequence nested selectors in source maps. I am closing this issue here beca

[2017-08-16 11:07] evilebottnawi commented on #484
Close here because not related to `sass-loader`, thanks all!

[2017-08-16 11:07] #484 closed

[2017-08-16 11:08] evilebottnawi commented on #476
Closing due to inactivity. Thanks!

[2017-08-16 11:08] #476 closed

[2017-08-16 11:08] evilebottnawi commented on #488
@sshmyg friendly ping

[2017-08-16 11:12] sshmyg commented on #488
@evilebottnawi Sorry, have no time to investigate in details. But I thinks it's related to `node-sass => importer`. It returns wrong path in windows.

[2017-08-16 11:16] evilebottnawi commented on #488
@sshmyg with minimum test repo we can investigate this

[2017-08-16 12:26] narthollis commented on #489
Ah, cool thanks very much.

I ended up working around this issue by using a webpack alias and a `~theme/variables.scss` imports.
Downside of this is that webstorm can't resolve the import anymore so no code completion for variable :(

Ohwell. Thanks for clarifying this

[2017-08-16 12:28] #489 closed

[2017-08-17 04:33] aszmyd commented on #272
@evilebottnawi im not sure this is the right decision. `sass-loader` is using `node-sass`. `node-sass`

And in one of my [earlier posts](https://github.com/webpack-contrib/sass-loader/issues/272#issuecomment-322671357) i've created small repo that uses only `node-sass` and it works perfectly fine.

So question is - why pure `node-sass` is working properly but `sass-loader` that is using it underne

[2017-08-17 09:43] evilebottnawi commented on #272
@aszmyd your can look loader code, we don't modify source map from `node-sass`.
Just confirm:
1. `console.log(result.map.toString())` in https://github.com/webpack-contrib/sass-loader/blob/master/lib/loader.js#L60
2. Output:
[code]
3. Open in chrome or mozilla http://127.0.0.1:8080/styles/index.css.map
4. Output:
[code]
Seems something invalid in  `mappings`, but it is not `sass-loader`, let's inv

[2017-08-17 10:08] evilebottnawi commented on #272
@aszmyd something wrong in `css-loader` :disappointed:
1. Add `style-loader` to `webpack.config.js`
[code]
2. Open https://github.com/webpack-contrib/css-loader/blob/master/lib/loader.js#L114 (in `node_modules/css-loader`)
3. Comment lines
[code]
4. Run `npm run start` and your can see what source map is valid

[2017-08-17 10:18] evilebottnawi commented on #272
Problem in `postcss`, which using in `css-loader`, I'll try to update `postcss` to the latest version in `css-loader` and see what happens

[2017-08-17 10:33] evilebottnawi commented on #272
Closing issue, because not related, sorry, but i can't do anything here :disappointed:
Based issue: https://github.com/postcss/postcss/issues/926
Why it is happens: https://github.com/postcss/postcss/issues/926#issuecomment-294062807
Workaround: use `postcss-cssnext` (hammer :disappointed: ) or implement own loader which correct this behavior (difficult).

Maybe we can fix this in https://github.c

[2017-08-17 10:33] #272 closed

[2017-08-17 12:38] evilebottnawi commented on #224
I just tested this feature, it works fine. Closing due to inactivity. Please test with latest version and have correctly configuration. Thanks!

[2017-08-17 12:38] #224 closed

[2017-08-19 07:41] luckylooke commented on #463
You can try [this fix](https://github.com/ionic-team/ionic-app-scripts/pull/683#issuecomment-294078919). It makes my aliases work again. Maybe it will help to you too.

[2017-08-19 20:19] kucukkanat commented on #460
I solved it like this :
[code]

added `resolve-url-loader` in between now my paths are not doubled.
But I dont have any idea how it solved the issue

[2017-08-21 06:28] adityavohra7 commented on #466
Say I have a project that deps two packages: `package-A` & `package-B`:
[code]
And say `package-A@1.0.0` deps `package-B@2.0.0`. This will create the following install structure:
[code]
`nested-styles` has an `index.scss` that imports styles from `package-A`:
[code]
where `package-A/sass/index.scss` is:
[code]
The following is my `webpack.config.js`:
[code]
I'd like to get `node-modules/package-A/

[2017-08-21 07:55] frederikprijck commented on #466
@adityavohra7 This sound like how node-sass works, any chance you can try to reproduce the exact behavior without using webpack, but by compiling ur sass using `node-sass` ?

[2017-08-21 16:57] adityavohra7 commented on #466
@frederikprijck, I've [created a repo](https://github.com/adityavohra7/nested-styles) to repro the behavior I'm seeing. I also tried compiling my sass directly with `node-sass`. With the following files:
[code]
[code]
[code]
[code]
Calling `node-sass` yields:
[code]
I'd like for that ^ to be "pink" (`package-A` deps a different version of `package-B` than `nested-styles`).

[2017-08-21 18:32] frederikprijck commented on #466
@adityavohra7 So this looks like it's how node-sass is handling `scss` compilation, which isn't something `sass-loader` should deviate from.

Probably a good idea top open an issue on node-sass to get more information from them.

[2017-08-23 08:36] katiasmet commented on #463
Hi,

I think I have the same issue. I'm trying to @import files from a subdirectory. Importing files from the same directory works like a charm, but from a subdirectory I get the same error as the initial post.

My folder structure
`
webpack.config.js
src
   - _assets
   - _js
   - _scss
         - main.scss
         - subfolder
                 - subfile.scss
   - index.html
`

in main.scss
@impo

[2017-08-23 09:08] katiasmet commented on #412
@evilebottnawi I'm still the same issue. I don't use the loaderOptionsPlugin.

I've created a gist with the files : https://gist.github.com/katiasmet/86a71a51679159dda5430a699b749f3e

[2017-08-23 09:14] evilebottnawi commented on #412
@katiasmet please create new issue for this, don't write your problem(s) inside other problem(s), thanks!

[2017-08-23 09:17] evilebottnawi commented on #463
@katiasmet
[code]

[2017-08-23 09:21] katiasmet commented on #463
Ok that worked :D thanks a lot!

[2017-08-23 18:02] henrahmagix opened #490 "Newlines in inline svg base64 not escaped when imported"
__Example repo:__ [henrahmagix/sass-loader-newline-bug-example](https://github.com/henrahmagix/sass-loader-newline-bug-example/tree/c2f70eb38b2af69d905950a15687ca621356144b)

I had installed [Mavo](http://mavo.io/) via npm and was importing its styles and having webpack compile it all into my app. I found in certain situations the stylesheet wouldn't apply to the page, so I tried to track down the

[2017-08-23 18:12] evilebottnawi commented on #490
@henrahmagix tomorrow i investigate this. Thanks for issue!

[2017-08-23 18:24] henrahmagix commented on #490
Thanks @evilebottnawi! I've just updated the example repo with some extra node-sass compilations to compare against, and edited my comment to link to those files now.

Cheers!

[2017-08-26 21:20] rw3iss commented on #145
Any ideas on how to get the node-sass-imported / sassConfig property to be recognized by Webpack 3?

[2017-08-30 07:46] myme commented on #147
I'm experiencing this right now with `node-sass@4.5.3` and `sass-loader@6.0.6`. Setting `process.env.UV_THREADPOOL_SIZE = 25` in our `webpack.config.js` does consistently resolve the issue. Not sure what additional information I can provide if anybody wants to look further into this?

[2017-08-30 16:46] TimoRuetten opened #491 "Prepend @import for every sass file"
Hi!

I am trying to solve to prepend a @import in any loaded sass file. After I checked your docs I think this should be solved with options: { data: '@import ...' } but in my case it seems that this does not work.

[code]

I am using webpack **2.2** and sass-loader **6**

My bundled css file does not contain the content of the _theme.scss file.

I am sorry if I am missing smth basic here because

[2017-08-31 10:16] evilebottnawi commented on #491
@TimoRuetten thanks for issue, duplicate https://github.com/webpack-contrib/sass-loader/issues/211
Short answer
1. Use common variables.scss file and include in every required file.
2. Use https://github.com/shakacode/sass-resources-loader
3. Implement own loader for this purpose
4. Use `data` option with multiple variables (module for variables https://github.com/itgalaxy/get-sass-vars-sync)
5. h

[2017-08-31 10:27] TimoRuetten commented on #491
Thanks for your fast response and sorry for duplicate. I will checkout out your reference!

[2017-08-31 10:27] #491 closed

[2017-09-02 09:06] ggedde commented on #272
Hi @evilebottnawi ,
Thanks for all the hard work on this.  I know you wanted this sooner, but here is my repo:
https://github.com/ggedde/ngtest

It just uses AngularCLI  (Requires Node and NPM)
`
git clone https://github.com/ggedde/ngtest.git
cd ngtest
npm install
npm run start
`
After NG finishes then Navigate your browser to http://localhost:4200
You will see that if you instead the <h1> that th

[2017-09-02 12:24] evilebottnawi commented on #272
@ggedde thanks!

[2017-09-02 13:54] evilebottnawi commented on #490
@henrahmagix thanks for issue, seems problem not in `sass-loader`, because using `require('fs').writeFileSync('test.css', result.css.toString())` before https://github.com/webpack-contrib/sass-loader/blob/master/lib/loader.js#L79 , output:
[code]
It is valid css and all work fine. Problem located in `css-loader`, i can try to found problem and fix her in `css-loader`.

[2017-09-06 01:54] mishelen commented on #351
In my case value of column number is equal to length of mixin name. I use expanded outputStyle

[code]
And that mixin:

[code]
May be it occasion)) But logically, what we do with sass placeholder? Replace! even with mixin name, isnt it)) Also name includes hyphen (negative, minus), Foundation seems to be loves hyphens in names))

[2017-09-06 02:05] Slapbox commented on #351
Regarding, "I used expanded outputStyle"

@mishelen Can you elaborate on what you mean by this? Is there a way to have it show additional details on failure? I've not been able to track down the source of my occurrence.

[2017-09-06 02:37] mishelen commented on #351
Ok, part of related webpack config is:

[code]

I'm have just noticed **that webpack without `-p` flag compiles styles nicely.** This flag launch webpack's  Uglify plugin, as all known.

Stacktrace of error is repeated locally and on Heroku:

[code]

[2017-09-06 13:10] graingert commented on #435
@evilebottnawi you can do [`npm install sass`](https://www.npmjs.com/package/sass) https://github.com/sass/dart-sass#from-npm

[2017-09-06 13:18] evilebottnawi commented on #435
@graingert can you explain why `dart-sass` is better (or not) than `node-sass`? Faster, better compatibility with orgiinal sass implementation or other feature. But main problem is `dart-sass` don't support custom importer, without this feature, it is impossibly to implement support `dart-sass` in `sass-loader`.

[2017-09-06 13:32] graingert commented on #435
@evilebottnawi saves waiting for the compile step on npm install

Also it's the future of sass: http://sass.logdown.com/posts/1022316-announcing-dart-sass

[2017-09-06 14:20] Slapbox commented on #351
@mishelen Thank you. This is a hugely helpful reference point in trying to pin down my own instance of this issue.

[2017-09-08 03:00] lukaswelinder commented on #455
@evilebottnawi I don't think this should be closed; it is an issue with `sass-loader` specifically.

It seems that `sass-loader` is not providing webpack with any `module` information (context/resourcePath/etc) when using `@import` statements. Due to this issue, any plugin that handles and/or relies on the `module` API will not work; this includes the commons-chunk plugin.

There are a lot of reas

[2017-09-08 10:30] evilebottnawi commented on #455
@lukaswelinder please provide more information about what do you want and what do you get, thanks!

[2017-09-11 07:36] denyo commented on #351
Here is what I just figured out as a workaround.
The location where I had the error with `column: -1` looked like this:
[code]

The error appeared on the line with `&__col {` which is intended by 2 spaces.
Now simply by changing the indentation to 4 spaces fixes the error:
[code]

[2017-09-14 01:59] ChristianGalvez23 commented on #40
I need to know the same answer as @teknicalissue wants to know.

[2017-09-15 23:06] robertmain commented on #466
I'm having an issue that I think is related where I try to `@import 'material-design-colors/material-colors' [this package](https://github.com/mrmlnc/material-color/blob/master/material-color.scss) and I get the following error from webpack:

    ERROR in ./node_modules/css-loader!./node_modules/sass-loader/lib/loader.js!./frontend/src/styles/main.scss
    Module build failed:
    @import 'materia

[2017-09-18 11:21] AndyOGo commented on #145
This should be support by `sass-loader`.

Because the `node-sass` API is offering a custom [`importer`](https://github.com/sass/node-sass#importer--v200---experimental) option, which is implemented like [`node-sass-import-once`](https://github.com/at-import/node-sass-import-once).

Meanwhile maybe `sass-loader-once` is usable.

Please **reopen** this issue.

[2017-09-18 11:33] evilebottnawi commented on #145
@rw3iss original `node-sass` works absolutely identical, to avoid double content use `minificator`

[2017-09-20 02:57] mvastola opened #493 "Feature Request: Use Different Resolver Configuration when Finding Targets of `@import` Directives"
So I'm a fairly new convert to `webpack`/`yarn` -- but an experienced web/`rails` coder (where I'd been using `sprockets`). As I am retrofitting my already-existing site with webpack, I'm repeatedly running into one particular annoyance with my codebase though, which leads me to a suggestion that I think would apply to/benefit all users to help include modules in a more robust fashion.

Specifical

[2017-09-20 10:45] evilebottnawi commented on #493
@jhnns friendly ping

[2017-09-20 23:48] catamphetamine opened #494 "Media query imports seem to be not working"
[code]

Just results in an empty file.
Don't know where exactly is the bug source: either this loader or the project.

[2017-09-21 08:52] evilebottnawi commented on #494
@catamphetamine thank for issue, `node-sass` doing this?

[2017-09-21 09:42] catamphetamine commented on #494
Yes, the usual Webpack + node-sass + sass-loader.
[code]

[2017-09-21 10:07] catamphetamine commented on #494
This is the repo illustrating the issue
https://github.com/catamphetamine/sass-import-bug-illustration

[2017-09-21 14:49] ParthBarot-BoTreeConsulting commented on #69
Setting up an existing codebase and facing the same issue, Tried everything but its not working.

node version - `v8.0.0`
webpack version - `1.15.0`

Following is the webpack config snippet

[code]

[2017-09-21 15:38] evilebottnawi commented on #494
@catamphetamine very strange in my projects all work fine, investigate

[2017-09-21 15:45] evilebottnawi commented on #494
1. Fine
[code]
2. Fine
[code]
**_nested.scss**
[code]
3. Not fine (module empty `exports.push([module.i, "", ""]);`)
[code]
I continue the investigation

[2017-09-21 15:56] evilebottnawi commented on #494
@catamphetamine don't use `.css` extension.
Works fine.
[code]

[2017-09-21 15:58] catamphetamine commented on #494
Oh, true, it does work this way.
Thanks for helping 👍.

[2017-09-21 15:58] #494 closed

[2017-09-21 15:59] evilebottnawi commented on #494
@catamphetamine http://sass-lang.com/documentation/file.SASS_REFERENCE.html#_import__import
[code]
to
[code]

[2017-09-21 16:02] catamphetamine commented on #494
I see...

* If the file's extension is .css.

[2017-09-21 16:03] evilebottnawi commented on #494
@jhnns What do you think about this:
Should we `@import "~react-responsive-ui/small-screen.css";` don't touch and output in result:
[code]
Or we should throw error about not resolved? Because resolve `modules` (`~`) is out of scope `node-sass`

[2017-09-21 16:05] catamphetamine commented on #494
My personal opinion on this: if the path starts with a tilde then it's certainly not meant for a usual CSS `@import` and an error should be thrown.

[2017-09-21 16:06] evilebottnawi commented on #494
@catamphetamine agree, but need @jhnns answer, btw thank you for issue.

[2017-09-21 17:47] jpap commented on #448
Why is that we do not have to escape when using `.scss`, and only with `.sass`?

[2017-09-21 19:47] cdtinney commented on #14
I'm having this issue. Very difficult to debug compilation failures.

e.g.
[code]
[code]

Any suggestions?

[2017-09-22 14:53] davidfurlong commented on #218
If my `variables.scss` is in `src/styles/variables.scss` how can I modify @EEGL 's solution to get it to work? Appreciate the help, webpack debugging is tough

[2017-09-23 14:56] megamindbrian opened #495 "_ngcontent-c0 change to something else"
I think I have an SEO problem.

I started with this boiler-plate https://github.com/ng-seed/universal

How do I change the _ngcontent-c0/_nghost-c0 part of the output?  All the :host {} are converted to their little scoped attributes _ngcontent-c0/_nghost-c0 {} in CSS output, but how do I change the naming scheme for this transformation?

[code]

I'm trying to run 2 apps on the same page and they

[2017-09-28 15:23] jschlieber commented on #101
@jhnns Is this still the expected behavoir? Because if I omit `.css` in my import statement the file is completely ignored. It works if I add `.css` but then I have the problem with the relative urls. I'm on `sass-loader` version `6.0.3`...

[2017-09-29 23:17] nex3 commented on #435
@evilebottnawi Importer support is a high-priority feature for us; we consider it blocking a 1.0.0 stable release.

[2017-10-01 08:00] spiral2k opened #496 "upgrade node-sass to support node 8"
upgrade node-sass from 4.5.0 to 4.5.3, adding support for node 8

[2017-10-02 10:05] evilebottnawi commented on #496
@spiral2k you manually install `node-sass`, which part need upgrade?

[2017-10-02 10:41] spiral2k commented on #496
in the package.json of the plugin the version on node-sass is 4.5.0, we can upgrade it to version 4.5.3 to support node 8

[2017-10-02 11:07] evilebottnawi commented on #496
@spiral2k we use `^4.0.0` which mead also `4.5.3`

[2017-10-02 11:30] spiral2k commented on #496
@evilebottnawi correct me if I'm wrong but in the package.json in the master branch the version of node-sass is (from the file):  "node-sass": "^4.5.0".

[2017-10-02 12:31] evilebottnawi commented on #496
@spiral2k it is `devDependencies` only for tests, you should add `node-sass` manually in your `package.json`.

[2017-10-02 16:41] spiral2k commented on #496
@evilebottnawi thank you man 🤘

[2017-10-02 17:32] #496 closed

[2017-10-07 08:20] escapiststupor opened #497 "Module not found: Error: Can't resolve the scss specified"
I am trying to use Webpack for a static page, where I can use ETWP to extract a css file, even if I am using preprocessed syntax (I am using scss and import them from an entry point, i.e. index.js).

However, when I try to require SCSS files, I get an error:

[code]

This is my webpack.config.js:
[code]
I am using Webpack 3.

This is my package.json
[code]

Inside my src/index.js I do have
[code]

[2017-10-07 10:13] michael-ciniawsky commented on #497
`webpack.config.resolve = { extensions: [ '.js' '.scss' ... ] }` [`resolve.extensions`](https://webpack.js.org/configuration/resolve/#resolve-extensions) or `import 'scss/modules.container.scss'` :warning: Note the file extension in the `import` path

[2017-10-07 10:13] #497 closed

[2017-10-09 09:52] cyb-prajaktac commented on #355
How did you solve the issue? I upgraded `node-sass` to `4.5.0` but still it is not working.

[2017-10-10 02:13] thenanyu commented on #147
I'm also experiencing this with latest versions of node-sass and sass-loader, also working around by setting threadpool to 100

[2017-10-10 09:19] pedrotainha commented on #287
Hi @Itagiba, i' m getting same issue as you and can' t find the solution. Were you able to find the problem? Thanks

[2017-10-10 09:43] evilebottnawi commented on #287
@pedrotainha please provide your webpack config

[2017-10-10 09:48] d3viant0ne commented on #287
@pedrotainha - No two issues are actually the same, regardless of similar end results.

Create a new issue outlining your problem & provide a minimally repo where the issue can reliably be reproduced.

[2017-10-10 12:43] pedrotainha opened #498 "Module build failed: SyntaxError: .../cart.scss: Unexpected token (6:0)"
I'm facing this issue with sass-loader, can somebody help please. I had the sass working with _**grunt**_ and **_compass_** before, but now i want to migrate to use sass-loader.

' [324] ./node_modules/core-js/fn/regexp/escape.js 108 bytes {0} [built]
 [327] ./scripts/checkout/cart/app-cart.jsx 45 bytes {0} [built]
 [328] ./scss/checkout/cart.scss 519 bytes {0} [built] [failed] [1 error]
    + 314

[2017-10-10 12:44] pedrotainha commented on #287
Sorry for causing noise. In fact my issue is not the same. i created a new one here: https://github.com/webpack-contrib/sass-loader/issues/498

[2017-10-10 12:52] evilebottnawi commented on #498
@pedrotainha please create **minimum** reproducible test repo, thank you

[2017-10-10 12:54] pedrotainha commented on #498
@evilebottnawi . I shared a zip with the mininum source code in the description. Do i really need to create a repo?

Thanks

[2017-10-10 12:55] evilebottnawi commented on #498
@pedrotainha no thanks

[2017-10-10 12:55] evilebottnawi commented on #498
Btw seems something wrong with `happypack` setup

[2017-10-10 13:32] pedrotainha commented on #498
ok, removed happyPack and it works. I will report this to them.

But then i get further on this minimum example and i'm not able to have a css file as output. Probably i'm not getting well how the sass loader works????

again a new zip with modified content:
[issue reproduce.zip](https://github.com/webpack-contrib/sass-loader/files/1372046/issue.reproduce.zip)

[2017-10-10 13:32] #498 closed

[2017-10-12 20:25] neo opened #499 "Multiplication doesn't seem working"
![image](https://user-images.githubusercontent.com/9028430/31517367-b1e29560-af69-11e7-9896-982f58b30a8f.png)
[code]

[2017-10-12 20:29] #499 closed

[2017-10-13 20:27] jotavejv commented on #351
If the problems are related to sass, it is probably due to "compressed" outputStyle. I figured it out just change compressed to "compact".

[2017-10-16 19:30] kirbyfan64 opened #500 "Add an option for the new Dart variant of Sass?"
https://github.com/sass/dart-sass

It's still in beta, but it'd be nice to have it as an option instead of node-sass.

[2017-10-17 08:31] evilebottnawi commented on #500
@kirbyfan64 Duplicate, please read https://github.com/webpack-contrib/sass-loader/issues/435#issuecomment-333260284

[2017-10-17 08:31] #500 closed

[2017-10-17 08:31] evilebottnawi commented on #495
@megamindbrian problem still exists?

[2017-10-17 10:57] ingro commented on #351
Thanks @jotavejv , that fixed my error!

[2017-10-17 13:13] megamindbrian commented on #495
Yes, still not sure how to change output attributes. I just ended up reimporting material themes and adding the extra app element.

[2017-10-18 15:41] drewlustro commented on #351
+1 on this... anyone know how to keep `sourceMap: true` for both the `css-loader` and `sass-loader` ?

[2017-10-19 10:58] valorize commented on #145
@evilebottnawi which `minificator`? Does it have advantages over `optimize-css-assets-webpack-plugin`?

[2017-10-19 15:23] thomashibbard commented on #448
@jpap Are you able to get `:global` to work with .scss? Eg:

[code]

This isn't working for me with or without the `\`

[2017-10-19 16:59] th3fallen commented on #218
First of all thanks so much @EEGL, but has anyone found a way to do this that allows your variables or mixins you're adding to have access to native sass functions i.e. `darken`

[2017-10-19 17:09] intermundos commented on #218
With EEGL's solution I got variables, mixins and function work as needed.

Just add data property to sass loader and specify path of the main sass config file. This way I get sass working with all of its functions.

After that there is no need to import variables file in local was files.

[2017-10-19 17:11] th3fallen commented on #218
derp i was missing a func that was being called to get the color

[2017-10-19 19:19] jpap commented on #448
@thomashibbard what worked for me was something like:
[code]

[2017-10-21 16:31] czpanda commented on #410
Any updates on this issue ?

[2017-10-21 22:19] Robula commented on #455
@lukaswelinder Thank you for that clarification regarding `@import` not working with `commons-chunk-plugin`, there seems to be an ongoing issue over here that is probably related. https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/58

[2017-10-24 17:39] greaveselliott opened #501 "Trouble with postcss"
I recently added the sass-loader config to my webpack.config.dev file that comes with a create-react-app install. All works fine, but I am having some trouble adapting the documented sass-loader config to include postCSS configuration - has anyone managed to set this up?

I'm a long stretch from being a webpack guru, so any pointers would be greatly appreciated.

[2017-10-24 17:45] greaveselliott commented on #501
I resolved this issue with the following configuraiton

`{
            test: /\.scss$/,
            use: [
              require.resolve('style-loader'),
              {
                loader: require.resolve('css-loader'),
                options: {
                  importLoaders: 1,
                },
              },
              {
                loader: require.resolve('postcss-loader'),

[2017-10-24 17:45] #501 closed

[2017-10-24 17:49] subhaze opened #502 "Deep nesting with a variable causes build fail"
I ran into an issue where builds would fail when using variables that were deeply nested, though, I'm not sure if this is specifically a sass-loader issue.

I pulled the code and modified https://github.com/webpack-contrib/sass-loader/blob/master/lib/loader.js#L15 to use the `sass.renderSync` function which appears to remedy the issue.

The minimal amount of breaking code I've come up with is the

[2017-10-24 17:52] michael-ciniawsky commented on #502
Please reopen this at `node-sass` instead this looks like a bug in the `sass` itself without being affected by the way webpack integrates with `sass`

[2017-10-24 17:52] #502 closed

[2017-10-28 06:38] wzup opened #503 "Module build failed: color: #4a4ae5d1;"
What's wrong with this CSS rule?
It works just fine in a browser but throws in Webpack `sass-loader`:

[code]

Error:

[code]

[2017-10-30 09:21] evilebottnawi commented on #503
@wzup seems node-sass doesn't support long color, need investigation, thank for issue

[2017-11-01 02:39] artvader opened #504 "Problem parsing selector variable"
I created simple loop with a variable:
@for $i from 1 through 3 { h#{$i} { font-size: #{$i}px;  }

When compiling, I get this error:
Module build failed: Syntax Error
    (99:8) Unknown word

and it points to the '$' character in h#{$i}

[2017-11-01 08:06] evilebottnawi commented on #504
@artvader can you provide scss scripts, seems problem in you scss script, not in sass-loader

[2017-11-02 03:25] artvader commented on #504
Upon correcting the scss (missing closing bracket) found out it was caused by another plugin. Thank you.

[2017-11-02 03:25] #504 closed

[2017-11-02 15:00] rayfoss commented on #435
For those googling around on how to use dart-sass instead of libsass/SassC in Vue, the answer is you can't. Until it has webpack/vue-loader/sass-loader support. Which can't happen without importer support, even if you are willing to simplify your sass to work with dart-sass.

You can follow progress here https://github.com/sass/dart-sass/issues/12

[2017-11-03 01:21] nex3 commented on #435
I just put out https://github.com/sass/dart-sass/pull/186 which adds support for synchronous importers. I hope to land it tomorrow. Asynchronous importers will probably take more work, but this is an important step.

[2017-11-08 23:02] vaughn-taylor commented on #410
I think I've resolved this for anyone who is still having this issue. I'll start with my file layout which is important for creating the alias:

[code]

This is the relevant section of my webpack.config.js:

[code]

The key with the alias path above is that it must be relative to the location of my webpack.config.js file.

In my entry.js, the modules path "node_modules" will be used:

[code]

When

[2017-11-09 08:27] joshuaaron opened #505 "Images in scss files not showing on dev server or building to dist"
Sorry to plague this with another image issue but I haven't been able to find a solution after crawling through multiple of these related posts.

I can't seem to reference images in my .scss files and some are also not being moved to my dist folder when running webpack build:prod script

webpack.config.js:
[code]

Project directory as such
[code]

Referencing Images in my scss files:
[code]

I hav

[2017-11-09 08:52] evilebottnawi commented on #505
@joshuaaron why you use `~` for images? Also `sass` don't have url rewriting (https://github.com/webpack-contrib/sass-loader#problems-with-url). `importLoaders: 2` => `importLoaders: 1`

[2017-11-09 08:55] joshuaaron commented on #505
In the midst of finding a solution was trying other methods I had seen on similar issues - Half the time that works for one and will load, the other half it won't load.

Also I assumed I would need to importLoaders: 2 since I am using two loaders after css-loader? Apologies this is my first webpack setup for a site and struggling.

[2017-11-09 09:21] evilebottnawi commented on #505
@joshuaaron `importLoaders` means:
[code]
About url, use `full` relative url - `../../img/my-img.png` (relative `root.scss`)

[2017-11-09 09:55] joshuaaron commented on #505
@evilebottnawi  thanks for the reply.
Using the full relative URL throws:
Module not found: Error: Can't resolve '../../img/texture.png' in '/[local-directory]/src/scss'
     @ ./node_modules/css-loader?{"importLoaders":2,"sourceMap":true}!./node_modules/postcss-loader/lib?{"sourceMap":true,"plugins":[null]}!./node_modules/sass-loader/lib/loader.js?{"sourceMap":true}!./src/scss/root.scss 6:12733-1

[2017-11-11 22:51] steveops commented on #410
@vaughn-taylor Not working for me. Webpack 3.6.0 and sass-loader 6.0.6. Was working yesterday then I accidentally deleted node_modules, now am getting that error with sass @imports and I dont know why.

This is part of my webpack config, located one level into the project root.
<img width="465" alt="screen shot 2017-11-12 at 01 44 11" src="https://user-images.githubusercontent.com/12711215/3269419

[2017-11-13 07:34] micolator commented on #410
@SteveOps
Intellij does not recognize the imports, but it works with webpack. It's a
bug in IntelliJ already fixed into phpStorm.

Cordialement,
Nicolas Trichet

2017-11-11 23:51 GMT+01:00 Steve Ops <notifications@github.com>:

[2017-11-13 07:49] steveops commented on #410
@micolator I actually meant the `File not found or unreadable` error when you try to build, but I have since fixed it, it was a stupid mistake from my end :)

[2017-11-13 08:28] aleen42 opened #506 "Can sass-loader keep variables name as comments?"
Recently, I have met a use case when I need to load user configuration like theme color at runtime, and parse it to change CSS files, which is compiled by sass-loader. Is there any suggestion about how to implement it in a clever way? In my opinion, I have tried to work around this by keep variables name in comments when parsing by the loader, and replace them at runtime by creating a style to ove

[2017-11-13 09:16] aleen42 commented on #506
I have found a solution through using CSS custom properties, and any better ideas for a better compatibilites?

[2017-11-13 09:17] chacbumbum opened #507 "Error: Missing whitespace after :global"
This is my style:

Error
[code]
Error message

How can I fix this issue.

Sorry if the issue is already there but I can not find it.

Thanks!

[2017-11-13 09:44] evilebottnawi commented on #507
@chacbumbum can you provide config or minimum reproducible test repo?

[2017-11-13 10:09] chacbumbum commented on #507
I use create-react-app.
This is config in `webpack.config.dev.js`
[code]

[2017-11-13 10:18] evilebottnawi commented on #507
@chacbumbum can you try escape `\:global`? I am not familiar with css modules

[2017-11-13 11:22] chacbumbum commented on #507
@evilebottnawi There is no error notification anymore while created style is incorrect

[2017-11-13 12:01] michael-ciniawsky commented on #506
Not directly for SASS, but you could consider using `postcss-custom-properties` and enhance the PostCSS AST with the variables as long as browser support for CSS Custom Properties isn't mature enough. The plugin has a `fallback` option doing exactly what you're tying to achieve via a mixin atm. Otherwise your approach such work just fine since it's nearly using the same logic. Closing as there is

[2017-11-13 12:01] #506 closed

[2017-11-13 12:14] michael-ciniawsky commented on #507
@chacbumbum Please show the incorrect styles (output), nesting inside `:global` might be a problem

[2017-11-13 13:55] chacbumbum commented on #507
@michael-ciniawsky  I want integration with css-loader and enable modules options [https://github.com/webpack-contrib/css-loader#modules](https://github.com/webpack-contrib/css-loader#modules)

[2017-11-13 14:08] michael-ciniawsky commented on #507
Yep sure, but `sass-loader` (nesting) runs before `css-loader` (CSS Modules), so maybe the sass compiler messes up on `:global` (unknown in `sass`) + nesting (incorrect styles). I need the actual output to verify :)

[2017-11-13 14:22] chacbumbum commented on #507
I want complier from
[code]
to
[code]

[2017-11-14 06:27] aleen42 commented on #506
@michael-ciniawsky Thanks for your suggestion, and I have worked around this by dynamically inject style at runtime with JavaScript, which can solve the compatibility problem:

[code]

[2017-11-14 13:06] evilebottnawi commented on #503
@wzup `libsass` version `3.5.0.beta.2` don't support #rrggbbaa hex color notation, you can try this in https://www.sassmeister.com/. Please create issue in `libsass` about this, Thank you!

[2017-11-14 13:06] #503 closed

[2017-11-15 07:40] jainshravan123 commented on #352
I am also facing the same issue.

[2017-11-15 07:41] jainshravan123 opened #508 "TypeError: undefined is not a function"
I tried to put the console logs inside sass-loader node-module . Here i can see that the flow is going inside startResolving function which is inside webpackImporter.js of sass-loader file. Can anyone please help me soon.

[2017-11-15 09:41] evilebottnawi commented on #508
@jainshravan123 what do you mean?

[2017-11-15 11:02] jainshravan123 commented on #508
@evilebottnawi We are using sass-loader in our project. I was facing following issue.
[code]

So i tried to put the console logs inside sass-loader node-module . Here i can see that the flow is going inside startResolving function which is inside webpackImporter.js of sass-loader file.

Is there any quick solution for this?

[2017-11-15 11:15] evilebottnawi commented on #508
@jainshravan123 update `sass-loader` to `latest` version, if it is not solve you problem, please create minimum reproducible test repo

[2017-11-15 22:05] smrq opened #509 "NormalModuleReplacementPlugin has no effect"
When using the Webpack resolution engine for `@import`s, this plugin should replace resolved files:

**a.scss**
[code]

**b.scss**
[code]

**override.scss**
[code]

**webpack.config**
[code]

**Expected Result**
[code]

**Actual Result**
[code]

I've only just started digging into Webpack to figure out what needs to happen, but my investigation so far leads me to believe that in order to make this

[2017-11-16 07:13] jainshravan123 commented on #508
@evilebottnawi I already updated `sass-loader` to it's latest version i.e. `6.0.6` but still i am facing the same issue.

[2017-11-16 08:50] michael-ciniawsky commented on #508
@jainshravan123 Are you sure this warning comes from `sass-loader` (maybe invalid npm cache)? The loader is updated to use the new method for [`options` parsing](https://github.com/webpack-contrib/sass-loader/blob/master/lib/normalizeOptions.js#L21) for a while now

[2017-11-16 16:20] jainshravan123 commented on #508
@michael-ciniawsky I added some console logs in `sass-loader`. So It was getting stuck somewhere and all of the valid logs were not printing. So i came to know that it's happening because of `sass-loader` only. And i tried to run my project without `sass-loader` too so without that it's running absolutely fine.

[2017-11-16 18:26] michael-ciniawsky commented on #508
Where did you add them could you search for `loaderUtils.parseQuery`in `node_modules/sass-loader` ?  Did you delete `node_modules` && your  lockfile (maybe `npm cache clean --force`) and a tried a fresh install ?

[2017-11-17 00:53] joshuaaron commented on #505
@evilebottnawi Will get one to you later today

[2017-11-17 09:06] crazyx13th opened #510 "Environment variables / data: possibility to use a function"
would be cool to use a function to get somthing like "load context / [name]" to add more dynamic stuff
thx!

greetings
crazyx13th

[2017-11-17 09:25] evilebottnawi commented on #510
@crazyx13th can you provide example?

[2017-11-17 09:28] evilebottnawi commented on #509
@jhnns friendly ping

[2017-11-17 09:45] jhnns commented on #509
@smrq you're right, the current loader configuration does not insert a module for each sass file into webpack's dependency graph, it just uses webpack's resolver. The less-loader already uses `loadModule`, but only for non-Less files in order to allow `@import` of JS files for instance.

However, I'm not sure if we *should* insert a module for each Sass file because there is no actual benefit besi

[2017-11-17 09:49] crazyx13th commented on #510
[code]

something like this :-)
https://webpack.github.io/docs/loaders.html#loader-context

Thx!

[2017-11-17 10:19] crazyx13th commented on #510
target is to get the current **entry-name** (e.g.` c2g-desktop`)
![grafik](https://user-images.githubusercontent.com/8912561/32942255-c950ee00-cb88-11e7-99e2-13d1723732ab.png)

see also https://stackoverflow.com/questions/44970996/reactjs-getting-sperated-css-output-using-webpack-extracttextplugin

[2017-11-17 13:52] Rinat93 commented on #379
Hello!
I have the same problem..

[2017-11-17 16:48] michael-ciniawsky commented on #510
@crazyx13th Is `data` for e.g passing custom variables ? If so feel free to tackle this and sending a PR I will assist if needed or do it when I have time. This is also needed to implement watching these

[2017-11-18 03:50] joshuaaron commented on #505
@evilebottnawi  https://github.com/joshuaaron/test-repo
email me at josh_reynolds_@hotmail.com if you need to, first webpack setup ive done so theres probably a few places to optimise this.
Using the ~/img .. path in dev mode seems to work fine. When creating a prod build, that no longer works, and i cant get a path to work for it at all. This is only for images in scss files. img tags in index.ht

[2017-11-20 10:43] gaponenkodv opened #511 "Module build failed: Unknown word #{$key}"
I have a problem
` ERROR in ./node_modules/css-loader!./ClientApp/scripts/scss/material.scss
    Module build failed: Unknown word (530:29)

      528 |
      529 |     @each $key, $val in $colors {

          |                             ^
      531 |             + label {
      532 |                 &:before {
      533 |                     border-right: 2px solid $val;

webpack:

[2017-11-20 12:09] evilebottnawi commented on #511
@gaponenkodv which version `node-sass` and `libsass` you use?

[2017-11-20 12:46] gaponenkodv commented on #511
"node-sass": "4.6.1",
libsass i dont know, I thought inside the node-sass it

2017-11-20 15:09 GMT+03:00 Evilebot Tnawi <notifications@github.com>:

[2017-11-23 05:55] joshuaaron commented on #505
@evilebottnawi were you able to find any solution or have any tips on this?

[2017-11-23 06:56] tw-paraxial commented on #445
Can't say if it's the same originator, but this is the first hit for this error when googling.  In my case, the arguments for css-loader and sass-loader were reversed, and apparently that was enough to cause this.

[2017-11-23 09:14] evilebottnawi commented on #505
@joshuaaron in near future i investigate you problems, sorry for delay, many work :disappointed:

[2017-11-23 09:18] evilebottnawi commented on #511
@gaponenkodv can you create minimum reproducible test repo?

[2017-11-23 21:07] gaponenkodv commented on #511
https://github.com/gaponenkodv/sample
there dotnet created a lot of files in default angular project, but you need using files with webpack and ClientApp/styles

[2017-11-27 21:51] gaponenkodv commented on #511
@evilebottnawi, do you know anithing about it?

[2017-11-28 13:08] evilebottnawi commented on #511
@gaponenkodv seems problem in configuration, i am not familiar with angular sass configuration, better create issue there, sorry

[2017-11-28 21:22] #511 closed

[2017-11-29 09:40] evilebottnawi commented on #481
Duplicate https://github.com/webpack-contrib/sass-loader/issues/410

[2017-11-29 09:40] #481 closed

[2017-11-30 16:35] jcapozzi commented on #351
Google brought me here after searching for a solution for sass/libsass#2312 which is sadly locked so I can't comment there but maybe this will help someone else:

Adding a space after the & after getting the error fixed it for me.

Before:
`
&:hover {
  color: red;
}
`

After:
`
& :hover {
 color: red;
}
`

[2017-12-02 21:09] graingert commented on #435
Looks like @nex3 has merged async import support, can you reopen this ticket @michael-ciniawsky?

[2017-12-05 21:38] nex3 commented on #435
I'm planning to release a beta release with async importer support later this week. If possible, this should pass the `fibers` package to `render()` if it's using the asynchronous `render()` function; otherwise, it will run substantially slower than `renderSync()`. See [the README](https://github.com/sass/dart-sass/blob/master/README.md#javascript-api) for details.

[2017-12-08 11:27] evilebottnawi commented on #511
what tests do you mean?

[2017-12-09 14:45] Debananda opened #515 "Getting Error : You may need an appropriate loader to handle this file type."
Getting below rrror :
ERROR in ./src/app.scss
Module parse failed: Unexpected token (1:5)
You may need an appropriate loader to handle this file type.
| body {
|     color: pink;
| }
 @ ./src/app.js 1:12-33

**webpack.config.js**

 plugins: [new HtmlWebpackPlugin({
        title: "My App Testing",
        minify: {
            collapseWhitespace: true
        },
        module: {
           rules:

[2017-12-09 21:51] michael-ciniawsky commented on #515
Does `html-webpack-plugin` support passing the whole `module.rules` ? It uses a `childCompilation` internally so maybe you need to setup `module.rules` in your `webpack.config.js`  aswell for `.scss` files not included there

**webpack.config.js**
[code]

[2017-12-10 01:39] Debananda commented on #515
@michael-ciniawsky : Thanks. its working.

[2017-12-10 01:39] #515 closed

[2017-12-11 14:49] JounQin commented on #507
@evilebottnawi Here is a reproduction, please help to locale this issue.

[2017-12-12 14:24] evilebottnawi commented on #507
@chacbumbum @JounQin problem not located in `sass-loader`, it is bug in `postcss-modules-local-by-default` which use into `css-loader`, i recomend use `postcss` plugin for `postcss-loader` (https://github.com/css-modules/postcss-modules). Also in `css-loader` we remove support `css-modules` in favor `postcss` plugin. Thank for issue!

[2017-12-12 14:24] #507 closed

[2017-12-12 14:53] evilebottnawi commented on #509
@smrq as sokra says:

It is solve you problem?

[2017-12-12 15:13] JounQin commented on #507
@evilebottnawi Any reference about the issue related to `postcss-modules-local-by-default`?

[2017-12-12 16:08] evilebottnawi commented on #507
@JounQin should be fixed in `postcss-modules-local-by-default@2`, but in `css-loader` we use `1` version, simple solution move to `postcss-plugin` and disable modules in  `css-loader`

[2017-12-12 16:21] JounQin commented on #507
@evilebottnawi But I have not enabled `modules` option in `css-loader`, and I tried to add `postcss-loader` + `postcss-modules` but it still did not work. So maybe that's a unsupported syntax yet for css-modules?

[2017-12-12 16:42] evilebottnawi commented on #507
@JounQin hm, should be, i investigate this in near future

[2017-12-12 17:43] smrq commented on #509
Unfortunately, I ended up here because aliasing is insufficient. What I
need is to be able to replace a given file's contents regardless of how
it's imported. So both of these should end up with the same replacement:

[code]

Furthermore, doing an alias for the first one will alias any file imported
with the same relative path. This is not good:

[code]

What I want is exactly what the NormalModul

[2017-12-12 19:46] sokra commented on #509
hmm... you can do this with a custom resolver plugins.

[2017-12-12 19:54] smrq commented on #509
Okay, thanks for the confirmation at least.  I've been investigating that route, so it's good to know that it shouldn't be a dead end 😅

Do you suppose this sort of plugin might be worth including in Webpack along with similar plugins?

Also, what can the NormalModuleReplacementPlugin do that this plugin would be unable to do?  It seems like a resolver plugin would hypothetically be less "invasive

[2017-12-16 15:22] wadewadewadewadewadewade opened #518 "scss error: You may need an appropriate loader to handle this file type"
Hello,

I've been trying for a couple of days to get webpack to build my JS & CSS files. The JS seem to build (tho I still have bugs), but the SCSS keeps throwing a parser error and ending.

My repo is here if you're up for helping me. You could be able to just clone it, run `npm install`, and then `npm run build`

https://github.com/wadewadewadewadewadewade/ineffectua-pwa

Thank you for the help!

[2017-12-16 22:05] wadewadewadewadewadewade commented on #518
I figured it out, by chance.

I replaced my rule for css/scss with below, replacing extract-loader and css-loader with raw-loader

[code]

[2017-12-16 22:40] wadewadewadewadewadewade commented on #518
Whoops, I was wrong. raw-loader stopped the build from crashing, but the scss wasn't being parsed into css...

[2017-12-17 02:30] wadewadewadewadewadewade commented on #518
OK, now I got it working- yay! Had to use the pipe/exclamation mark approach I guess.

[code]

[2017-12-17 02:31] #518 closed

[2017-12-17 21:52] HIMISOCOOL commented on #351
like @jotavejv changing that option did stuff.
See [here ](https://github.com/sass/node-sass#outputstyle) for possible values and try one.
Expanded worked for me

[2017-12-19 07:57] asafMasa opened #519 "ver 6.06 requires "node-sass" package as peerDependencies instead of dev"
"peerDependencies": {
   **"node-sass": "^4.0.0",**
    "webpack": "^2.0.0 || >= 3.0.0-rc.0 || ^3.0.0"
  },

sass-loader is required by angular cli (node-sass as **optional** dependency) and you enter node-sass in the backdoor as a **must** depenency...

[2017-12-19 08:49] michael-ciniawsky commented on #519
That's intended so the user controls the version of `node-sass` freely

[2017-12-19 08:49] #519 closed

[2017-12-19 16:04] jonnydevv opened #520 "Problem installing with webpack 3"
Hello,

I'm when i install sass-loader with webpack 3.10.0 it says:

Is there anyway to use with webpack 3 or should we wait for a new release of sass-loader?

[2017-12-19 16:26] jonnydevv commented on #520
I've just upgraded to sass-loader to 6.0.6 and is now working ok.

[2017-12-19 16:26] #520 closed

[2017-12-20 14:09] MagicPoulp opened #521 "michael-ciniawsky invited me to create an issue to discuss this topic of separate CSS bundling with webpack"
An issue is not for discussion. It is for an issue. But I was allowed to create an issue anyways.

https://github.com/webpack/webpack/issues/6163

Here is the discussion
https://www.sitepoint.com/community/t/webpack-what-do-you-think-of-this-way-building-css-and-javascript-separately/284349

[2017-12-20 16:41] MagicPoulp commented on #521
I move this issue to CSS-loader

[2017-12-20 16:41] #521 closed

[2017-12-22 06:02] karanpvyas commented on #355
Any update on this? I'm facing the issue too 😞

[2017-12-22 09:01] shivamkumar110 opened #522 "Module parse failed: Unexpected character '�'"
I am migrating from webpack 1 to 3. After going through so many errors and now I am stuck on this. Can someone please **HELP**!

 I am getting these errors -

[code]

[code]
[code]

Here's my **webpack.config.js** -
[code]

**package.json**
[code]

[2017-12-22 09:31] michael-ciniawsky commented on #522
[code]

[2017-12-22 09:31] #522 closed

[2017-12-22 13:28] shivamkumar110 commented on #522
It only solved gif loader problem. Module parse error still exist.

[2017-12-22 13:32] evilebottnawi commented on #522
@shivamkumar110 can you create minimum reproducible test repo?

[2017-12-25 17:29] JLHwung opened #523 "sass worker hangs on js compilation errors under certain circumstance"
I come across webpack hanging on company building machine. After hours and hours I manage to craft a tiny example ( [link](https://github.com/JLHwung/webpack-sass-worker-hang-example) ) and reproduce it on my mac as well as travis ( [link](https://travis-ci.org/JLHwung/webpack-sass-worker-hang-example]) ).

Travis errored due to timeout and it is expected to fail immediately.

When webpack throws

[2017-12-26 08:42] evilebottnawi commented on #523
@JLHwung can you provide minimum reproducible test repo?

[2017-12-26 08:46] JLHwung commented on #523
@evilebottnawi The minimal example is https://github.com/JLHwung/webpack-sass-worker-hang-example.

It shall be fixed by https://github.com/webpack/webpack/pull/6193, yet any further explanation is also definitely welcome.

[2017-12-28 06:19] shivamkumar110 commented on #522
@evilebottnawi https://github.com/shivamkumar110/webpack-3-test

[2017-12-30 01:54] JLHwung commented on #523
Closed since https://github.com/webpack/webpack/pull/6193 is merged.

[2017-12-30 01:54] #523 closed

[2017-12-30 13:02] leonimurilo opened #524 "No sense calc() results"
I have the following sass code for a grid column:
[code]

[code]

Since the grid width is 1140px (max size triggered) and $gutter-horizonta is 60px, each column width should be 540px so I would have 540px + 60px + 540px = 1140px. However for some reason the column width that appears when I inspect the element in any browser is 47% which is no sense since 47% is 535.8px not 540px.

Why is the follo

[2017-12-31 12:51] bm-stschneider opened #525 "Partials are only resolved if entry folder is added to include"
It seems that the resolution of partials does not work correctly. I don't know if it is an issue with sass-loader or node-sass. When I add an entrypoint to a sass file and it imports a partial with the normal name instead of the underscore name for example, the partial file name is _sprite but the import @import 'sprite'; fails.
Since I have multiple such imports with same file names but different

[2017-12-31 12:53] bm-stschneider opened #526 "Use of bootstrap sass does not work"
Although I already added the path to node modules folder for bootstrap sass it is not resolved and the build exits with an error.
[code]

[2017-12-31 13:04] filipkroca commented on #302
I solved it with

1.adding
      {
        test: /\.(sass|scss)$/,
        include: [PROJECT_DIR],
        loaders: ["style", "css", "sass", "resolve-url", "sass?sourceMap"]
      }

to webpack.config.js

where PROJECT_DIR is

2. import { HOT_RELOAD_PORT, SRC_DIR, PROJECT_DIR, BUILD_DIR } from './constants';

constants.js:
import path from 'path';
const ABSOLUTE_BASE = path.normalize(path.join(__d

[2018-01-02 13:55] klis87 commented on #526
I have exactly the same problem, with below configuration:
[code]
It seems that `includePaths` isn't picked up, as `@import "~bootstrap/sass/assets/stylesheets/bootstrap/variables"` works, and `@import "bootstrap/variables"`doesn't.

What is interesting, it doesn't work only for server side rendering, for client side it works fine.

[2018-01-03 08:16] bschelling opened #527 "bootstrap4 beta 3 build fails"
Disclaimer: I'm not sure if this is a bootstrap or a loader issue so please correct me if I'm reporting in the wrong project.

boostrap4 beta 2 builds worked, now beta 3 was released and the webpack build fails with

[code]

thx for hints!

[2018-01-03 14:33] MikeSpencer42 opened #528 "Support for max() in combination with env(safe-area-inset-*)"
I'm trying to update an app to account for the iPhone X notch. [Webkit.org has a really good article](https://webkit.org/blog/7929/designing-websites-for-iphone-x/) on how to do this. The suggested CSS looks like this:

[code]

However, when I apply similar code into my SCSS, I get the following error in the terminal:

[code]

Note: the older standard `constant()` also does not work with `max()`.

[2018-01-04 09:43] esr360 commented on #101
I am importing a sibling CSS file into my main CSS file. Compile fine usually, but using sass-loader I get this error:

[code]

My `.scss` file contains `@import 'flickity.css';`, as it is a sibling stylesheet it exists in the same output directory, and I can see the file exists on the webpack-server. Is there anyway to get this to work without having to modify my `.scss` files?

[2018-01-04 11:02] esr360 commented on #101
I have a setup like this in my main `.scss` file:

[code]

Naturally the Sass libraries are relative to the Sass file they are imported into, but the CSS libraries are relative to the output CSS file.

Trying to compile the above with Webpack sass-loader results in the following error:

[code]

However, if I change the above to:

[code]

It appears to work properly. I would like my app to not depe

[2018-01-04 13:37] evilebottnawi commented on #527
@bschelling can you create minimum reproducible test repo, seems you don't include all sass files

[2018-01-04 13:58] evilebottnawi commented on #524
@leonimurilo seems problem in `node-sass`, can you create minimum reproducible test repo? Also do you use `postcss` (which plugins)?

[2018-01-04 13:59] evilebottnawi commented on #527
@bschelling also maybe related https://github.com/webpack-contrib/sass-loader/issues/527?

[2018-01-04 13:59] evilebottnawi commented on #526
Somebode can create minimum reproducible test repo?

[2018-01-04 14:01] evilebottnawi commented on #528
@MikeSpencer42 can you show webpack config?

[2018-01-06 09:30] jwldnr opened #529 "Weird source map paths when used together with css-loader"
Original bug report https://github.com/webpack-contrib/css-loader/issues/652
(also reported here because I'm unsure where it belongs.)

**Do you want to request a *feature* or report a *bug*?**
Bug report

**What is the current behavior?**
Wrong source map/resource paths using `css-loader` together with `sass-loader` as shown below:

**Examples of source map paths using the plugin**
The actual `ap

[2018-01-06 12:20] evilebottnawi commented on #529
@jwldnr thanks for issue, in near future i investigate this :+1:

[2018-01-06 12:22] jwldnr commented on #529
Fantastic! thanks @itgalaxy

[2018-01-06 12:24] jwldnr commented on #529
Fantastic! thanks @evilebottnawi

[2018-01-10 15:44] MikeSpencer42 commented on #528
@evilebottnawi Sorry for the delay. Here's a snippet from the config:

[code]

[2018-01-10 22:21] arajay commented on #527
Same but mine fails on the following:
`$custom-file-text               : (
    placeholder: ( en: "Choose file..." ),
    button-label: ( en: "\f019" )
);`

this compiled fine in v4beta 2

[2018-01-11 00:03] bschelling commented on #527
just set it up from scratch with webpack and i don't have any issues yet, still researching..

[2018-01-12 01:28] leocaseiro commented on #351
@jcapozzi that's the only solution that fixed my issue!

Many many many thanks!

Now I'm going to submit a PR to https://github.com/material-components/material-components-web/

[2018-01-12 13:40] Maseeharazzack commented on #329
My code works perfectly in dev environment when I try npm run build I get the following error:

ERROR in ./node_modules/css-loader!./node_modules/sass-loader/lib/loader.js!./node_modules/extract-text-webpack-plugin/dist/loader.js?
{"omit":0,"remove":true}!./node_modules/css-loader!./node_modules/sass-loader/lib/loader.js!./src/app/communication-center/comm-center
.component.scss
Module build faile

[2018-01-12 13:48] evilebottnawi commented on #329
@Maseeharazzack don't create multiple issues in closed issue, please create new issue and create minimum reproducible test repo, thanks!

[2018-01-12 13:59] Maseeharazzack opened #530 "ERROR in ./node_modules/css-loader!./node_modules/sass-loader/lib/loader.js!./node_modules/extract-text-webpack-plugin/dist/loader.js?"
My code works perfectly in dev environment when I try npm run build I get the following error:

ERROR in ./node_modules/css-loader!./node_modules/sass-loader/lib/loader.js!./node_modules/extract-text-webpack-plugin/dist/loader.js?
{"omit":0,"remove":true}!./node_modules/css-loader!./node_modules/sass-loader/lib/loader.js!./src/app/communication-center/comm-center
.component.scss
Module build faile

[2018-01-12 14:22] Cezus commented on #455
I also have this problem. I try to put the bootstrap styles in a vendor css and have a seperate css for custom styles. But the bootstrap css gets duplicated in the custom css while it is also in the vendor css.

[2018-01-12 14:59] evilebottnawi commented on #528
@MikeSpencer42 we don't provide `env` helper. See https://github.com/webpack-contrib/sass-loader#environment-variables. Add to config:
[code]

[code]

Thanks for issue.

[2018-01-12 14:59] #528 closed

[2018-01-12 15:06] evilebottnawi commented on #530
@Maseeharazzack not related to `sass-loader` and `css-loader`, please read https://webpack.js.org/guides/getting-started/, seems problem in `to-string-loader` or `ExtractTextPlugin` together with `to-string-loader`. Please provide minimum reproducible test repo.

[2018-01-12 15:08] evilebottnawi commented on #529
@jwldnr yep, problem in `css-loader`, `sass-loader` return good source map. Close issue here.

[2018-01-12 15:08] #529 closed

[2018-01-12 15:14] evilebottnawi commented on #524
@leonimurilo not related to `sass-loader`, look https://www.sassmeister.com/

Input:

[code]

Output:

[code]

Maybe you use `postcss` plugin or minifier. Thanks for issue.

[2018-01-12 15:14] #524 closed

[2018-01-12 15:21] evilebottnawi commented on #510
@crazyx13th PR welcome

[2018-01-12 15:22] evilebottnawi commented on #490
@henrahmagix should be fixed in `css-loader`, feel free to reopen if problem still exist. Thanks for issue!

[2018-01-12 15:22] #490 closed

[2018-01-12 15:24] evilebottnawi commented on #525
@bm-stschneider can you create minimum reproducible test repo?

[2018-01-12 15:28] evilebottnawi commented on #508
@jainshravan123 `npm cache clear --force` and `npm i`. Seems you have old `sass-loader`. Just check `package-lock.json` which version installed. Feel free to reopen if problem still exists.

[2018-01-12 15:28] #508 closed

[2018-01-12 15:37] evilebottnawi commented on #526
@klis87 don't use `node_modules` inside `includePaths`, using `~` already meaning what you want load from `node_modules`. If you have `bootstrap-sass` outside `node_modules` please confirm what it is inside `webpack.context` directory and use `@import "variables"`.

Example:
`webpack.context` => `/path/to/src`

`bootstrap-sass` directory => `/path/to/src/bootstrap-sass` (`includePaths: [path.resol

[2018-01-12 15:39] evilebottnawi commented on #526
@bm-stschneider use `@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables"`

[2018-01-12 15:39] #526 closed

[2018-01-12 15:46] evilebottnawi commented on #527
@bschelling @arajay don't reproducible, seems you have old version `node-sass`, update `node-sass` to latest version (`npm cache clear --force && npm install` to ensure you will get latest version). Also you can see you installed version in `package-lock.json`. Feel free to reopen issue if you still have problem with minimum reproducible test repo. Thanks for issue!

[2018-01-12 15:46] #527 closed

[2018-01-12 15:50] evilebottnawi commented on #466
Sorry but we can not do anything here. So `node-sass` handle `@import`. Original issue https://github.com/sass/node-sass/issues/1596

[2018-01-12 15:50] #466 closed

[2018-01-12 21:46] leonimurilo commented on #524
I found that the issue was being caused by the less-loader being applied to the same files after the sass loader.

[2018-01-13 15:39] sant123 opened #531 "Switch to node-sass-chokidar?"
[node-sass-chokidar](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc)

Why?

node-sass has been reported as having the following issues:

+ node-sass --watch has been reported to have performance issues in certain conditions when used in a virtual machine or with docker.

+ Infinite styles compiling

[2018-01-14 21:46] gaearon opened #532 "Consider removing peerDependency node-sass and enforcing it at runtime instead"
Hey 👋

Create React App users have been [very](https://github.com/facebookincubator/create-react-app/issues/78) [vocal](https://github.com/facebookincubator/create-react-app/issues/2498) about wanting to have Sass supported out of the box.

My [personal concerns](https://github.com/facebookincubator/create-react-app/issues/78#issuecomment-245727905) about `node-sass` haven't changed: it’s unfortun

[2018-01-14 21:51] jenessawhite commented on #532
Yes!

[2018-01-14 21:58] billyjanitsch commented on #532
Why not put the equivalent "try-catch" wrapping in CRA? That is, do not have CRA depend on `node-sass` or `sass-loader`, but write a simple stub loader that is configured to run on sass files. That loader attempts to load `sass-loader` in a try-catch. If it succeeds, it delegates the rest of the loading to `sass-loader`. If it fails, print an error telling the user to install `sass-loader` _and_ `

[2018-01-14 22:00] gaearon commented on #532
We don’t want to expose Webpack-specific thing to our user until they eject, or to give an impression that it’s supported to install loaders. So a solution that requires the user to install any loader doesn’t work for us.

It also prevents us from updating webpack under the hood (since that often involves updating loaders too). And we actually do that, e.g. we updated from webpack 2 to webpack 3 i

[2018-01-14 22:09] taion commented on #532
That seems like a significant downgrade in experience for other users of sass-loader. If I'm installing sass-loader because I want to use it, why should I wait until runtime to see that I have an invalid dependency setup?

The complexity here seems like it would be better handled by CRA. For example, CRA's tooling could detect if there are Sass files present, then prompt the user to install some a

[2018-01-14 22:11] billyjanitsch commented on #532
I see the concern, and I understand why you want to avoid displaying a peer dep warning by default, especially in an explicitly newbie-friendly tool like CRA. Also, I realize that there are longstanding problems with the node sass binary that are unfortunate to impose even on users who don't plan on using sass.

However, I think it's worth considering that `sass-loader`'s peer dependency on `node-

[2018-01-14 22:17] gaearon commented on #532
Have you ever installed webpack, typed the config, and got it working right on the first try? I empathize with the concern here but I’m not sure how much practical difference it makes. In fact printing a friendly error message that tells you exactly what to do might be a better user experience than relying on npm to show a peer dependency warning in the sea of other output like `node-sass` own bin

[2018-01-14 22:17] taion commented on #532
Yeah! As a user, an ideal solution sounds something like:

- On running the `start` or `build` script, `react-scripts` checks for the presense of Sass files
- If Sass files are present, but `react-scripts-sass` is not installed, prompt the user with something like `Sass files detected. Install Sass support? [Y/n]`
  - If user selects `y`, install `react-scripts-sass` and restart the script
- In th

[2018-01-14 22:27] taion commented on #532
But right now you don't get a "sea of other output". When I run `yarn add sass-loader`, I get:

![image](https://user-images.githubusercontent.com/3112159/34921441-133c5b40-f950-11e7-887f-9c08c70da6a0.png)

That's pretty to-the-point.

[2018-01-14 22:27] ahmadawais commented on #532
I came here to share exact same thoughts as shared by @taion above.
- Detect `.scss/.sass` files (I think `.sass` usage is quite less)
- Prompt user to install `sass` dependencies or remove sass files.
- `Install Sass support? [Y/n]` which leads to installation of a sass plugin or functionality via `react-dev-utils`.

[2018-01-14 22:28] gaearon commented on #532
@taion For some reason I was less lucky 😢

Which is kind of my point—I don’t want CRA users to ever see something like this unless they explicitly opt in.

<img width="1076" alt="screen shot 2018-01-14 at 22 27 44" src="https://user-images.githubusercontent.com/810438/34921449-2e8df834-f97a-11e7-859e-91e8f3666d87.png">

[2018-01-14 22:32] xzyfer commented on #532
👋 Node sass maintainer here. Happy to help where we can. Regarding the binary download issues, there's are largely unavoidable. As such we're investigating the feasibility of converting the binary to Web Assembly so a single artefact can be packaged in the npm download.

[2018-01-14 22:33] Tetheta commented on #532
I've had so many coworkers that have had all sorts of bizarre errors with node-sass and I've had plenty of my own issues as well.

If it does get included in CRA I would want at the least better error messages, preferably with a link to common fixes for said messages.

[2018-01-14 22:33] taion commented on #532
In my example, I'm not installing `node-sass`. If you are installing `node-sass`, then you wouldn't get that peer dependency warning anyway.

I don't think CRA needs a full-fledged plugin system to handle these sorts of optionals. What's wrong with something in https://github.com/facebookincubator/create-react-app/blob/v1.0.17/packages/react-scripts/config/webpack.config.dev.js like:

[code]

Then

[2018-01-14 22:34] billyjanitsch commented on #532
Yes, of course. I'm looking for a solution that doesn't require this by default, _and_ doesn't require sass-loader to do custom stuff. Best of both worlds, if we can make it work. :) If not, I think it's totally reasonable to fall back on a solution like the one you've proposed; sorry if I came across as shooting it down unconditionally.

So "plugin" is not the right name. But comparing this to th

[2018-01-14 22:56] taion commented on #532
There are lots of things that users can't do with CRA, though! "Zero-config except you pick your version of `node-sass`" is sort of odd, anyway.

If it came down to it, aside from ejecting, there are always Yarn resolutions. (Or installing `node-sass` first and hoping that the package manager does the right thing with deduping.)

[2018-01-14 23:15] satya164 commented on #532
I agree with @taion here. This seems like responsibility of CRA. `peerDependencies` are the standard way to notify about additional required packages at install time and it seems odd to replace it with an inconsistent behavior that requires users to actually try to trigger a build to know about missing dependencies.

[2018-01-14 23:20] gaearon commented on #532
I see, thanks for the discussion. I feel strongly that we don't want to expose our own separate addon-like package to the user, but I understand you feel strongly about this matter too.

As a compromise, we might try writing a script that forks the package and does the necessary changes so we don't have to actively maintain a fork. If we find a way to make it low-effort and automatically "change"

[2018-01-15 06:49] bm-stschneider commented on #526
Am I right that this ~ is only usable with webpack? Can't find anything in the sass documentation about that.

[2018-01-15 09:21] evilebottnawi commented on #526
@bm-stschneider yes `~` only for `webpack`

[2018-01-15 09:26] evilebottnawi commented on #531
@sant123 it is loader, `node-sass-chokidar` is for watching (cli using), we don't provide watch mechanism, it is do `webpack` using [watchpack](https://github.com/webpack/watchpack) that already use `chokidar`. Can you describe problem in watch mode?

[2018-01-15 11:46] jhnns commented on #532
Thanks for bringing it up and for the discussion. Just wanted to note that until now, no sass-loader maintainer/contributor has answered on this issue so I'll just add my two cents here 😁:

I totally understand CRA's point of view and I agree that a peer dependency warning is not really user friendly here. But I also think that from the sass-loader's perspective, a peer dependency is the right thi

[2018-01-15 12:14] evilebottnawi commented on #532
@jhnns @gaearon

I think we should use this way. Why?
- It is safe.
- It is allow avoid npm message error.
- PR welcome to support `dart-sass` (seems he is support `importer`).

Also we can improve error message (`Please install 'node-sass'...`) if `node-sass` (or `dart-sass`) not found to avoid UI problems.

[2018-01-15 12:28] gaearon commented on #532
The above comment makes sense to me. If multiple Sass implementations emerge (which, as I understand, is slowly happening), it would probably make sense for `sass-loader` to relax the peer so either of them can be used depending on an option. That is, of course, if their API is otherwise the same, and most plugin logic is independent of the Sass implementation. I don’t know whether this is the cas

[2018-01-15 12:37] evilebottnawi commented on #532
@gaearon yep, it is also allow to using `alpha`, `beta` and `rc` versions. PR welcome. I think @jhnns agree with me.

[2018-01-15 12:39] evilebottnawi commented on #532
Label as `major` because some people can have `node-sass` as deps and it is break their build (example other package can install `node-sass`). But if somebody have other opinion - discussion welcome.

[2018-01-15 13:35] sant123 commented on #531
Sorry @evilebottnawi, I missed that detail. Closing.

[2018-01-15 13:35] #531 closed

[2018-01-15 14:45] taion commented on #532
The most analogous case I can think of there is with WebSocket-based libraries that can use either `ws` or `uws`. In the cases I can think of, the libraries depend on `ws` and use `ws` by default, but can be optionally configured to use `uws`.

I don't think I've ever seen a library that intentionally does not work out-of-the-box even with its peer dependencies installed, assuming those peer depen

[2018-01-15 17:39] gaearon commented on #532
@evilebottnawi I'm not sure I see why this would be a breaking change except for npm@2 (which I'm not sure if you support). In other npm versions and Yarn, `peerDependencies` is only respected for warnings and don't automatically get installed. So removing a peer dependency should be possible to do in a minor release.

[2018-01-15 17:50] evilebottnawi commented on #532
@gaearon minimum supported node `4.3` (look in package.json), default version npm is `2.14.12` for 4.3 (look https://nodejs.org/en/download/releases/). I agree that very few people use such versions, but if somebody use this versions we break build(s) and it is breaking changes.

[2018-01-15 17:53] gaearon commented on #532
This is fair, thanks for explaining.

[2018-01-16 20:13] atilkan commented on #187
You can test both:
`test: /\.s[ac]ss$/,`

[2018-01-18 06:10] bostiq opened #534 "@mixin not compiling"
so I'm new to sass so pls be gentle.. "it's my first time!" XD

didn't know where else to ask so here it is:

I copied this snippets straight from sass-lang.com and testing the compiler through sublime and mac osx terminal to make sure they don't output differently.. they don't.

this is the snippet that create the issue
[code]

I made sure all indentation are consistent in the whole document and

[2018-01-18 09:16] evilebottnawi commented on #534
@bostiq can you provide `webpack` config file? Seems you have something wrong in configuration, should be work

[2018-01-18 09:57] bostiq commented on #534
I'd be happy to! how do I do it??? 😅

[2018-01-18 10:28] evilebottnawi commented on #534
@bostiq `cat webpack.config.js` and post here

[2018-01-18 10:55] bostiq commented on #534
Sorry mate.... I can't locate the file... where should it be?

[2018-01-18 11:25] evilebottnawi commented on #534
@bostiq search in you repo/project `webpack.config.js` and past here, i don't known location in your project, default it is in root project directory, also can be place in `config` or `tools` directory

[2018-01-18 11:49] bostiq commented on #534
dude.. not sure if I even have `webpack.config.js`
My project folder is set by Sublime and has not such file.
Sublimes than take advantage of sass previously installed via terminal.

**I really appreciate** you are trying to help me, but as I said I'm pretty new to this.

I know that to install sass, I had install ruby and gem, but I haven't got the slightest idea of what they do. I have a basic u

[2018-01-18 12:11] evilebottnawi commented on #534
@bostiq hm, do you use `webpack`? How you build you project?

[2018-01-18 12:22] bostiq commented on #534
for the moment I don't need to.. as I'm studying... I'm learning php, js, ..already know css pretty well.. and I want to learn sass
then I will put all pieces together and use a framework for it all

[2018-01-18 12:38] evilebottnawi commented on #534
@bostiq seems you create issue in the wrong repository :smile: `sass-loader` require only for `webpack`, you issue related to `node-sass` (`sass/scss` - https://github.com/sass/node-sass), we only wrapper around `node-sass` to compile `sass/scss` for `webpack`

[2018-01-18 12:45] micros123 commented on #413
Sorry for the bump, but for others looking for an answer: The original problem was first running postcss (last in the list) and then sass. Don't put postcss at the end as it will run first.
Then I think the reolve-url-loader broke because that should have happened before the sass-loader. The correct order would be:
`['css-loader', 'postcss-loader', 'sass-loader', 'resolve-url-loader'] `

[2018-01-18 13:06] bostiq commented on #534
awesome 'creating issues' is my job right now... gosh!
thanks for the help !