[2018-01-18 13:06] #534 closed

[2018-01-19 05:36] anilnamde commented on #309
@kang-chen devtool : "source-map" worked well. Only concern is it might affect [performance](https://webpack.js.org/configuration/devtool/) of JS bundle as well.

[2018-01-21 23:06] IRoninCoder commented on #410
I'm having this issue and it's January 2018. What a frustrating bug. I've tried every single option here and on the web but webpack just keeps complaining about file not found. Added tilde, removed tilde, modified the resolve settings any way possible, used path.resolve, path.join.... and nothing worked. Even the error did not change. By the way, the "duplicate" is actually closed referencing this

[2018-01-21 23:17] IRoninCoder commented on #410
I just did something out of fraustration so check this out. So these do not work:
[code]
This one works:
[code]
Unfortunately the css package is referencing `@material` packages, which internally do NOT use tilde and so even directly referencing the `.scss` file does not work. Here's my webpack resolve:
[code]
Still interested in using the `.scss` so I can build themes, so any help is appreciated.

[2018-01-21 23:25] IRoninCoder commented on #410
I should also add, doing `<style src="~@vue-mdc-adapter/dist/styles.scss">` in a `.vue` file will result finding that file, however again breaks after hitting the `@material` packages. As you can read above, the first file is not even found in an `@import` statement within a `.scss` file.

[2018-01-31 20:47] casimcdaniels commented on #147
Experience this issue in `node-sass@4.7.2` and `sass-loader@6.0.6`.

As @myme mentioned, setting `UV_THREADPOOL_SIZE` "fixes" the issue.

[2018-01-31 22:27] scott-thrillist commented on #49
So useful, glad Google led me here. Thanks all.

https://webpack.js.org/loaders/sass-loader/#environment-variables

[2018-02-01 08:15] evilebottnawi commented on #147
@casimcdaniels can you create minimum reproducible test repo and describe what is problem?

[2018-02-01 12:58] dyatko commented on #528
@evilebottnawi It's not a fix, please learn Webkit article on a reason for such combination:
https://webkit.org/blog/7929/designing-websites-for-iphone-x/

[2018-02-01 13:02] dyatko commented on #528
@MikeSpencer42 I found a fix https://github.com/sass/sass/issues/2378
`margin-left: m#{a}x(12px, env(safe-area-inset-left));`

[2018-02-01 13:17] MikeSpencer42 commented on #528
@dyatko I ended up modifying my Webpack build process to allow for a CSS file to be injected into the `<head>` after my CSS that is generated via SCSS. The nice thing is that all of my iPhone X code is in one overriding CSS file, but the downside is that I had to use plain CSS to get around sass-loader's limitation. It's certainly not the ideal solution, but it did allow us to move on.

[2018-02-01 13:17] AjayZinngg commented on #530
Re-installing webpack solved the issue for me.
npm install --save-dev webpack

[2018-02-01 13:19] evilebottnawi commented on #528
@MikeSpencer42 PR welcome to `sass-loader`, if you solution will be simple and elegant we will merge it

[2018-02-02 02:43] tangshuang commented on #455
@Cezus finally I do like this:

[code]

[code]

In my.scss, I import the scss file which only contains `box-shadow` function from bootstrap-sass.

Hope this can help you.

[2018-02-02 09:54] evilebottnawi commented on #455
@lukaswelinder yes, because `import` inside sass concatenate all output from loader as one module, it is expected behavior right now, but PR welcome :+1:

[2018-02-06 08:36] sindresorhus opened #535 "Simplify importing index.scss in an npm package"
Let's say an npm package named `foo` contains:

[code]

Currently, I can use the following to import it:

[code]

But it would be nicer if we could just import it as:

[code]

Like with JS npm packages.

[2018-02-06 09:26] Hlkz commented on #410
I had the bug with webpack 2, just upgraded to 3+ and it works for me!

[2018-02-06 11:20] evilebottnawi commented on #535
@sindresorhus thanks for issue, maybe we can use `sass` field from `package.json`, maybe we already support this :smile: Can you check this (https://github.com/webpack-contrib/sass-loader/blob/master/lib/loader.js#L40), `resolve` from `webpack` api. If it is not support we can fix in `webpack`

[2018-02-07 01:57] jhenry9636 commented on #410
I'm having the same issue actually.

Server file
[code]

Webpack config
[code]

[2018-02-08 10:47] webpack-bot opened #536 "Webpack import sass issue"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
I star getting that error from out of the wild, like two weeks ago, this code was working fine
my webpack config has
`const webpack = require('webpack');
const conf = require('./gulp.con

[2018-02-08 10:48] evilebottnawi commented on #536
@DFallas you use invalid configuration please read documentation https://github.com/webpack-contrib/sass-loader#examples also don't use loader for css twice

[2018-02-08 11:32] Apoorv2345 commented on #522
Any update on it. I'm facing similar issue?

[2018-02-08 15:38] DFallas commented on #536
@evilebottnawi I've tried all differente versions in [`extract text lugin`](https://github.com/webpack-contrib/extract-text-webpack-plugin) and [sass-loader](https://github.com/webpack-contrib/sass-loader) and have the same error 👎
that's what I currently have cause I'm using the extract text plugin to create a index.css output
`        test: /\.(css|scss)$/,
        use: ExtractTextPlugin.extract

[2018-02-08 18:42] DFallas commented on #536
This is the line I'm using to import
`import 'style-loader!css-loader!sass-loader!./index.scss';`

[2018-02-08 18:48] DFallas commented on #536
I think there could be weird bug I just commented import line in index.js, then compile, then uncommented the line and the build works, but if I stop the build again and restart it the same error appears is really confusing see attache pic
![screen shot 2018-02-08 at 12 46 25 pm](https://user-images.githubusercontent.com/12972239/35991875-394ca416-0cce-11e8-9b61-8cd86399f7f8.png)

[2018-02-08 18:59] evilebottnawi commented on #536
@DFallas please read documentation:
1. style-loader or extract plugin with fallback: `style-loader` and with use below
2. css-loader
3. postcss-loader
4. sass-loader

[2018-02-08 19:13] DFallas commented on #536
@evilebottnawi thanks! Would you point me out where in the docu refers to that... is not as easy to find I've been reading some of it for some time ... so it'll be helpful.
Thanks a lot for your help, is still interesting how it is working right know with the strange behavior I mentioned before any clues on that?

[2018-02-09 18:31] chovy commented on #536
I'm having the same problem. @import in my scss files doesn't work.

[code]

[2018-02-10 06:11] zindel commented on #343
What is the difference between one and two exclamation marks in the beginning?

[2018-02-11 01:26] Quadriphobs1 opened #537 "URL file import in scss file"
In my webpack configuration, i have below and also install each dependency
[code]

But if import assets like image, fonts, using the `url('/path/to/file.ext)` i keep getting error These relative modules were not found:,

How can i configure the sass loader to also import all files

[2018-02-11 08:23] sindresorhus commented on #535
I'm not sure what `sass` field you're referring to, but that's not really what I'm requesting here. I'm requesting the above to just work without any extra config in either package.json or webpack.

[2018-02-11 09:30] michael-ciniawsky commented on #535
`config.resolve.mainFields = [ 'style' ]`. e.g `normalize.css` supports the [`pkg.style`](https://github.com/necolas/normalize.css/blob/master/package.json#L6) property, which is the most widely used approached I'm aware of atm. `style` could eventually be supported by `webpack` as a default `mainField`, but not sure.... or `sass-loader` programmatically passes  `options` to the resolver, the ques

[2018-02-12 10:44] evilebottnawi commented on #537
@Quadriphobs1 `node-sass` don't have url processing, you should use relative path from `app.scss` (main scss file) or use [resolve-url-loader](https://www.npmjs.com/package/resolve-url-loader)

[2018-02-12 10:46] evilebottnawi commented on #535
@michael-ciniawsky need add tests for this :+1:

[2018-02-12 12:01] mrmnmly commented on #218
@EEGL and @natchiketa solutions works for me, but in the end won't they produce huge css repetitive code? (or maybe not - I'm not sure, that's why ask - just curious about it)

[2018-02-12 12:16] EEGL commented on #218
@mrmnmly if you put actual css rules in it, you will end up with repetitive code. This solution only works properly for sass variables and mixins, b/c those won't directly appear in the final CSS.

[2018-02-12 12:42] mrmnmly commented on #218
@EEGL thank You for the clarification

[2018-02-13 11:12] atilkan commented on #68
webpack causing more problem than it solves. Why this would not work i don't get it.

[2018-02-13 11:18] evilebottnawi commented on #68
@atilkan what you problem? please create issue (better with minimum reproducible test repo)

[2018-02-15 19:25] leonaves commented on #532
Not sure if you had considered this but an alternative approach could be to propose an NPM feature that allows you to suppress specific child deps' peer dependency warnings? Of course assuming it was added, you would still only be able to support NPM versions after that was released, which isn't great 😬  but 'twas just a thought that might prompt further discussion?

[2018-02-15 23:24] WhiteLeash commented on #522
^same

[2018-02-16 15:43] bs-thomas commented on #101
I have the same issue.  Wonder if this is being looked at.

[2018-02-16 15:48] bs-thomas commented on #410
I'm seeing this bug even with webpack 3.10.0

[2018-02-16 16:45] bs-thomas commented on #355
I'm having this issue only when using the "importer" option in "node-sass" and resolving a CSS file and returning { path: file } as per the node-sass README.md documentation.

[2018-02-17 06:13] norvele commented on #410
@bs-thomas and 3.11.0 too

[2018-02-17 15:08] jhnns commented on #532
@gaearon Just wanted to let you know that I'm currently re-thinking this. A hand-crafted, helpful error message is probably better than a peer dependency 👍. There is a PR to implement this #533

[2018-02-17 17:01] sangeethksin commented on #410
Suppose your alias is **'$scss'**, then you have to use **@import '~$scss/app.scss'**

[2018-02-18 04:16] dkowis commented on #445
https://github.com/vuejs-templates/webpack-simple/issues/107#issuecomment-311097791

This was the problem for me. During webpack merging, I had multiple matches for `scss`.

[2018-02-18 04:16] dkowis commented on #536
@DFallas Maybe this is your problem: https://github.com/vuejs-templates/webpack-simple/issues/107#issuecomment-311097791

I had multiple `scss` tests when I merged my config :(

[2018-02-19 11:59] shivamkumar110 commented on #522
Yeah, Sorry to respond late. Seems like there was a problem with my eslint configuration where I made it to fail my build if any linting error is there. And I wasted a lot of time in correcting webpack configs. Silly me.  Pass option emitWarning:false in option of eslint.
Here's my latest webpack config which works fine.

[code]

Hope this helps @Apoorv2345 @WhiteLeash

[2018-02-20 22:50] thismax commented on #344
Here's what worked for me:

[code]

[2018-02-21 15:13] fago opened #539 "Fail when sass warnings are present"
I just ran into the situation that some scss code triggered a warning via the @warn sass function:

I'd like to configure the sass-loader such that those warnings result into fails, but found no such option. Is this doable somehow?

[2018-02-21 15:29] evilebottnawi commented on #539
@fago can you create minimum reproducible test repo?

[2018-02-21 21:10] neotech-starassov commented on #510
You can use getter instead of function 🚀

[2018-02-23 11:52] rjgotten commented on #145
Neither `node-sass-import-once` nor `sass-loader-once` seem to support package-relative imports such as `@import "~bootstrap/scss/bootstrap" `

Imho both disqualify as a proper solution to the import-once problem.

[2018-02-25 21:39] pythonxCat commented on #218
My webpack version is version 3.0.x. I met the same problem, and I tried all the solution mentioned above, but the problem still not solved

[2018-02-26 17:48] evilebottnawi commented on #493
@artemjackson no, but PR welcome, many works around `webpack@4` :disappointed:

[2018-02-28 00:29] TheLarkInn commented on #535
Only problem is not everyone will expect this behavior no? It would be a webpack/webpack@WebpackOptionsDefaulter change.

[2018-02-28 04:01] lengjh commented on #278
ERROR in ./node_modules/css-loader!./node_modules/sass-loader/lib/loader.js!./src/common.scss
Module build failed: Error: ENOENT: no such file
or directory, scandir 'E:\study\webpack4x\node_modules\node-sass\vendor'
    at Object.fs.readdirSync (fs.js:904:18)
    at Object.getInstalledBinaries (E:\study\webpack4x\node_modules\node-sass\lib\extensions.js:128:13)
    at foundBinariesList (E:\study\w

[2018-02-28 04:04] lengjh opened #540 "sass-loader can not work in webpack 4.0.1"
**package.json**
[code]

### `Error Logs`

[code]

[2018-02-28 09:42] evilebottnawi commented on #540
@lengjh Can you create minimum reproducible test repo, seems bug in `node-sass` :confused:

[2018-03-01 17:37] ngohungphuc opened #542 "Style loader throw Module build failed: ModuleParseError: Module parse failed: Unexpected character '�' (1:0) error"
I got this error when using sass-loader. If i have a scss file doesnt have external image link the loader will work perfectly.

![error](https://user-images.githubusercontent.com/13591213/36859500-20cc5d3e-1db1-11e8-9886-362990ecb08b.png)

[2018-03-01 17:47] evilebottnawi commented on #542
@ngohungphuc don't duplicate issues

[2018-03-01 17:47] #542 closed

[2018-03-01 23:28] andrebautista commented on #526
@bm-stschneider Did you figure out how to fix this? Running into the same issue right now with the bootstrap package.

[2018-03-02 04:49] DFallas commented on #536
@dkowis thanks

[2018-03-02 06:53] bm-stschneider commented on #526
No, there seems to be no way other than a webpack specific syntax.

[2018-03-02 07:02] andrebautista commented on #526
I was banging my head against the wall for quite some time earlier but I stumbled upon a stopgap solution.
`
{
                  loader: 'sass-loader',
                  options: {
                    includePaths: ['node_modules']
                  }
                }
`
By using includePaths I can now reference bootstrap in my manifest file like so:
`@import "bootstrap/scss/functions.scss";` Noti

[2018-03-02 09:28] evilebottnawi commented on #536
@DFallas can we close issue?

[2018-03-02 10:00] spock123 commented on #540
@lengjh  I'm having same issue. Any setup with Webpack 4 + Sass-loader will give this error.

For the record, I also tried with https://github.com/yibn2008/fast-sass-loader  with the same result so your suspision on node-sass seems to be correct.

[2018-03-02 10:03] evilebottnawi commented on #540
We migrate on webpack@4 and also use `sass-loader` and all works fine :confused: can you create minimum reproducible test repo? Or put here stack trace?

[2018-03-02 10:04] evilebottnawi commented on #540
@spock123 Also you use mac/linux/windows?

[2018-03-02 10:11] SplicePHP opened #543 "Webpack not watching import css files"
If I use the following syntax in a scss file webpack watch does not watch for changes in the imported file:
[code]
Editing imported scss files does trigger webpack to recompile. Just not css.

My webpack config looks something like this:
[code]

[2018-03-02 10:26] evilebottnawi commented on #543
@SplicePHP can you add `ident: "postcss-loader"` to `postcss-loader`?

[2018-03-02 11:53] spock123 commented on #540
@evilebottnawi  this is a surprise to me.. I'll have to investigate tonight :)

I use Linux/Ubuntu, Node 8.9.4, Typescript 2.6.2

[code]

[2018-03-02 12:01] evilebottnawi commented on #540
@spock123 very strange we don't use `context` anywhere. Maybe you can provide test repo?

[2018-03-02 12:01] spock123 commented on #540
@evilebottnawi  I know webpack4 changed  this.context => this.rootContext, could this be the issue?

[2018-03-02 12:09] SplicePHP commented on #543
Thanks, I tried adding indent but it didn't seem to fix it.
[code]
and that seemed to fix it.

[2018-03-02 12:10] spock123 commented on #540
@evilebottnawi  Please disregard, I have just tested more and I don't think the issue is with sass-loader or node-sass. The error I have is because of importing woff2 font files (inside sass files).

Likely the issue is with other loaders (like file-loader)..

I'm sorry.. I'll investigate more but most likely sass-loader works beautifully :)

[2018-03-02 12:24] evilebottnawi commented on #543
@SplicePHP seems problem in `precss`, maybe they rewrite `@import`?

[2018-03-02 12:25] evilebottnawi commented on #540
@spock123 anyway when you find problem please describe her here :+1:

[2018-03-02 12:28] SplicePHP commented on #543
Probably,
Precss seems to be a scss like parser for css files.
Can't remember why it was used in my config but removing it there does not seem to effect my build in any negative way.

Thanks for the assistance.
Have a nice weekend

[2018-03-02 12:29] evilebottnawi commented on #543
@SplicePHP :+1:  Can we close issue?

[2018-03-02 12:30] SplicePHP commented on #543
Yes

[2018-03-02 12:30] #543 closed

[2018-03-02 18:23] ishraqiyun77 opened #544 "background-image: url(...) broken in browser console, might be related to missing sourcemap?"
Been trying to get assistance on SO regarding this, but getting no where.

The issue is related to `url()` which the `sass-loader` documentation predicts there might be. Followed the related documentation and am not able to produce the desired result. Essentially, I have a `background-image: url(...)` that isn't loading in the browser despite it point at the correct file and location. The image fi

[2018-03-02 18:24] evilebottnawi commented on #544
@ishraqiyun77 You use `dev-server`?

[2018-03-02 18:25] ishraqiyun77 commented on #544
@evilebottnawi Hi, I do not.

[2018-03-02 18:26] evilebottnawi commented on #544
@ishraqiyun77 can you create minimum reproducible test repo?

[2018-03-02 18:36] ishraqiyun77 commented on #544
Will do. I have Django and webpack-loader running server side. Would you like that as well?

[2018-03-02 19:01] evilebottnawi commented on #544
@ishraqiyun77 just add README with command how install and reproduce and all ok :+1:

[2018-03-02 19:42] ishraqiyun77 commented on #544
Ok, made the following repo. I didn't add Django because the issue is being reproduced just on the front-end: according to Network in the browser Console, it is "looking" right at the file, but it is not loading it.

https://github.com/ishraqiyun77/url-issue

[2018-03-02 22:53] reinerBa commented on #435
For me it would be greate if the `sass-loader` would support the usage ´sass´ compiler because `node-sass` forces me to install `node-gyp` which is sometimes a big problem :( as Golo describes here in a [node-sass issue](https://github.com/sass/node-sass/issues/2133)

[2018-03-03 00:25] michael-ciniawsky commented on #540
[code]

`fast-sass-loader !== sass-loader`, please open an issue in `fast-sass-loader` instead

[2018-03-03 00:25] #540 closed

[2018-03-04 05:55] zemadz commented on #544
I'm pretty sure that this issue is caused  by `file-loader` which `useRelativePath` option behavior changed (was broken) with version 1.1.8. Try to install v1.1.7 and see if it helps temporarily.

[2018-03-04 10:41] spock123 commented on #540
@evilebottnawi  The issue was with awesome-typescript-loader.

Using ts-loader instead solved the issue. Hope this helps others with similar issue.

[2018-03-04 10:42] spock123 commented on #540
@michael-ciniawsky

I think you missed this quote:

[2018-03-04 11:44] milushov commented on #410
Guys, have you seen this link? 😃 https://getbootstrap.com/docs/4.0/getting-started/webpack/#importing-javascript

[2018-03-04 22:03] ishraqiyun77 commented on #544
Hi, I gave it a shot, but still having the same issue.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Sat, Mar 3, 2018 at 9:55 P

[2018-03-05 12:41] nombienombie commented on #344
@thismax Thanks! This worked for me :)

[2018-03-06 22:48] ishraqiyun77 commented on #544
Hi, I just wanted to check in for any other suggestions. I have been trying various other configurations over the past few days to no avail.

[2018-03-08 22:26] ishraqiyun77 commented on #544
Figured I'd try try linking to an external `http://` to see if it worked and it did. `background-image:  url('https://www.ocrmobile.com/images/2016/12/21/cloud.png` as a test. Guess I'll find a reliable place to store these until the app is moved into Azure.

[2018-03-09 04:02] franciscop-invast commented on #532
@leonaves I've tried several npm feature recommendations, all of them got closed with no official response. They [seem quite overloaded](http://blog.npmjs.org/post/161832149430/npm-the-npm-github-issue-tracker-and-you) and Facebook even created [Yarn](https://yarnpkg.com/en/) as an alternative to npm, I am guessing partly for how dysfunctional npm has become in the last years.

[2018-03-09 16:30] perry-mitchell opened #545 "Unable to get fonts copied to dist using sass-loader+resolve-url-loader"
Hi,

I'm using `resolve-url-loader@2.3.0`, `sass-loader@6.0.7`, `pug-loader@2.3.0` and `webpack@3.11.0` to build a basic HTML page with external stylesheet. My idea is simply to compile a `base.sass` file to CSS and copy that and the HTML to the `dist` directory.

Everything compiles without error, and both the HTML and CSS files appear in the output. I have a couple of font files in the sass file

[2018-03-09 17:43] perry-mitchell commented on #545
Ok, so after wasting a fair few hours on this over the last couple of days, I've given up. It wasn't `sass-loader` at all, obviously, but a combination of `pug-loader` and its inability to correctly use `sass-loader` to chain the loading of sass and other assets referenced therein. I've gone with importing the sass directly in the `index.js` file (react app) which works fine.

[2018-03-09 17:43] #545 closed

[2018-03-12 08:17] horaceleung opened #546 "Sass-loader error"
Since a few days again, we have been getting the below error that we think is pinned down to sass-loader. When we comment out sass-loader in our webpack config, the error disappears.

Any help would be appreciated.

parseQuery() will be replaced with getOptions() in the next major version of loader-utils.
node(7309,0x700007c5f000) malloc: *** error for object 0x107bb9c90: pointer being freed was n

[2018-03-12 08:34] #546 closed

[2018-03-12 12:35] patric-eberle opened #547 "Probably incompatible with node-sass 4.8.1"
I updated my node packages today on my Vue template project. Updating node-sass from 4.7.2 to 4.8.1 seems to break the sass-loader. After the update I got the following error (which was not an issue before):

[code]

webpack.config.js (devConfig is used)

[code]

[2018-03-12 12:40] evilebottnawi commented on #547
@patric-eberle we just wrapper around `node-sass`, we don't change you code, you have problem in your code ` Invalid CSS after`. New `node-sass` version does not support syntax you have.

[2018-03-12 13:19] patric-eberle commented on #547
@evilebottnawi I was a bit unsure, where to post this. I interpreted, that the webpack loader seems to have an issue. But based on what your response, I think I will create a bug report for node-sass.

[2018-03-12 13:19] #547 closed

[2018-03-12 14:48] falconmick opened #548 "Splitting into multiple files"
Hey I've been trying to pull every ounce of performance into my web app and one of my biggest issues is that my css file could be better.

I've built my sites mobile first, so theoretically there is a TON of css that could be deffered from downloading via style's media attribute. So here's the goal:

create base.css which is all of the css minus my media queries
tablet.css which is the media > $mo

[2018-03-14 16:11] intermund commented on #218
Just in case, here is my webpack dev config part for SASS

[code]

[2018-03-14 23:46] McBenny opened #549 "Compilation errors in calc()"
Hi,
I have a scss declaration with:
`height: calc(100vh - (50px + 2rem));`

The intended result according to the rule should be:
`height: calc(100vh - 50px - 2rem);`

But I get:
`height: calc(100vh - 50px + 2rem);`

The minus sign is not applied to the following elements in the parenthesis. Or maybe the parenthesis are just stripped.
I use sass-loader@^3.1.2 in my webpack config, in a React projec

[2018-03-15 09:27] evilebottnawi commented on #549
@McBenny we don't change `sass` code or any changes (we just wrapper around `node-sass`), please open issue in `node-sass` or `libsass`

[2018-03-15 09:27] #549 closed

[2018-03-24 10:56] evilebottnawi commented on #435
Should be done after https://github.com/webpack-contrib/sass-loader/pull/533

[2018-03-27 16:18] phiterf opened #550 "Loader is mixing up variables and creating properties"
I'm using Laravel Mix, which uses node-sass, which uses sass-loader(If I'm not mistaken).
I made those css variables in a sass file:

[code]

When I run `npm run dev` or `npm run watch`, I'm getting the expected result:

![image](https://user-images.githubusercontent.com/12252332/37980202-fcc5160a-31c0-11e8-8640-5e646d4b2abb.png)

But when I run `npm run prod`, it seems like the loader is taking t

[2018-03-27 16:32] phiterf commented on #550
I renamed those variables that are getting mixed up like this:

    --sg-card-produto-hover-border_style: solid;
    --sg-card-produto-hover-border_width: 2px;
    --sg-card-produto-hover-border_color: var(--sg-cor-botao);

But then, it mixed up the previous variables:

![image](https://user-images.githubusercontent.com/12252332/37981110-1c7b13e4-31c3-11e8-98ae-ebca58d88bbd.png)

I noticed that it

[2018-03-27 16:43] evilebottnawi commented on #550
@phiterf do you use `cssnano` for minification?

[2018-03-27 17:08] phiterf commented on #550
I don't think I do. How do I check? As I said, I'm using Laravel Mix so it's all "automatic".

Those are my dependencies:

[code]

[2018-03-27 18:10] evilebottnawi commented on #550
@phiterf you deps is hell :smile: `postcss` in `dependencies`, why? :smile: Can you create minimum reproducible test repo or try to disable `cssnano` in your config and check again?

[2018-03-27 18:56] phiterf commented on #550
Yeah I'm new to this whole webpack/node thing, this was put there by the previous guy and I decided not to touch it too much.

I'm not sure how I could disable cssnano, but I saw that Laravel Mix allows for extra options. I'll see what I can do.

[2018-04-03 09:25] tangjion opened #552 "a issues in webpack"
`@each $i in 24, 28, 32, 36, 40, 44 {
  .f#{$i} {
    font-size: #{$i}px;
    font-style: normal;
  }
}`

this code can't compiles to CSS.

error is Syntax Error

please help me to fix it, thank you!

[2018-04-03 09:28] evilebottnawi commented on #552
@tangjion can you create minimum reproducible test repo?

[2018-04-03 12:30] 44LD commented on #435
@jethrolarson @evilebottnawi
Some posts about ruby-sass. Now it's actual
http://sass.logdown.com/posts/7081811

[2018-04-08 09:39] fvigotti opened #553 "sass-loader + mini-css-extract-plugin , ignore sass dependencies, generated css is missing in the output dir"
I'm totally new to webpack, and I'm not sure if I'm wrong or the software is, but after days lost about this , to me seems a bug.. , to make the things easy to reproduce I've created a demo project:

https://github.com/fvigotti/webpack-problem-scss

here is the whole code :
https://github.com/fvigotti/webpack-problem-scss/commit/02521d1ccaf0ea1a5fd0bab4024206d5eee3fbe7

the readme contain the bug

[2018-04-08 12:00] adiron commented on #455
I thought I'd chime in. I think I just encountered a splitting bug/problem based on what @lukaswelinder has mentioned above (`@import` module info not being passed on to sass-loader as I understand it). Is there an open bug in node-sass regarding this?

I would open one but I'm frankly not that knowledgeable in exactly how webpack loads modules.

[2018-04-09 12:58] evilebottnawi commented on #553
@fvigotti please don't duplicate issue in future, if problem not in MCEP we move issue here.

[2018-04-09 13:18] fvigotti commented on #553
Hi,
thank you for your answer, but I don't know which module this issue belong , I'm new to webpack and don't have yet the knowledge to track down this problem ,
I've prepared a sample project, it will probable take 2 minutes from a webpack user to correctly idemntify the source of the problem, then I'll be happy to close the non-relevant issue that  I've opened ,

[2018-04-09 13:24] evilebottnawi commented on #553
@fvigotti in near future i will investigate this, thanks!

[2018-04-09 13:28] fvigotti commented on #553
I've found the problem,
In package.json ( which I've inherited from another project )
this :
[code]
caused this issue,
I don't know why if affected the only the scss and not the css,  even when they are bot handled by same module ( and same rule ) only the css ( maybe is a bug, but minor in this case )  is exported and not the sass , anyway removing this from my sample project , now works :)
I'll

[2018-04-09 13:28] #553 closed

[2018-04-12 14:59] jamesopti opened #554 "Webpack 4 Configuration not working - sass-loader, resolve-url-loader, & file-loader"
I'm attempting to hash my image URLs, and my css generation is currently working, but the URLs are not being hashed.

Is this expected to be working in webpack 4?

**Versions:**
frontend@1.0.95 /frontend
├── file-loader@1.1.11
├── resolve-url-loader@2.3.0
├── sass-loader@6.0.7

My SCSS
[code]

Which is ending up in my css as exactly the same thing

When I run the following configuration through we

[2018-04-12 15:14] evilebottnawi commented on #554
@jamesopti it is problem `resolve-url-loader` loader, please report this problem in their repo, also `resolve-url-loader` is very unstable, better use right urls how you do this in `node-sass`

[2018-04-12 15:14] #554 closed

[2018-04-12 15:15] evilebottnawi commented on #552
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-04-12 15:15] #552 closed

[2018-04-12 15:16] evilebottnawi commented on #550
I confirm this is problem in `cssnano@3`, you can use `cssnano@4-rc.2`, there this issue already fixed. Thanks!

[2018-04-12 15:16] #550 closed

[2018-04-12 15:20] evilebottnawi commented on #548
@falconmick yes, please use right configuration for `CCP` plugin (`webpack@3`) or use right configuration for `splitChunks` (`webpack@4`). Without example your config and application, i can't help. Also please use `stackpverflow/slack/gitter` for question. Thanks!

[2018-04-12 15:20] #548 closed

[2018-04-12 15:21] evilebottnawi commented on #536
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-04-12 15:21] #536 closed

[2018-04-12 15:56] ishraqiyun77 commented on #544
Yes, it does. Just tested it. I had to move images to a image hosting service so I could read them in from http:// instead of local.

[2018-04-12 22:13] #532 closed

[2018-04-13 00:14] nex3 commented on #435
Now that #533 has landed, what are the next steps here?

[2018-04-13 00:28] #410 closed

[2018-04-13 07:18] jhnns commented on #532
#533 was shipped with sass-loader [`7.0.0`](https://github.com/webpack-contrib/sass-loader/releases/tag/v7.0.0). There is no peer dependency on node-sass anymore.

[2018-04-13 07:56] jhnns commented on #296
Maybe dart-sass #435 is faster. I need to try that out.

[2018-04-13 07:59] jhnns commented on #147
The issue is still there, I guess, since https://github.com/sass/node-sass/issues/857 hasn't been closed.

[2018-04-13 08:03] jhnns commented on #435
Wow ruby-sass was deprecated? Didn't see that coming 😁

Are you planing with [dart-sass](https://www.npmjs.com/package/dart-sass) to expose the same API as node-sass? What notable differences are there between dart-sass and node-sass?

Regarding your suggestions:

From a conceptual perspective, I prefer the former one with `require()` because it pushes the dependency explicitly to the user. But si

[2018-04-13 13:30] larpo opened #556 "import prefer `js` over `css/sass/scss`"
It appears that 7.0 breaks sass modules we are using from npm. I guess it is related to https://github.com/webpack-contrib/sass-loader/pull/479

For example foundation-sites that we are using imports it's internal modules like this:
[code]

Now, unfortunately 'util/util' is a valid file inside node_modules (from 'node-util' pkg), and the build fails with errror like this:

[code]
repro repo: https

[2018-04-13 13:32] jhnns commented on #410
This should work with sass-loader `7.0.0`, we have [test](https://github.com/webpack-contrib/sass-loader/blob/9409e1717bc19de930c02138ddcc011168eaaada/test/index.test.js#L82-L88) for it.

[2018-04-13 13:41] evilebottnawi commented on #556
@larpo Confirm, wip

[2018-04-13 13:43] evilebottnawi commented on #556
/cc @jhnns looks like regression

[2018-04-13 13:44] jhnns commented on #556
Yep, fix is one the way. Thanks for the test case 👍

[2018-04-13 13:48] evilebottnawi commented on #556
@jhnns can you take care?

[2018-04-13 13:59] larpo commented on #556
Good to know it is a regression and not the intended behaviour :)

[2018-04-13 14:13] jhnns commented on #556
Shipped as `7.0.1` 🚀.

That's why reproducible test cases are so good 👍

[2018-04-13 14:16] evilebottnawi commented on #556
@jhnns looks like we still have problem :confused:

[2018-04-13 14:31] evilebottnawi commented on #556
@jhnns found problem:
I have in directory two file with same name `component.js` and `component.scss` , also have `app.scss` with code
[code]
And `const request = utils.urlToRequest(url);` return file with js

[2018-04-13 14:42] evilebottnawi commented on #556
@jhnns looks like problem here https://github.com/webpack-contrib/sass-loader/blob/master/lib/loader.js#L61, if you have two file with difference extensions, resolve prefer `.js` :confused:

[2018-04-14 01:28] nex3 commented on #435
Yep!

Dart Sass doesn't support sourcemaps yet; see https://github.com/sass/dart-sass/issues/2. It also doesn't support the `precision` or `sourceComments` options. Otherwise the API should be identical.

It's officially in stable releases, but that hasn't been true for very long yet. It's up to you whether you want to make it the default now or not.

[2018-04-14 01:53] xzyfer commented on #435
CSS imports are being deprecated in node-sass@4.9.0 (imminent) and, removed in node-sass@5 (late april-may)

[2018-04-16 13:46] julmot commented on #556
Hello guys,
I'm coming here since I'm also experiencing issues in this PR about updating to v7:
https://github.com/julmot/form-components/pull/14#issuecomment-381153653
The build fails now with an error that looks like an issue of the loader to me: https://travis-ci.org/julmot/form-components/builds/366135805#L4146

[2018-04-16 13:49] dak commented on #556
Just confirming I'm seeing the same issue as @evilebottnawi

[2018-04-16 14:07] evilebottnawi commented on #556
I have PR https://github.com/webpack-contrib/sass-loader/pull/558, Can you test this and confirm what is fixed your problem

[2018-04-16 14:27] julmot commented on #556
@evilebottnawi Yes, the build passes with this branch.

[2018-04-17 21:36] dpikt commented on #556
@evilebottnawi PR #558 fixes the issue for me as well.

[2018-04-17 21:49] mkampmey opened #560 "Imports should be evaluated relative to the imported file"
Right now I am trying to import jquery ui styles into my module. So I have jquery ui as a dependency and I use this code to import the css:
`@import "~jquery-ui/themes/base/all";`
Unfortunately the file "all.css" depends on other css files in the same folder. But instead of trying to find those files there, the sass-loader looks for them in my custom module from where I execute the script. Shouldn

[2018-04-18 09:49] evilebottnawi commented on #560
@mkampmey can you create minimum reproducible test repo with some comments?

[2018-04-18 12:27] ioanungurean commented on #556
@larpo the loader works now for me too. I had errors with `v7.0.0` and `v7.0.1`.

Use: `npm install git://github.com/webpack-contrib/sass-loader.git#fix-resolve-conflict --save-dev` as @julmot pointed out.

Thank you for the PR @evilebottnawi!

[2018-04-18 12:33] julmot commented on #556
Please let us know when the PR is merged.

[2018-04-19 17:47] DotJoshJohnson opened #561 "Handle node-sass "Missing binding" Error"
Just a suggestion to handle the "Missing binding" error if thrown by node-sass. Currently, you'll get the following message: `` `sass-loader` requires `node-sass` >=4. Please install a compatible version.``. Letting the user know about the missing binding error would make the failure a bit clearer.

[2018-04-19 17:49] evilebottnawi commented on #561
@DotJoshJohnson PR welcome

[2018-04-23 13:49] ioanungurean commented on #556
What it's taking so long to be reviewed? The PR was open 10 day ago. :cry:

[2018-04-23 14:32] phahn commented on #556
This is also causing issues for me in facebook/create-react-app#3815

[2018-04-23 14:33] evilebottnawi commented on #556
/cc @jhnns looks we should search solution for this asap

[2018-04-23 18:03] SundownDEV opened #563 "Error: `sass-loader` requires `node-sass` >=4 but node-sass is already at v4"
ran `encore dev --watch`

get this error :

[code]

but node-sass is at v4.8.3 in package.json :

[code]

already tried deleting node-modules folder and package-lock.json

[2018-04-23 18:04] evilebottnawi commented on #563
@SundownDEV `ls -l node_modules`

[2018-04-23 18:08] SundownDEV commented on #563
Of course the folders exist.

[2018-04-23 18:13] evilebottnawi commented on #563
@SundownDEV looks like you don't have `node_modules/node-sass` directory with package

[2018-04-23 18:33] evilebottnawi commented on #563
@SundownDEV `rm -rf node_modules && npm/yarn cache clear --force && npm/yarn install`

[2018-04-23 18:41] evilebottnawi commented on #563
@SundownDEV looks like a bug in `npm`, prove your `node/npm` version

[2018-04-23 18:45] SundownDEV commented on #563
Fixed with https://github.com/npm/npm/issues/19989

but I get the same error on node-sass :

[code]

[2018-04-23 20:27] SundownDEV commented on #563
Fixed by deleting node_modules, package.json packages-lock.json and installing each package one by one on npm 5.6.0. Also fixing an node-sass installation issue using `sudo`.

[2018-04-25 12:11] jhnns commented on #556
We need to go a different route (see [here](https://github.com/webpack-contrib/sass-loader/pull/558#issuecomment-384263644)). I'm thinking about making webpack's resolver opt-in and moving back to Sass' regular behavior.

Until then you should use webpack's [`resolve.modules`](https://webpack.js.org/configuration/resolve/#resolve-modules) option instead of node-sass' `includePaths` option if you e

[2018-04-25 13:46] MortimerJarasemy commented on #540
Hello I am attempting to have the following an index file with  other scss imported under to follow an order for my components, I am using webpack 4 and guetting an error for using "imports"

--Index
  --header
  --about
  --etc

^
      Invalid CSS after "": expected 1 selector or at-rule, was "*/"
      in /Users/laxosceles/react-portfolio-solstice/src/artistry/sass/app.scss (line 1, column 1)

[2018-04-26 18:49] gencay commented on #563
I had the exact same problem. It was because of a cached version of node-sass.
This solution worked for me:
- Remove the node-sass from npm-cache (For Windows users %userprofile%\AppData\Roaming\npm-cache)
- Remove node-sass from your project's node_modules dir
- Do npm install to reinstall node-sass

[2018-04-27 10:10] NicolasLetellier commented on #563
I've also got the same error when upgrading node from v6.12 to v8.11.1 (now npm v5.6.0):
`Module build failed: Error: `sass-loader` requires `node-sass` >=4. Please install a compatible version.`

This worked for me: `npm rebuild node-sass`

[2018-04-29 13:25] newcomein opened #565 "Node Sass does not yet support your current environment: Windows 64-bit with Unsupported runtime (64)"
node 10.0

[2018-04-30 10:51] evilebottnawi commented on #565
@newcomein please create issue inside `node-sass`, we just wrapper. Thanks!

[2018-04-30 10:51] #565 closed

[2018-05-02 11:57] julmot commented on #556
Ping guys

[2018-05-02 12:00] ioanungurean commented on #556
I did not upgrade to `^7.0.0` because my build breaks. I'm staying with `6.0.7` for now.

[2018-05-02 12:08] julmot commented on #556
I do too, but I'd rather like to have a solution for this issue (not a workaround) instead of keeping the old version.

[2018-05-02 17:08] 2WheelCoder commented on #563
I got this consistently even after clearing out node_modules and yarn's cache. Upgraded from node 6.13.1 to 8.11.1, did `yarn remove node-sass and ` and `yarn add node-sass` and everything worked again.

[2018-05-03 15:50] abraham commented on #563
On newer version of npm you can probably fix this with `npm ci`.

[2018-05-05 15:33] philippkuehn opened #566 "webpack alias with tilde not working for imports"
With sass-loader < 7.0.0 this worked fine

[code]

[code]

With sass-loader >= 7.0.0

[code]

Is this an expected behavior or an bug?

[2018-05-05 15:38] evilebottnawi commented on #566
@philippkuehn please create minimum reproducible test repo

[2018-05-06 11:32] adrian2020my opened #567 "Module not found: Can't resolve './alert' in '/mydirectory/node_modules/bootstrap/scss'"
I use @import "~bootstrap/scss/bootstrap"; in my custom.scss but when webpack tries to compile, the following error appears:

Please kindly advise on resolving this issue as I'm not able to customise my css using mixins from bootstrap.

My webpack.config file is as below:
[webpack.config.txt](https://github.com/webpack-contrib/sass-loader/files/1977573/webpack.config.txt)

[2018-05-06 11:50] evilebottnawi commented on #567
@adrian2020my please provide minimum reproducible test repo, we can't help without structure and version bootstrap, thanks

[2018-05-06 12:17] adrian2020my commented on #567
Thanks for the reply. @evilebottnawi Here is the repo: https://github.com/adrian2020my/webpackBootstrap

[2018-05-06 12:25] evilebottnawi commented on #495
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-06 12:25] #495 closed

[2018-05-06 12:27] evilebottnawi commented on #525
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-06 12:27] #525 closed

[2018-05-06 12:29] evilebottnawi commented on #539
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-06 12:29] #539 closed

[2018-05-06 13:52] adrian2020my commented on #567
I lowered the version of sass-loader to 6.0.7 but it still doesn't compile.

[2018-05-06 14:04] evilebottnawi commented on #567
@adrian2020my `includePaths: ['src', 'node_modules']` for sas-loader options?

[2018-05-06 14:05] adrian2020my commented on #567
@evilebottnawi Sorry, it works. I managed to compile it, had to remove the previous version first before reinstalling the older version of sass-loader. May I know why it doesn't compile in the latest version?

[2018-05-06 14:12] evilebottnawi commented on #567
@adrian2020my https://github.com/webpack-contrib/sass-loader/issues/556 on next week i will try to find time on fix it, just regression

[2018-05-06 14:13] evilebottnawi commented on #567
Can we close issue?

[2018-05-06 14:13] adrian2020my commented on #567
@evilebottnawi  sorry for my previous comment, it still doesn't work. When I tested the working one, I accidentally removed the import "~bootstrap/scss/bootstrap"; After I tried it, still doesn't compile.

[2018-05-06 14:14] adrian2020my commented on #567
@evilebottnawi Currently, I'm back to square one. ./node_modules/bootstrap/scss/bootstrap.scss
Module not found: Can't resolve './alert' in '/frontend/node_modules/bootstrap/scss'

[2018-05-06 14:16] evilebottnawi commented on #567
@adrian2020my https://github.com/webpack-contrib/sass-loader/issues/567#issuecomment-386881697?

[2018-05-07 10:41] UncleVic commented on #466
@borela
It's very strange, but that solution doesn't work for me :(

[2018-05-07 16:10] adrian2020my commented on #567
After struggling with this issue the entire day, I managed to go around my problem by following the instructions in facebook/create-react-app:  https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc . I was not able to fully resolve my issue in regards to the importing the bootstrap module. Maybe facebook has confi

[2018-05-07 21:48] kaisermann commented on #560
Have you tried https://github.com/bholloway/resolve-url-loader? ([see the third bullet](https://github.com/webpack-contrib/sass-loader#problems-with-url))

[2018-05-08 06:25] felixfbecker commented on #532
Coming to this thread from reading the 7.0.0 changelog and reading through all of it, I don't understand why the peer dependency was removed. Isn't warning about incompatible/missing versions at install time the whole point of peerDependencies? I dislike the thought that now if I have an incompatible sass version, I won't find out until rerunning webpack, and automated dependency updates have abso

[2018-05-08 09:41] evilebottnawi commented on #532
@felixfbecker in favor support `dart-sass`, try to implement this in near future

[2018-05-08 15:04] zaferkirca commented on #536
I moved the project to the new folder, the problem was solved.

[2018-05-08 16:43] simeyla commented on #563
This is going to be a popular topic with Angular 6 now requiring node 8.
Is there any benefit to running `npm rebuild` `https://docs.npmjs.com/cli/rebuild` for all packages - or is this just needed for sass?

[2018-05-09 00:32] alejonext commented on #563
The soluctions... All time is fails!

* `Delete`  the proyect is "new", is starts!! no exist de `node_modules`
* `rebuild` exist many problems in when run root. And `"postinstall" : "npm rebuild"`. Well, thats is not a solution.

[2018-05-09 09:35] philippkuehn commented on #566
Link to Repo: [https://github.com/philippkuehn/sass-loader-alias-bug](https://github.com/philippkuehn/sass-loader-alias-bug)

After some testing I found out that this error only occurs in combination with Vue.
I'm not sure if this error is related to sass-loader or vue-loader but it everything worked fine with sass-loader <= 7.0.0.

[2018-05-09 14:53] nicolasxu commented on #433
I have the same issue.

[2018-05-12 06:33] searene commented on #563
I fixed it by downgrading node from 10.0.0 to 8.9.4

[code]

[2018-05-14 18:48] jsg2021 commented on #566
I'm seeing `~` imports fail with 7.x too. 6.x works fine.

[2018-05-14 18:48] jsg2021 commented on #566
I'm not using Vue either.

[2018-05-14 18:51] jsg2021 commented on #567
This must be a duplicate of #566

[2018-05-14 18:51] evilebottnawi commented on #566
Try:
[code]

in webpack config

[2018-05-14 18:52] jsg2021 commented on #566
I think I'm seeing #556

[2018-05-14 18:53] jsg2021 commented on #566
which, I think this issue and #567 are all related.

[2018-05-14 18:54] jsg2021 commented on #566
@evilebottnawi thanks for the suggestion. I tried that, but no success. I've rolled back to 6.x for now.

[2018-05-14 21:09] jsg2021 commented on #566
@evilebottnawi Here you go: https://github/jsg2021/style-loader-scoped-import-failure

you will probably need to `git reset --hard` after `npm install`... I had to commit a gutted version of my internal library, and npm blows it away on install.

[2018-05-15 15:13] svewag opened #570 "misleading error in node-sass version check"
IMHO the output is confusing, because the error must not be the wrong version number.
It is possible that due to something different an error occurs.

Or am I worng?

https://github.com/webpack-contrib/sass-loader/blob/2759618d2e05318ea6dc307fff0f84d1d867fff0/lib/loader.js#L32

[2018-05-15 15:18] evilebottnawi commented on #570
@svewag feel free to send PR improve output message :+1:

[2018-05-17 05:05] deftomat commented on #563
The same here, node 8.11.2 and nothing helps. I've tried to clear cache and upgrade all packages and still nothing.

[2018-05-17 11:09] maxime-rainville commented on #522
I gave a go at fixing this and I think I found the problem. In our webpack config, the rule for handling font files goes something like this:
[code]

I think the Windows directory separator is tripping off our test regex because if I change it to `/fonts\\([\w_-]+)\.(woff|eot|ttf|svg)$/` the build script manages to conclude normally.

[2018-05-18 17:41] matiishyn commented on #563
Having exactly the same issue here
`sass-loader` doesn't work with node10
and another module requires node>9
What should I do?
plz help

[2018-05-19 05:14] yiqianglin commented on #566
same problem, is there a solution？

[2018-05-19 06:06] dagda1 opened #571 "overriding variables in multiple scss files"
If I have a structure like this:
[code]
if each component is importing the scss file like this:

`import './input.scss';

And each scss file is like this:
[code]

[2018-05-19 06:57] NigelThorne commented on #563
I was getting this issue, so I added some debug logging to sass-loader.

For me the problem was the following code:
[code]
I got the following errors...
[code]

So for me... I just upgraded node to v8 and I was good.

[2018-05-19 19:40] Oliboy50 commented on #563
@SundownDEV reopen the issue please, this is a real issue
[code]

[2018-05-19 21:59] Oliboy50 commented on #563
after downgrading to `sass-loader@6.0.7`, I had a clearer error:

[code]

Seems like my issue was to run `npm install` first on my Mac before building the Docker image based on Debian then binding `node_volumes` from the Mac to the Debian container using a `volume`

... I'm still looking for a better volume system though ...

[2018-05-20 09:17] kolkov commented on #563
`npm rebuild node-sass` fixed it for me. Thanks!

[2018-05-20 13:42] SundownDEV commented on #563
Reopening the issue until it gets fixed.

Quick fix solutions :
- `npm rebuild node-sass`
- `yarn remove node-sass` and `yarn add node-sass`
- Upgrade node, it will downgrade npm to 5.6.0, upgrade it to the latest version, then `npm install` (reference:https://github.com/npm/npm/issues/19989#issuecomment-371739104)
- Remove node-sass from global npm-cache, remove node-sass from node_modules dir, t

[2018-05-20 18:51] Oliboy50 commented on #563
I think that the principal issue here is that `sass-loader 7.x` displays a wrong error message:

[code]

when `node-sass 4.x` is installed but unusable (e.g. when it is compiled for another environment)

Whereas `sass-loader 6.x` displays a clearer and more accurate error message:

[code]

(see https://github.com/webpack-contrib/sass-loader/issues/563#issuecomment-390435456 for full output)

[2018-05-21 10:03] evilebottnawi commented on #563
Feel free to send a PR with showing original errors.

[2018-05-22 12:04] Tenmak commented on #563
Add to add `    "node-sass": "^4.9.0",` to devDependencies to avoid the issue.

[2018-05-23 03:09] mauriciopiber commented on #563
The point is, on any previous error during installation, even if install successful afterwards on retype, sass-node will fail. If occurs any, remove node_modules and run npm install from scratch instead of just fix the command and rerun.

[2018-05-24 18:30] webark opened #572 "Version 7.x imports js files by the same name before sass files"
I have an import statement of `@import 'libraries/redactor';` with files of `libraries/redactor.js` and `libraries/redactor.scss`. On version 6.0.7, it correctly loads the scss file, but on 7.0.1, it tries to load the `libraries/redactor.js` instead, and errors out.

[2018-05-24 20:32] nex3 commented on #435
@jhnns I'd be happy to pitch in a PR for this. Would you prefer to require users to explicitly specify a Sass implementation, or to default to Dart Sass? We could also default to Node Sass, but since that's harder to install it seems less ideal to have as a dependency.

[2018-05-24 20:44] graingert commented on #435
Could just not depend on sass at all and take it as a parameter

On Thu, 24 May 2018, 21:32 Natalie Weizenbaum, <notifications@github.com>
wrote:

[2018-05-24 20:49] philippkuehn commented on #435
+1 for dropping node-sass and explicitly specify sass implementation

[2018-05-25 08:52] iansamz commented on #563
`npm rebuild node-sass` worked for me too.

[2018-05-25 11:12] evilebottnawi commented on #435
@philippkuehn we can't drop `node-sass`

[2018-05-25 11:44] just-boris commented on #435
I thought, that the change would be a major version bump for `sass-loader`. Why not to drop `node-sass` then?

[2018-05-25 11:52] evilebottnawi commented on #435
@just-boris legacy support projects. we move `node-sass` to `peerDependencies` to allow using this loader with `node-sass` and `dart-sass`. Just add check on `dart-sass` here https://github.com/webpack-contrib/sass-loader/blob/master/lib/loader.js#L27 and improve tests. And we will support `node-sass` and `dart-sass`. PR welcome

[2018-05-25 12:05] just-boris commented on #435
If there will be both `dart-sass` and `node-sass` in peer-dependencies, one of them will be always a missing.

Npm will produce a warning about that, but I do not expect any warnings when I do everything right.

[2018-05-25 12:32] graingert commented on #435
I'd rather see sass-loader (for dart-sass) and sass-loader-node-sass

On Fri, 25 May 2018, 13:05 Boris Serdiuk, <notifications@github.com> wrote:

[2018-05-25 12:42] evilebottnawi commented on #435
@just-boris i was misleading, **we remove `node-sass`** from `peer` to allow choose `node-sass` or `dart-sass` for loader.

@graingert no new loader, because no one will maintain him, say simply than do

[2018-05-25 16:00] graingert commented on #435
It would be with lerna, there would be three projects, including
sass-loader-core. sass-loader would be a thin wrapper that passed (and has
a peerDep of) dart-sass to sass-loader-core sass-loader-node-sass would be
a thin wrapper that passed (and has a peerDep of node-sass) to
sass-loader-core.

On Fri, 25 May 2018, 13:42 Evilebot Tnawi, <notifications@github.com> wrote:

[2018-05-25 16:11] evilebottnawi commented on #435
@graingert do you have time on this?

[2018-05-25 16:15] graingert commented on #435
I can set this all up, if that's the structure that you want

On Fri, 25 May 2018, 17:11 Evilebot Tnawi, <notifications@github.com> wrote:

[2018-05-25 16:16] xzyfer commented on #435
Fwiw gulp-dart-sass has recently popped to serve that community.

On Fri., 25 May 2018, 6:11 pm Evilebot Tnawi, <notifications@github.com>
wrote:

[2018-05-25 16:17] evilebottnawi commented on #435
Anyway PR welcome to integrate `dart-sass`, it is should be not difficult.

[2018-05-27 17:45] aclion111 commented on #556
I'm setting up a new site, and bumped into this issue again.

Are folks here still sticking to v6.0.7 to avoid breakage?

[2018-05-27 19:16] tcrite commented on #563
I'm having this same issue...which I was able to fix locally, but is there a workaround for this issue from a build server?

[2018-05-27 19:33] jsg2021 commented on #556
yes, at least i am.

[2018-05-28 08:01] ioanungurean commented on #556
Yes, unfortunately. :disappointed:

[2018-05-28 11:28] evilebottnawi commented on #572
Related https://github.com/webpack-contrib/sass-loader/issues/556

[2018-05-28 11:28] #572 closed

[2018-05-28 11:30] evilebottnawi commented on #567
@jsg2021 yep, duplicate thanks!

[2018-05-28 11:30] #567 closed

[2018-05-29 02:42] evilebottnawi commented on #571
@dagda1 how it is related to `sass-loader`. I don't undestand you, can you describe more information what you have and what you expected.

[2018-05-29 12:21] antonevane commented on #563
I moved back to very old npm 3.10.10  that has been in our build for a while  and it works like a charm.

[2018-06-01 12:44] evilebottnawi commented on #439
Close in favor https://github.com/webpack-contrib/sass-loader/issues/439

[2018-06-01 12:44] #439 closed

[2018-06-01 12:44] evilebottnawi commented on #429
Also need Standardize README

[2018-06-01 12:45] evilebottnawi commented on #463
@gizm0bill friendly ping, problem still exists?

[2018-06-01 12:46] evilebottnawi commented on #505
Sorry for delay, WIP

[2018-06-01 12:53] evilebottnawi commented on #505
All works fine in dev and dist :confused: Maybe problem was in `file-loader` (we fixed a lot of issue around outputPath and publicPath). Feel free to feedback. Thanks!

[2018-06-01 12:53] #505 closed

[2018-06-01 12:54] evilebottnawi commented on #509
@smrq do you find solution?

[2018-06-01 12:59] evilebottnawi commented on #544
Problem in `resolve-url-loader`, please try to update to latest version or avoid using this loader (they are very buggy). Thanks!

[2018-06-01 12:59] #544 closed

[2018-06-01 13:01] evilebottnawi commented on #560
@mkampmey `sass-loader` doesn't rewrite `url` and other assets in source file, please use loader for this, also many libraries allow change this through variable (example `bootstrap`). Sorry, it is out of scope `sass-loader`

[2018-06-01 13:03] evilebottnawi commented on #560
You can request new feature (rewriting url assets) in `sass` (if it is approved and merged, it is shipped in `node-sass/dart-sass/other-sass` and allow rewrite url using function as option for `sass-loader`.

[2018-06-01 13:03] #560 closed

[2018-06-01 13:04] evilebottnawi commented on #561
Fixed in https://github.com/webpack-contrib/sass-loader/pull/562

[2018-06-01 13:04] #561 closed

[2018-06-01 13:05] evilebottnawi commented on #571
Please provide more information what you have actually and expected. Feel free to reopen/recreate issue when you do it.

[2018-06-01 13:05] #571 closed

[2018-06-01 15:32] evilebottnawi commented on #566
Very interesting without `import App from './app.vue'` works, without `import './style.scss'` works, together not :confused: investigate

[2018-06-01 16:21] evilebottnawi commented on #566
Found problem, https://github.com/webpack-contrib/sass-loader/blob/master/lib/importsToResolve.js#L6 use `g` what change `lastIndex` after each search.

[2018-06-01 17:35] evilebottnawi commented on #566
Write tests is gard, a spend 1 hours on issue and spend 4 hours on tests, but did not make it

[2018-06-01 18:15] #563 closed

[2018-06-01 21:49] evilebottnawi commented on #556
WIP on this, but it is really hard to solve keeping aliases

[2018-06-01 21:52] evilebottnawi commented on #556
Workaround: using always `.sass/.scss` extension on any import inside `sass/scss` files

[2018-06-01 22:57] evilebottnawi opened #578 "Doesn't respect `context` webpack option"
/cc @jhnns what do you think about this? In many case people use `includePaths: ["src"]` to avoid using long imports like `@import "src/path/to/my/scss";`. Other loader like `file-loader`/`css-loader`/etc support `context`. It is possible solve?

[2018-06-01 22:59] evilebottnawi commented on #463
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-06-01 22:59] #463 closed

[2018-06-04 08:32] emilio-martinez commented on #556
Bumped into this issue. In my case, I was using the node-sass `includePaths` option rather than the webpack resolution (we have other use cases that don't involve building with webpack). I was able to resolve by including the corresponding extension when referencing the problematic `.sass/.scss` files.

[2018-06-04 09:32] #566 closed

[2018-06-04 12:48] evilebottnawi commented on #556
FMI:
hack how we can solve problem, but with limitation, aliasing for `css/scss/sass` only support alias with extension `css/sass/scss`, but we can add this to readme
[code]

[2018-06-04 15:00] jsg2021 commented on #556
@jhnns I was under the impression the normal sass/css imports happened by default, and node_module's needed the import with `~` prefix to use webpack's resolver... is this not the case anymore?

[2018-06-04 15:13] ShawnCorrigan commented on #49
@epegzz Your solution is great, although I'm wondering if there's a way to use it when requiring scss files. I think that it would make more sense to be able to `require('./style.css)({"background-color":"red"})` from your index.js file.

[2018-06-05 15:16] jhnns commented on #566
A fix shipped with `7.0.3` 🚀

[2018-06-05 15:18] evilebottnawi commented on #509
Looks right now it is should be works as expected, need add tests on this :+1:

[2018-06-05 15:28] evilebottnawi commented on #556
@jhnns we can fix this using advice from @sokra :
[code]
And write in docs what aliasing working only with `css/sass/scss`. We have a lot of project where use `alias` and using `includePaths` to allow working some legacy sass libraries and frameworks

[2018-06-05 16:03] xzyfer commented on #296
:wave: Hi, I'm the LibSass and Node Sass maintainer.

I get pinged about sass-loader issues on occasion and wanted to add some clarity around how Node Sass and LibSass work.

Internally LibSass will only resolve the first unique instance of an `@import`. So this de-duping behaviour is already happening.

I believe this applies to custom importers as well (should be easy enough to confirm). Assumin

[2018-06-05 16:05] xzyfer commented on #296
I also want to take this opportunity to say we're more than happy to help out where ever we can. We <3 the Sass and surrounding tooling communities.

[2018-06-05 16:06] xzyfer commented on #535
Note node-sass@5 will automatically support `@import "foo";` resolving to `@import "foo/index.scss";` if `foo` is a folder.

[2018-06-05 16:36] evilebottnawi commented on #296
@xzyfer will be great if you review code in master and maybe add advice how we can solve something better than we do right now (or send PR :+1: )

[2018-06-05 16:52] xzyfer commented on #296
We've discussed some improvements custom importers on the Node Sass side that might be looked at in not too distant future. However the profiling in https://github.com/webpack-contrib/sass-loader/issues/296#issuecomment-288464857 seems to suggest (to me) that improvements to Node Sass will have a negligible affect.

I've had a look in the past and nothing jumps out at me. As for webpack specifics

[2018-06-05 20:39] emilio-martinez commented on #556
Perhaps something relevant to this conversation if Webpack is not doing the module resolution:

As of [`node-sass@4.9.0`](https://github.com/sass/node-sass/releases/tag/v4.9.0)

[2018-06-06 03:18] wa15aa opened #580 "TypeError: Cannot read property 'sassLoader' of undefined"
TypeError: Cannot read property 'sassLoader' of undefined
how to fix this error?

[2018-06-06 09:13] evilebottnawi commented on #580
@wa15aa we don't have `sassLoader` option, looks you use boilerplate, please open issue in other repo

[2018-06-06 09:13] #580 closed

[2018-06-08 12:18] evilebottnawi commented on #296
@xzyfer We have some perf problem with resolving `@import`, because we don't know should be `@import` handle by `node-sass` (i.e. `includesPath` option) or we should handle this inside own importer, maybe `node-sass` can provide this function (like `nodeSass.resolveImport(pathToImport)` and return path if yes)? It is solve many problems.

[2018-06-08 13:12] xzyfer commented on #296
I believe your importer has some custom logic though? i.e. expanding `~`

node-sass can't handle that. But if the import doesn't start with `~` you
can call `done()` and node-sass will take over.

On Fri., 8 Jun. 2018, 2:18 pm Evilebot Tnawi, <notifications@github.com>
wrote:

[2018-06-08 13:22] evilebottnawi commented on #296
@xzyfer problem not only in `~`, webpack support aliases, we should first check can `node-sass` handle `import` if not resolve using aliases.

[2018-06-08 13:42] evilebottnawi commented on #296
@xzyfer Right now we do this, but problem it is perf (this issue was created due this logic), we should check all possible alias variants (they can be many, more infromation https://webpack.js.org/configuration/resolve/) and when we can't find any aliases file path to `node-sass`, it is spends a lot of cpu/memory usage.

Also some people can use `includePaths` and `aliasing` together and in some c

[2018-06-08 14:37] xzyfer commented on #296
This isn't possible in Sass a moment, and there aren't any plans to added the ability to defer an importer.

The only solution I can think off is to register a second importer in front of your expensive importer. Have that importer mimic the existing Sass importer algorithm. If it fails to find anything then your importer can run.

It would be a waste to move logic from c++ to JavaScript but if th

[2018-06-08 14:44] evilebottnawi commented on #296
@xzyfer

Where i can look on this (link or spec)?

Thanks for discussion, ping me when i can look on official importer

[2018-06-08 14:59] xzyfer commented on #296
I couldn't find where the import algorithm is officially documented but it is roughly (not exactly)

[code]

[code]

[2018-06-08 15:58] mikesherov commented on #296
@evilebottnawi @xzyfer thanks so much for looking into this. I wonder though if replicating the resolution algorithm is focusing in on the wrong part of the problem. https://github.com/webpack-contrib/sass-loader/issues/296#issuecomment-288464857 shows basically all the ways that sass-loader are slower than fast-sass-loader, and import resolving doesn't seem to be the biggest part. If `master` has

[2018-06-08 16:09] xzyfer commented on #296
I completely agree with you comment. The second importer is just hiding the
larger problem and could very well make things worse if there are lots of
misses.

On Fri., 8 Jun. 2018, 5:58 pm Mike Sherov, <notifications@github.com> wrote:

[2018-06-08 16:17] xzyfer commented on #296
I'm happy to contribute on improving performance - sass-loader is an important part of our ecosystem.

These performance problems may be more pronounced after #573 lands due to the speed differences between the two engines.

[2018-06-08 16:56] evilebottnawi commented on #296
@mikesherov it is old perf screenshots, we need do this again, feel free to do this :+1:

[2018-06-08 17:31] evilebottnawi commented on #296
@mikesherov yes

[2018-06-09 14:56] epegzz commented on #49
@ShawnCorrigan although I can see use-cases for your proposal, it, unfortunately, does not play well with ES6 modules :(

[2018-06-09 15:07] epegzz commented on #49
@ShawnCorrigan However, you could simply call `require(htmlWebpackPlguin.options.bgImage)` in your webpack config file:

[code]

[2018-06-09 19:52] ShawnCorrigan commented on #49
@epegzz Hmm okay. The idea was to not really modify the webpack.config.js file, although I suppose I could have another file that the webpack.config.js file uses to load the images. Thanks for the response!

[2018-06-11 22:51] hal869 opened #581 "sass-loader webpack error incorrectly references hyphen("-") in var name, instead of actual/used underscore("_")"
I run WP4, packing/linting SCSS.

Here, I've got
[code]

(note, still on 'sass-loader v6.0.7, pending resolution @:
 https://github.com/webpack-contrib/sass-loader/issues/556
)

I neglected to define a var in some SCSS source; lint caught it -- but has a 'hyphen' vs 'underscore' reporting issue.

My orig source was missing the defn for a SCSS var, "$logo_width".  Note the underscore.

On webpack,

[2018-06-14 12:15] AndyTyurin commented on #566
I still have problems with ~ syntax.

I have `Static` alias in webpack and scss file with content below.
[code]

Chrome console
[code]

Webpack config style rules:
[code]

Any suggestions? Maybe I did something wrong?

[2018-06-15 10:28] evilebottnawi commented on #435
/cc @nex3

[2018-06-15 10:38] xzyfer commented on #435
We've also added Dart Sass to the unofficial benchmark the Node Sass team
keeps an eye on - https://github.com/postcss/benchmark

On Fri., 15 Jun. 2018, 12:28 pm Evilebot Tnawi, <notifications@github.com>
wrote:

[2018-06-15 11:51] graingert commented on #435
It should include the `npm install` time

[2018-06-15 12:04] xzyfer commented on #435
Sure if you're running an install _every_ time you compile your Sass code in Dec.

[2018-06-15 12:05] graingert commented on #435
It ends up happening a lot, eg when building docker images using Dockerfile

[2018-06-15 12:17] evilebottnawi commented on #435
@graingert you can prepare docker image before run some stuff

[2018-06-15 12:29] graingert commented on #435
@evilebottnawi I know that, I used to maintain shipwright a tool for doing just that, but sometimes it's fiddly

[2018-06-15 18:40] nex3 commented on #435
Integrating the Dart VM version into a package like this which supports the Node Sass API would be fairly difficult. When you're running a subprocess, it's much harder to define importers or custom functions, because they have such a fine-grained mode of communication. sass/dart-sass#248 discusses the possibility of defining a protocol that could be used over stdin/stdout to make this work, but at

[2018-06-15 21:54] evilebottnawi commented on #581
@hal869 can you create minimum reproducible test repo?

[2018-06-18 14:06] mikesherov commented on #296
# updated waterfalls

See attached .cpuprofiles:
[Archive.zip](https://github.com/webpack-contrib/sass-loader/files/2111519/Archive.zip)

## latest sass-loader
![image](https://user-images.githubusercontent.com/364532/41540529-7c61898a-72de-11e8-8297-6e8d7a0d11f4.png)

## latest fast-sass-loader
![image](https://user-images.githubusercontent.com/364532/41540762-d88947c0-72de-11e8-83f0-2a44532fcccf

[2018-06-19 18:29] evilebottnawi commented on #556
@larpo because it is works only for modules, i.e. `~module/path/to/file.scss`

[2018-06-20 06:09] julmot commented on #556
So, what would be the workaround then?

[2018-06-20 09:22] evilebottnawi commented on #556
@julmot https://github.com/webpack-contrib/sass-loader/issues/556#issuecomment-394019055

[2018-06-20 09:32] julmot commented on #556
@evilebottnawi Okay, thanks. If this is the only workaround – modify the source code (import) in all imports – for this bug I think I'm going to prefer to keep the old version. Please keep us posted when this is resolved without modifying the source.

[2018-06-20 09:45] evilebottnawi commented on #556
@julmot it is in my todo, i think it will be solve in this week :+1:

[2018-06-20 16:20] jhnns commented on #578
The sass-loader does already support using the [`resolve.modules`](https://webpack.js.org/configuration/resolve/#resolve-modules) option. That should be enough, I guess? :)

The `context` at the `file-loader` has a different purpose (it's about the output folder) and I don't find a `context` option at the `css-loader`.

[2018-06-20 16:37] evilebottnawi commented on #578
@jhnns hm, looks no.
**webpack.config.js**
[code]

**app.scss**
[code]

**src/shared/styles/main.scss**
[code]

Output:
[code]

[2018-06-20 17:11] drullo opened #582 "Property must be followed by a ':'"
Disclaimer... I am new to Sass!

The following Sass code produces the error:
`div {
    border: {
        style: solid;
        width: 1px;
        color: black;
    }
}`

`Property "border" must be followed by a ':'`

I am working in Angular 6 and my sass-loader version is 7.0.3.

I am confused by the error because border is indeed followed by a colon and this syntax matches many examples that I'

[2018-06-20 17:17] evilebottnawi commented on #582
@drullo looks you have invalid scss syntax, we just wrapper around node-sass and don't change your code, this error from `node-sass`. Can you create minimum reproducible test repo?

[2018-06-20 17:41] #582 closed

[2018-06-21 11:21] evilebottnawi commented on #578
My problem, invalid configuration

[2018-06-21 11:21] #578 closed

[2018-06-21 11:22] evilebottnawi commented on #581
Feel free to create minimum reproducible test repo and reopen issue, thanks!

[2018-06-21 11:22] #581 closed

[2018-06-22 17:00] evilebottnawi commented on #556
@julmot in your example you forget `resolve.extensions: [".scss", ".sass", ".css", "list-of-your-extensions-or-standard-js-and-json"]`

[2018-07-03 05:26] willin opened #584 "import css: Module not found: Error: Can't resolve"
Webpack config:

[code]

scss:

[code]

err info:

[code]

[2018-07-03 05:30] sansSpoon opened #585 "Bad urls being generated - url([object Object])"

[2018-07-03 07:23] #585 closed

[2018-07-03 09:32] evilebottnawi commented on #584
@willin because you don't have file or have invalid path to file

[2018-07-03 10:00] willin commented on #584
https://github.com/wshow/sass-demo

[2018-07-03 10:14] evilebottnawi commented on #584
@willin use `@import '~leaflet/dist/leaflet.css';`
https://github.com/webpack-contrib/sass-loader#imports

[2018-07-03 10:14] #584 closed

[2018-07-03 12:17] acstll opened #586 "`Module build failed` error because undefined variables, etc. regardless of the files being imported"
I have a main.scss file in which I only `@import` other files. Some of these files use variables, mixins, etc. being defined in some other files. Regular SASS stuff.

When trying to build I get an error like the following:

[code]

Facts:
- All those things missing are not really missing, and they're being imported correctly from main.scss
- Building with `node-sass` directly works without problem

[2018-07-03 12:23] evilebottnawi commented on #586
@acstll looks you don't have `$size-1`, without minimum reproducible test repo i can't help

[2018-07-03 13:58] acstll commented on #586
I'm going to close this for now. The repo I created specifically to reproduce the bug, works. It's all the same expect for some JS configuration that I left out, so I'm going to explore it further until I can reproduce and isolate the bug.

Thanks again!

[2018-07-03 13:58] #586 closed

[2018-07-03 14:25] Sinewyk opened #587 "memory leak"
`sass-loader` may contain a memory leak if used in watch mode, see https://github.com/webpack/webpack/issues/6929#issuecomment-402173462

I'm going to see if using the drain event to delete the queue and allow the next usage of the loader to create another queue will fix the (apparent ?) leak.

[2018-07-03 14:29] evilebottnawi commented on #587
@Sinewyk feel free to send PR :+1:

[2018-07-03 20:03] janakp2411 commented on #340
I have same issue with window and linix, didn't try on mac. getting error same error stack level to deep and it's also happen some time.

I am working white label approach for my application where I need to create multiple css file according to scss variables.

"webpack": "~3.11.0",
"node-sass": "~4.8.3",
"sass-loader": "~6.0.7"

const THEMES = { app: 'app'};
const getThemeVars = (theme) => {

[2018-07-07 01:38] rayfoss commented on #435
We are already making a lot of painful sacrifices to use sass with node-sass. Sharing `node_modeles` with docker, faster compilation, never break my installation after a node/system update, just to name a few... node-sass is a pita, dart-sass can't possibly be worse.

To be fair, I get it won't be easy to make the switch, it'll inevitably have to be a breaking switch, perhaps an installation optio

[2018-07-07 01:39] xzyfer commented on #435
Fwiw node-sass installation issues will be a thing of the past before too
long

On Sat., 7 Jul. 2018, 11:38 am Ray Foss, <notifications@github.com> wrote:

[2018-07-07 08:02] epegzz commented on #49
@ShawnCorrigan Sorry for the late reply, I somehow missed your response above.

But yeah, you're absolutely right. In most cases, you probably want to load all vars from a file and never touch the Webpack config again :)

[2018-07-07 10:16] graingert commented on #435
N-API and or wasm I believe

On Sat, 7 Jul 2018, 10:25 Mato Ilic, <notifications@github.com> wrote:

[2018-07-07 12:41] just-boris commented on #435
I have switched to the modified version of this loader (from https://github.com/webpack-contrib/sass-loader/pull/573) and dart-sass for a fairly big project (10k lines of SCSS) and did not any significant notice performance slow down. It could be slower, but with watch mode and incremental builds, it doesn't actually matter.

On other hand, it simplifies infrastructure a lot, when you have to deal

[2018-07-08 10:54] adiron opened #588 "Pass `@warn` as warnings to webpack"
At the moment I'm working on a project with a workflow that uses `sass-loader` in order to compile SCSS.

There is a Sass mixin with a `@warn` directive in it. At the moment it outputs warnings such as this to `stdout`:
[code]

I think it could be more useful if Webpack was aware of the warning. In the same way that `eslint-loader` can raise warnings. e.g.:

[code]

Is this something I can do righ

[2018-07-09 09:36] evilebottnawi commented on #588
@adiron PR welcome :+1:

[2018-07-09 09:58] adiron commented on #588
I'll see what I can do, but I doubt I have the expertise atm. Any pointers for what I should look into?

[2018-07-09 10:06] evilebottnawi commented on #588
@adiron We should use webpack api for this https://webpack.js.org/api/loaders/#this-emitwarning

[2018-07-10 11:28] aSchaffe commented on #483
options: {
              sourceMap: true,
              data: '@import "~@stylesheets/variable/index";',
            },

[2018-07-11 15:23] jhnns commented on #147
I'm reoping this since it's still an issue for us

[2018-07-11 15:34] evilebottnawi commented on #147
@jhnns any ideas ho we can fix it?

[2018-07-11 15:35] jhnns commented on #296
Hey @xzyfer 👋, thanks for sharing some insights (https://github.com/webpack-contrib/sass-loader/issues/296#issuecomment-394766359).

How does that actually work? What exactly is de-duped? The generated CSS?

I'd describe this behavior as sequential I/O because LibSass pauses the compilation until the custom importer call backs. That may be a restriction of Sass itself, but if there are a lot of im

[2018-07-11 16:02] xzyfer commented on #296
For that Sass file yes, but multiple async `render` calls can happen in parallel. Keep in mind a `render` call takes a single Sass files and produces a CSS file. Multiple files can be compiled in parallel.

I disagree (in part), keeping in mind I don't know how this load currently works.

There is steady stream of demand from the community for `@import`ing from node_modules to be baked into Node S

[2018-07-12 21:34] veltman opened #590 "node-sass should be a dependency or a peerDependency, not a devDependency?"
Previously, `node-sass` was in both `peerDependencies` and `devDependencies`. In https://github.com/webpack-contrib/sass-loader/pull/533 it was removed from `peerDependencies`. Now it's only listed in `devDependencies`, so the package only works if dev dependencies are installed and there's no warning if it's missing. Shouldn't `node-sass` be in `dependencies` instead, so it's always installed eve

[2018-07-13 10:40] evilebottnawi commented on #590
@veltman you should add `node-sass` to you dependencies, we write about this in docs, it is require to use `sass-loader` in boilerplate such as `create-facebook-app` and etc. Also we have PR with supporting `dart-sass`, i.e. it will be allow to install `dart-sass` instead `node-sass`. Also we throw error if `node-sass` not found.

[2018-07-13 10:40] #590 closed

[2018-07-13 11:31] obabichev opened #592 "Undefined operation: times"
Hallo,

I have a problem with undefined operation:

I looked through sass-loader and node-sass and if I am right this is problem of old versions of node-sass and it was fixed in version 4.8.0 of node-sass,

Please, is it possible to fix it in sass-loader too or to explain what can I do wrong.

My webpack settings:
[code]
node version : v4.8.4

Best regards,
Babichev Oleg

[2018-07-13 11:49] evilebottnawi commented on #592
We don't modify original source of sass/scss/css files, you have invalid `scss` syntax, you can see this in your error. If you think it is bug `node-sass` please open issue in their repo, thanks!

[2018-07-13 11:49] #592 closed

[2018-07-13 17:33] xzyfer commented on #296
I quickly put together a proof of concept loader for first class node module imports. It'll probably need some API changes to work within the webpack context but it's worth a look.

https://www.npmjs.com/package/@node-sass/node-module-importer

[2018-07-13 22:22] veltman commented on #590
I'm confused about this. The docs say:

"The sass-loader requires node-sass and webpack as peerDependency."

But this isn't true anymore, node-sass was removed as a peerDependency (https://github.com/webpack-contrib/sass-loader/pull/533)

It seems like it should EITHER be in `peerDependencies` or `dependencies`.

Currently, if the module is installed without dev dependencies you won't get a warnin

[2018-07-17 06:32] jackysee opened #593 "@import with includePaths not work for sass-loader 7.x"
Found that I cannot use `includePaths` in the sass-loader to point to proper paths.
It only works if I downgrade to 6.0.7.
Demo project : https://github.com/jackysee/webpack4-sass-loader-test

The structure and codes
[code]
With the webpack config:
[code]
running webpack would gives such error, trying to import the `node_modules/base`
[code]

[2018-07-17 06:39] jackysee commented on #593
Probably related to #556 .

[2018-07-17 06:39] #593 closed

[2018-07-23 13:15] kamil-zielinski commented on #302
@filipkroca You should not edit `node_modules` files.

I solved it copying fonts folder from `node_modules/materialize-css/dist/fonts` to my assets dir `src/assets/fonts` and setting `$roboto-font-path`:

[code]

[2018-07-25 21:30] kyletozer opened #594 "Source map only refers to outer most parent when inspecting nested child selectors"
I created a repo for this issue I am having. When inspecting with chrome, the line number for the style will only point to the outer most parent if it is nested within it's sass file.

The repo is hosted on Bitbucket, but I can move to GitHub if needed.
https://bitbucket.org/KyleTozer/sass-webpack-sourcemap-issue/src/master/

[2018-07-26 07:11] Moghul commented on #159
You just saved 2 days of work, 2 years after the fact.

[2018-07-26 13:53] catalincislariu commented on #581
has this been solved? I am facing the same issue.

[2018-07-27 14:31] liubko opened #596 "...fr/px isn't a valid CSS value."
## Deps
[code]

## Description
this `App.scss` file produces such error
[code]
Error:
[code]

## Notes

1. this compiles without errors
[code]
2. might be related to https://github.com/webpack-contrib/sass-loader/issues/459
3. I don't know whether it's related to sass-loader at all..

[2018-07-27 14:36] evilebottnawi commented on #596
@liubko you have invalid `sass/scss` code, we don't change anything in your code, we just wrapper around `node-sass` for `webpack`, if you think what you have valid code and still get error, please create issue in `node-sass` or `sass` repo, thanks!

[2018-07-27 14:36] #596 closed

[2018-07-27 14:52] liubko commented on #596
ok, submitted an issue here https://github.com/sass/libsass/issues/2706

[2018-07-27 16:43] npetruzzelli commented on #529
@evilebottnawi - I'd like to suggest reopening this issue.

I'll try to put together a pull request soon, but I think I have found the cause and the solution.

The following is the culprit:
https://github.com/webpack-contrib/sass-loader/blob/d0b35cb4cc7a1b2f4713809c94baac2d20f75006/lib/normalizeOptions.js#L41

and the solution looks like this:
[code]

Why this works:

The highlighted line makes sa

[2018-08-01 05:08] lewischa opened #598 "Module parse failed: Unexpected character '@'"
I've searched and searched for a few days and can't seem to figure out what the issue is, but for some reason webpack and the loader pipeline are not parsing `.scss` files properly.

### The Webpack Config

[code]

### Dependency Versions

There's a few others, but wanted to keep it to the ones that I believe are important here.
[code]

### The Error

[code]

If anybody has any suggestions at all,

[2018-08-01 09:41] evilebottnawi commented on #598
You have invalid configuration - `include: path.resolve(__dirname, 'app', 'src', 'styles')` (allow compile styles from `app/src/styles`, but in you path `app/src/components/Header/styles.scss`). Don't use `include` if you don't know why.

[2018-08-01 09:41] #598 closed

[2018-08-01 15:54] #435 closed

[2018-08-01 16:33] philwareham opened #600 "Dart Sass doc error?"
Hi!

With the new `implementation` option to allow Dart Sass, shouldn't it be?:

    implementation: require('dart-sass'),

Instead of:

    implementation: require('sass'),

That got it working for me.

[2018-08-01 17:18] evilebottnawi commented on #600
@philwareham please send PR, thanks

[2018-08-01 17:59] #600 closed

[2018-08-02 07:51] julmot commented on #556
I still can't upgrade to sass-loader v7 due to this bug.

[2018-08-02 08:55] evilebottnawi commented on #556
@julmot can you create minimum reproducible test repo?

[2018-08-03 03:43] double-reinbows commented on #526
I don't think i have the configuration file in my repo. Is it ok if I just make it? if so, where?

[2018-08-03 21:29] npetruzzelli commented on #529
`css-loader` will also need some fixes, which I am nearly done with and will open a PR there as well.

[2018-08-07 12:09] a-m-dev commented on #366
hey guys , i found a new way for importing slick and slick.scss it is so simple:
(1) just go inside of your `node_modules` folder and find `slick-carousel` folder
(2) inside of that find `slick.scss` and `slick-theme.scss` from slick folder and open them up
(3) create two seperate files with names of `_slick.scss` and `_slickTheme.scss` inside of your style folders of your project
(4) copy all fro

[2018-08-08 15:12] lanzhiheng commented on #218
https://github.com/webpack-contrib/sass-loader#environment-variables  This link can help you.

[2018-08-10 16:10] smac89 commented on #343
@zindel https://stackoverflow.com/a/35820113/2089675

[2018-08-21 03:26] halilertekin opened #604 "ERROR in ./src/sass/app.scss (./node_modules/css-loader??ref--7-2!./node_modules/sass-loader/lib/loader.js!./src/sass/app.scss) Module build failed (from ./node_modules/sass-loader/lib/loader.js):"
`ERROR in ./src/sass/app.scss
Module build failed (from ./node_modules/css-loader/index.js):
ModuleBuildError: Module build failed (from ./node_modules/sass-loader/lib/loader.js):

    @include aligner(between, center);
            ^
      No mixin named aligner
      in /var/www/html/xxx/src/sass/layout/header.scss (line 9, column 14)
    at runLoaders (/var/www/html/xxx/node_modules/webpack/lib/

[2018-08-21 06:59] fskexp commented on #509
@sokra I had a similar problem: I need to copy all the source files (in particular those of the 3rd-party modules) that will end up in the deliverable (compiled or not) so I can scan them with security scanners. Using a hook on the "compilation" allows me to catch most files of my Angular application, but the non-top-level .scss files which are processed by _sass-loader_.

I followed your advice a

[2018-08-21 08:45] bencergazda commented on #604
@halilertekin It looks like your configuration is ok. The error message says you are calling the **aligner** mixin, but it is not defined yet at that point of the `header.scss`. You should check where do you declare the `@mixin aligner`, it needs to be declared in the header.scss file before line 9 (or you should import the file containing the mixin declaration somewhere earlier in the code).

[2018-08-21 09:56] evilebottnawi commented on #604
@halilertekin Read @bencergazda message, he is right, we just wrapper around `node-sass/sass`, we don't change your code

[2018-08-21 09:56] #604 closed

[2018-08-22 19:05] joshdcomp commented on #556
In case it can help someone else, this worked for me:

In your Webpack config's `module.rules[]`, move your rules for non-js assets to be evaluated before the js, so:

[code]
becomes:

[code]

[2018-08-23 16:50] bmihelac opened #605 "Unable to run test-source-map"
With fresh install, trying to run `test-source-map` script Error is thrown.

From what I saw looking for this issue, there is miss match of webpack&company:

https://github.com/mzgoddard/jest-webpack/issues/27#issuecomment-389309208
https://github.com/mzgoddard/jest-webpack/issues/27#issuecomment-376069277

Here is complete log:

[code]

[2018-08-23 17:03] #605 closed

[2018-08-23 17:03] bmihelac commented on #224
I have just tried this with `npm run test-source-map` from latest version of sass-loader and while filename is correct, it is not possible to save it from chrome devtools.

I hope screenshot will help but let me know if anything else can be done by my side:

![screen shot 2018-08-23 at 19 00 26](https://user-images.githubusercontent.com/13813/44540476-32947580-a707-11e8-8ee0-cbe69a044b55.png)

[2018-08-24 06:40] keshav00001 commented on #522
please help .............for this problem..

C:\Users\Noargs\Documents\Angular>cd my-app

C:\Users\Noargs\Documents\Angular\my-app>ng serve --open
** Angular Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **

Date: 2018-08-24T06:23:17.081Z
Hash: 45253f019453bff022b4
Time: 7394ms
chunk {main} main.js, main.js.map (main) 11.1 kB [initial] [rendere

[2018-08-24 06:42] keshav00001 commented on #522
C:\Users\Noargs\Documents\Angular>cd my-app

C:\Users\Noargs\Documents\Angular\my-app>ng serve --open
** Angular Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **

Date: 2018-08-24T06:23:17.081Z
Hash: 45253f019453bff022b4
Time: 7394ms
chunk {main} main.js, main.js.map (main) 11.1 kB [initial] [rendered]
chunk {polyfills} polyfills.js, polyfills.

[2018-08-24 19:04] shamspias commented on #69
npm install sass-loader node-sass webpack --save-dev

this will working fine.

[2018-08-26 09:34] amorphine opened #607 "Build fails with Unexpected character '�'"
First of all: a test project to reproduce an issue is available here https://github.com/amorphine/webpack-relative-module-issue

The project has OctoberCMS non-plain structure - I have a theme directory where I import modules from plugin directores via relative paths:

[code]

So in theme main.scss I got to have

It builds fine unless I use background-image property in plugin's _styles.scss:

`.se

[2018-08-26 23:08] soulofmischief opened #608 "ICSS module imports are broken"
The following [Interoperable CSS](https://github.com/css-modules/icss) module import syntax:

[code]

Currently produces the error:

```Invalid CSS after ":import(": expected selector, was "'<path/to/module>' ) {"```

Use case:

For complex hierarchical component sytems that make use of sass-loader and ICSS (for importing styles into JS documents for view components), sometimes you need to share a

[2018-08-27 09:49] evilebottnawi commented on #608
@soulofmischief i think better create this issue in `sass` repo spec. Unfortunately, there's nothing we can do here with `:import` :disappointed:

[2018-08-27 12:05] soulofmischief commented on #608
I guess you're right. Do you think I should bother the `sass` guys, or just `node-sass` seeing as how it only makes sense in a node environment?

[2018-08-27 12:07] evilebottnawi commented on #608
@soulofmischief better create issue in `sass` (node-sass just implementation sass/scss on node)

[2018-08-28 06:19] mrShturman opened #609 "Warning: a promise was rejected with a non-error: [object Object]"
The source of this warning is located in webpackImporter.js:46

![2018-08-28 13 15 23](https://user-images.githubusercontent.com/4215276/44704131-751dcf80-aac4-11e8-9c94-d22d00747c55.png)

To prevent this warning the line have to looks like Promise.reject(new Error())

[2018-08-28 09:30] evilebottnawi commented on #609
@mrShturman Please create minimum reproducible test repo

[2018-08-31 01:43] kinoli commented on #483
@aSchaffe , brilliantly simple. Thank you. This worked for me.

[code]

[2018-09-04 07:12] gyaneshgouraw commented on #69
Any body visiting this page in 2018, this piece of code made it work for me.

`{
        test: /\.scss$/,
        use: sassExtractPlugin.extract({
          fallback: 'style-loader',
          use: [
            {
              loader: 'css-loader',
            },
            'sass-loader'
          ]
        }),
      }
`

[2018-09-05 11:51] peyman-mohamadpour commented on #183
[code]

[2018-09-07 12:37] Lesik opened #610 "Wrapping @page selector makes url() lookup fail"
Hey,

in a simple project with the following structure
[code]
and the files `test.js`
[code]
`style.scss`
[code]
`stylesheet-with-at.scss`
[code]
and `stylesheet-with-url.scss`
[code]

I get the following error:
[code]

Please note that adding a webpack entry for `style.scss` instead of `test.js` results in the same error. So it doesn't matter if `style.scss` is imported by `test.js` or compiled d

[2018-09-07 12:50] evilebottnawi commented on #610
@Lesik Thanks for issue, very very strange, we just wrapper around `node-sass`. Are you sure it is bug `sass-loader`? Maybe problem in `postcss-loader/css-loader`. Anyway i can look on this in near future. Feel free to investigate.

[2018-09-08 16:05] Hery-Rs opened #611 "Pb Background Url() when Scss is compiled - Webpack Encore/Symfony 3.4"
Hello This is my first Issue :-)

Background Url() in my compiled scss doesn't appear.
I follow Sass Loader documentation, and i try to look at other Issues (like [#276](https://github.com/symfony/webpack-encore/issues/276)) related the same Pb, but I don't understand how to resolve it with my configuration :

[code]
[code]

[code]

The Url is compiled to ---------> background: url(/web/images/clo

[2018-09-10 09:06] evilebottnawi commented on #611
@Hery-Rs please create minimum reproducible test repo

[2018-09-10 09:50] Hery-Rs commented on #611
@evilebottnawi  here [pde2018_project](https://github.com/Hery-Rs/pde2018_project) my repo.

On page "portraits" (localhost:8000/portraits), when you click on portfolio images, a lightbox appear. But normally there is "loading", "close", "next" and "prev" images.

[2018-09-10 09:53] evilebottnawi commented on #611
@Hery-Rs look problem in `@symfony/webpack-encore`, i am not familiar with this package, maybe better create issue in their repo?

[2018-09-10 10:11] Hery-Rs commented on #611
Ok thanks @evilebottnawi

[2018-09-10 10:11] #611 closed

[2018-09-11 11:28] evilebottnawi commented on #556
/cc @jhnns looks we need solve this bug, solution above looks good, other solution is add support custom options (`fields`, `extensions` and etc) to (resolver.resolve) (i can send a PR with this features), what do you think?

[2018-09-11 11:29] evilebottnawi commented on #609
Closing due to inactivity. Please create minimum reproducible test repo and reopen issue. Thanks!

[2018-09-11 11:29] #609 closed

[2018-09-12 08:53] andyhasit opened #612 "Confused about usage."
According to the README, this package:

However none of the example seem to actually do this, and I've also been told on [stackoverflow](https://stackoverflow.com/questions/52279931/why-would-i-want-to-integrate-css-into-javascript/52280683?noredirect=1#comment91527989_52280683) that it doesn't actually do this.

I've tried various loaders and the output is either CSS as JavaScript, **which is not

[2018-09-12 09:20] evilebottnawi commented on #612
@andyhasit `css-loader` convert css to js, how it is related to sass-loader?

[2018-09-12 10:30] tkbeili opened #613 "issue with `.sass` files"
I'm trying to use `sass-loader` with `webpack` to integrate with Bulma as per instructions here: https://bulma.io/documentation/customize/with-webpack/

it works for my own `.scss` files but I have a line like this:
[code]
which gives errors:
[code]
My guess is that it's not recognising `.sass` syntax.

config inside `webpack.config.js` looks like:
[code]

Any ideas?

[2018-09-12 10:33] evilebottnawi commented on #613
@tkbeili you have invalid `sass`, read the error. We just wrapper around `node-sass/sass`

[2018-09-12 11:34] andyhasit commented on #612
@evilebottnawi how does that answer any of my questions?

[2018-09-12 11:41] michael-ciniawsky commented on #612
@andyhasit The `sass-loader` does indeed just transpile SASS/SCSS => CSS but `webpack` relies on the JS module system to bundle it and that's why you either need the `raw-loader` or the `css-loader` (recommended) to make it work with `webpack`. What is your use case? Why is that an issue for you? Maybe a simple task (e.g gulp/CLI) would be sufficient in your case?

[2018-09-12 13:07] andyhasit commented on #612
@michael-ciniawsky that makes more sense with you explaining it that way. I was explicitly asked to use webpack to handle all the ES6 & SASS compiling and bundling for a django project as a replacement to django-pipeline.

There are multiple sass and es6 files which need compiled & concatenated to various end output files, and the idea was to manage the whole thing with one webpack config file, be

[2018-09-12 14:20] michael-ciniawsky commented on #612
I never used `django-pipeline` but in general If you don't use a component based approach like e.g `react` you don't really need to go extra lengths for CSS here. A simple gulp/grunt/cli task and adding a link to the HTML template should be sufficient. `webpack` is entirely different from the traditional workflow and not a per se drop in replacement for e.g `gulp` without underlying architectural

[2018-09-12 14:20] #612 closed

[2018-09-12 15:08] tkbeili commented on #613
@evilebottnawi I assumed it's a valid `.sass` I didn't write this code as it camse from here: https://github.com/jgthms/bulma/blob/master/sass/utilities/derived-variables.sass

[2018-09-12 15:13] evilebottnawi commented on #613
@tkbeili we don't modify your code, maybe you use old version of `node-sass/sass`m pelase provide information about `node/node-sass` version

[2018-09-12 15:14] evilebottnawi commented on #613
Also please create minimum reproducible test repo

[2018-09-12 15:15] tkbeili commented on #613
@evilebottnawi `"node-sass": "^4.9.3"`

[2018-09-12 15:18] evilebottnawi commented on #613
@tkbeili sorry, without minimum test repo i can't help, i can't reproduce you problem

[2018-09-12 15:18] tkbeili commented on #613
@evilebottnawi ok will work on one, thanks

[2018-09-13 11:48] dmngu9 opened #614 "Question on how to import styles into jsx file"
Hi,

I used `import styles from './app.scss'` and the styles is not apply to my components. However, if i use `import './app.scss'` , it works. This is my webpack config. I wonder if it is sth to do with sass-loader

[code]

[2018-09-15 20:12] dimitarnestorov opened #615 "Cannot import files when using a resource query"
![image](https://user-images.githubusercontent.com/8790386/45590214-4a44cf80-b93c-11e8-9d7a-20c227586155.png)

If I omit `?external` it imports the image but inline, forcing me to use data URIs.

[2018-09-17 10:04] evilebottnawi commented on #615
@dimitarnestorov can you create minimum reproducible test repo?

[2018-09-17 12:52] dimitarnestorov commented on #615
Sure.
https://github.com/dimitarnestorov/sass-loader-resource-query-test

[2018-09-18 13:00] ThomasLabstep opened #616 "Error OS X 64-bit with Unsupported runtime (66)"
[code]

I'm using a webpack 4 + babel 7 create-react-app build.

[code]

I tried the following with no luck:
- Downgrade node to 8.x LTS
- Downgrade node-sass to 4.7.2
- Use both yarn and npm, rm -rf node_modules and install again
- Recompile with "npm rebuild node-sass --force"

As you can see the binary is fine.

[code]

If you have any idea how to fix this, thanks for the help.

[2018-09-18 13:05] evilebottnawi commented on #616
@ThomasLabstep Please create this issue in `node-sass` or you can try to use (sass)[https://www.npmjs.com/package/sass] package. We just wrapper around `node-sass/sass`. Also maybe you install `node-sass` globally, just update global version

[2018-09-18 13:05] #616 closed

[2018-09-18 13:06] ThomasLabstep commented on #616
I just did. But I suspect sass-loader is not finding the binary.

Also:

[code]

[2018-09-18 13:17] evilebottnawi commented on #616
@ThomasLabstep try to clear cache and reinstall: `npm cache clear --force && npm i`

[2018-09-21 10:21] Zik42 opened #617 "Import vars to js"
Is there new solution to import variables to js? I found many repos, but they are outdated and dont work

[2018-09-21 10:22] #617 closed, assigned to nobody

[2018-09-21 10:28] ZikDead commented on #617
I wrote coz of this. https://til.hashrocket.com/posts/sxbrscjuqu-share-scss-variables-with-javascript

[2018-09-21 10:33] evilebottnawi commented on #617
@ZikDead good solution

[2018-09-21 15:05] SiamakEshghi commented on #69
It works for me:
           {
                test: /\.scss$/,
                use: extractPlugin.extract({
                    use: ["css-loader", "sass-loader", "postcss-loader"],
                    fallback: 'style-loader'
                })
            }

[2018-09-25 10:50] #594 closed

[2018-09-26 08:38] shunxing opened #618 "Webpack alias and import throw http_server error"
Hi guys

I'm struggling with the import in sass file. I'd like to import a sass file through an alias created in webpack.

**product-bis.sass**
` @import "~app/pages/product.scss"; `

**webpack.conf.js**
[code]

When i'm using webpack hot-reload, there is no problem, it just imports the right file (i can see the imported css). However when i stop the server and try to build again, i'm able to buil

[2018-09-26 09:48] evilebottnawi commented on #618
@shunxing please create minimum reproducible test repo

[2018-09-26 12:54] nataliawojtkowska commented on #556
+1

[2018-09-26 16:09] JeanHules commented on #344
This worked for me

module: {
		rules: [
			{
				enforce: 'pre',
				test: /\.jsx?$/,
				loader: 'eslint-loader',
				exclude: /node_modules/
			},
			{ test: /\.(js|jsx)$/, exclude: /node_modules/, loader: 'babel-loader' },
			{ test: /\.(png|woff|woff2|eot|ttf|svg)$/, loader: 'url-loader?limit=100000' },
			{
				test: /\.scss$/,
				use: [
					{
						loader: 'style-loader'
					},
					{

[2018-09-26 19:42] JavaPantry opened #619 "Fail to use only to produce CSS from SCSS"
Hi all
I'm trying to use 2 modules in webpack.config
Along with building js bundle I'd like to build CSS for web page, but always got error

[code]

company-style.scss
[code]

Could you please look at **cssConfig** in following listing. I can't understand how to properly config
[code]

[2018-09-27 07:29] antonellil commented on #556
experiencing the same JS precendence issue as well, currently unable to upgrade to `7.*.*` from `6.0.7`

[2018-09-27 07:42] larpo commented on #556
Not sure what you guys are doing differently, but this has been working perfectly for me since the fix in 7.0.1:

[code]

[2018-09-27 10:04] evilebottnawi commented on #619
@JavaPantry you have invalid config, don't use `Object.assign` on config because it is not merge deep properties (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign). Please provide minimum reproducible test repo (without `Object.assign` and other stuff).

[2018-09-27 11:57] JavaPantry commented on #619
Thank you, evilebottnawi
- I've switch from Object.assign to use `merge = require('webpack-merge')`
- Project compiled without errors but output file is javascript instead of desired CSS
- just for consistency change output file to `company-style.js` and modify index.html
- style applied to html `h1` tag as expected

Is there any option to produce pure CSS file, instead JavaScript?

For oyur convi

[2018-09-27 11:59] evilebottnawi commented on #619
@JavaPantry https://github.com/webpack-contrib/mini-css-extract-plugin, please read README , also for questions please use `stackoverflow` or `gitter`, thanks!

[2018-09-27 11:59] #619 closed

[2018-09-27 17:35] oliverhr commented on #556
Same here, also I try downgrading node-sass to ~4.8.3 but I get the same result so we move to dart-sass/fibers or we downgrade to ~6.0.7 and node sass ^4.9.3.

[2018-09-27 17:42] evilebottnawi commented on #556
@oliverhr problem is not in `node-sass`

[2018-09-27 17:43] evilebottnawi commented on #556
/cc @jhnns friendly ping

[2018-10-01 18:12] Flippsus commented on #536
I've read carefully the documentation and this thread.
I am experiencing the same error as @DFallas, I guess ...

The first build succeeds. Every subsequent build **fails with the error** `[...] Invalid CSS after "": expected 1 selector or at-rule, was "var content = requi"` ...

My webpack.config.js looks like this:

    const path = require('path');
    const webpack = require('webpack');
    co

[2018-10-02 09:10] MontageD commented on #409
You can try this way in the latest webpack .
`src:
      font-url(fonts/titillium-web/titillium-web-light.woff) format('woff'),
      font-url(fonts/titillium-web/titillium-web-light.woff2) format('woff2');`
  But the premise is  if your configuration is well ;
as
`module:{
         {
                test: /\.(woff|woff2|eot|ttf|otf)$/,
                use: [
                    'file-loader'

[2018-10-03 21:47] nicolasflorth commented on #69
I am looking for your solution 2 years later. Why to bother to add it!? Important it was that you was able to fix it. Oh God

[2018-10-12 12:57] pitpit commented on #535
Thanks to [mainFields](https://webpack.js.org/configuration/resolve/#resolve-mainfields)  in webpack.config.js, you can resolve file to import with "sass" or "style" fields from package.json of the npm package.

[code]

[2018-10-12 13:02] evilebottnawi commented on #535
@pitpit Maybe will be good create issue about this in webpack, loader can't register own `resolve` options, this feature will fix also https://github.com/webpack-contrib/sass-loader/issues/556

[2018-10-12 13:07] pitpit commented on #535
@evilebottnawi actually a loader can register its own resolve option. It does works
 (webpack@4.20.0)

[2018-10-12 13:10] evilebottnawi commented on #535
@pitpit how? Without hacks?

[2018-10-12 14:16] pitpit commented on #535
no hacks. Look at this repo https://github.com/pitpit/saas-field

[2018-10-13 03:56] HairyRabbit commented on #566
Hi, :)
looks like it also not work when resolve.alias property starts with tilde character. e.g

[code]

would the alias start with `~` is not allow ?

[2018-10-15 20:42] arsduo commented on #358
This would be a huge help. I've spent an hour trying to figure out why it's not working for me despite using the code directly from the readme, so far with no luck. Having complete, runnable examples to compare against would be great.

[2018-10-17 20:09] stevenvachon commented on #556
I'm running in this issue with 7.1.0

[code]
throws:
[code]

This is not clear. Something like "non-existent.scss does not exist" would avoid a lot of debugging.

[2018-10-22 13:19] juanitaV commented on #530
I have this error : Module build failed (from ./node_modules/sass-loader/lib/loader.js):

[2018-10-22 22:29] WebTechnolog commented on #530
@juanitaV try `npm rebuild node-sass`

[2018-10-22 23:35] juanitaV commented on #530
@WebTechnolog , thank you! Work for me!

[2018-10-23 15:08] BrCroner opened #620 "Module parse failed: Unexpected character '@'"
Hi guys! Help a newbie  (╯_╰) . I'm trying to create a code that will serve as a reference for my next projects.

webpack.config.js:

[code]

my package.json:
[code]

[2018-10-23 15:34] evilebottnawi commented on #620
@BrCroner please use `gitter` or `stackoverflow` for question in future, you don't have `url-loader`/`file-loader`, but have `url('something.png')` in css, you need setup this loader/loaders.

[2018-10-23 15:34] #620 closed

[2018-10-23 15:55] BrCroner commented on #620
Thanks.

[2018-10-24 10:05] Ameeno0 opened #621 "module build failed"
ERROR in ./src/app/calender/calender.component.scss
Module build failed (from ./node_modules/sass-loader/lib/loader.js):
Error: Cannot find module 'node-sass'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:587:15)
    at Function.Module._load (internal/modules/cjs/loader.js:513:25)
    at Module.require (internal/modules/cjs/loader.js:643:17)
    at require (internal/modul

[2018-10-24 10:36] dongdongmao commented on #530
`ERROR in ./src/styles.scss (./node_modules/sass-loader/lib/loader.js!./node_modules/css-loader!./src/styles.scss)
Module build failed (from ./node_modules/sass-loader/lib/loader.js):

/* You can add global styles to this file, and also import other style files */
^
      Invalid CSS after "e": expected 1 selector or at-rule, was "exports = module.ex"`

rebuild node-sass and reinstall webpack not

[2018-10-24 10:39] dongdongmao commented on #530
and i run `npm ls node-sass` show

+-- @angular-devkit/build-angular@0.10.2
| `-- node-sass@4.9.3
`-- node-sass@4.9.4

but if i delete node-sass from my local node_modules then module not found 'node-sass'.  i'm confuse

[2018-10-24 12:00] Ameeno0 commented on #621
i tried did not work, so i changed the scss file to css file, now its working fine

[2018-10-25 05:11] heruiwoniou commented on #343
Hi, @smac89
The document you provided is very old, the official document does  not mention this use at present.

[2018-10-25 20:13] hal869 commented on #556
Could someone clarify what's not happening that needs to happen to get this fixed?

Trying to follow all the references to find a starting point is a rabbit-hole.

Is it @evilebottnawi needing a response from @jhnns ?

[2018-10-25 20:21] evilebottnawi commented on #556
@hal869 we need `webpack` api for set `resolve.extensions` and `resolve.mainFields` and set values inside loader.

[2018-10-25 20:41] hal869 commented on #556
@evilebottnawi Is there an issue open for that?

[2018-10-25 20:57] evilebottnawi commented on #556
@hal869 no issue only private dialog in `slack`, but feel free to create issue in `webpack`

[2018-10-26 08:46] my101du opened #622 "node-sass: 4.5.x version is too old to run in latest macOS mojave 10.14"
I was developing a project, before it works fine, but today got an error when run

npm run dev

it response an error:

Node Sass does not yet support your current environment: macos 64-bit with Unsupported runtime (67)
please..... node-sass   4.9.x

then I saw the package.json in sass-loader is still using 4.5.x.

I remember last week I update my macbook to 10.14.

please fix the issue, thanks.

[2018-10-26 09:54] evilebottnawi commented on #622
@my101du just add `node-sass` with supported version in you `package.json` (you can pin package - `node-sass: "4.5.0"` to avoid future  problems), we can't solve this problem on our side

[2018-10-26 09:54] #622 closed

[2018-10-26 14:57] bgm5d opened #623 "License"
Hello!  Could you confirm that sass-loader-v7.0.1 is also covered by the MIT License (which I see for the master).  Any help you could provide is very much appreciated.

Thank you!!

[2018-10-29 04:15] aprilmintacpineda commented on #556
I'm experiencing the same problem said by @antonellil. I see this issue hasn't been fixed? My case is this:

folder structure:

[code]

import syntax: `@import 'colors';`

*_colors.scss*

[code]

*config*

[code]

ERROR:

![image](https://user-images.githubusercontent.com/21032419/47629120-41b6fa00-db74-11e8-9fb9-0b327f69b33d.png)

[2018-10-29 09:28] evilebottnawi commented on #623
@bgm5d yes, it is MIT

[2018-10-29 09:28] #623 closed

[2018-10-29 13:51] bgm5d commented on #623
Thank you!!!

On Mon, Oct 29, 2018 at 5:29 AM Evilebot Tnawi <notifications@github.com>
wrote:

--

*Bridget Morris*

Manager, Counsel
804-512-2273
bridget.morris@capitalone.com
________________________________________________________

The information contained in this e-mail is confidential and/or proprietary to Capital One and/or its affiliates and may only be used solely in performance of work

[2018-11-01 17:08] papac opened #625 "Compile output is a JavaScript Code"
My configuration:
[code]

Output:

[code]

[2018-11-01 18:04] papac commented on #625
That's the problem, I use webpack and when I start the compilation, the result is javascript.

[2018-11-01 18:22] evilebottnawi commented on #625
@papac use `style-loader` or https://github.com/webpack-contrib/mini-css-extract-plugin for extract CSS

[2018-11-01 18:22] #625 closed

[2018-11-07 00:17] manniL commented on #296
Hey folks :wave:
Are there any news/successes on the perf topic? :relaxed:

[2018-11-07 16:14] ramonbakker commented on #556
I was also experiencing this issue when I upgraded Angular from version 6.1 to 7.0. I am using Foundation 6.5 and the error went away when I changed `@import 'util';` to `@import './util';` in _settings.scss.

[2018-11-07 16:19] evilebottnawi commented on #556
Solving this issue require new api for loaders in `webpack`, it is already in `TODO` list with high priority

[2018-11-08 08:00] ahem commented on #556
I am experiencing the same problem as @aprilmintacpineda and it seems to originate from [`webpack/loader-utils`](https://github.com/webpack/loader-utils/blob/master/lib/urlToRequest.js). With a configuration like [described above](https://github.com/webpack-contrib/sass-loader/issues/556#issuecomment-433783527) sass-loader's `importsToResolve` function maps an import like `@import 'colors'` into t

[2018-11-08 09:17] evilebottnawi commented on #556
@ahem can you create minimum reproducible test repo?

[2018-11-10 10:27] MOONLIGHTV opened #628 "Can't get the common scss content when using webpack4."
This is the link about my issue:
https://stackoverflow.com/questions/53219805/cant-get-the-common-scss-when-use-sass-loader
When I use sass-loader+css-loader+mini-css-extract-plugin, only .css file can be created a common css file, the .scss can't get.

[2018-11-10 13:35] evilebottnawi commented on #628
@MOONLIGHTV I can't understand you, what you expected?

[2018-11-11 03:40] aprilmintacpineda commented on #556
I have a repository that uses `sass-loader@7.1.0` and works without any of the issues aforementioned in this thread.

https://github.com/aprilmintacpineda/webpack-multi-build-template

[2018-11-14 09:13] MOONLIGHTV commented on #628
@evilebottnawi
I have two .scss files(index.scss & about.scss), they use "@import" import one same common.scss, After run webpack, index.css & about.css all included the common.scss conten, can't make the same common.scss to common.css,.

[2018-11-14 10:30] evilebottnawi commented on #628
@MOONLIGHTV Because in `sass`/`scss` all `import` inlined,  we just wrapper around `node-sass`/`sass` and we can't change behaviour

[2018-11-14 10:30] #628 closed

[2018-11-14 13:14] Meetkp001 commented on #530
Thanks this is works for me

[2018-11-14 14:16] chrisckc commented on #455
I wanted to split bootstrap up into smaller chunks, i achieved this by importing bootstrap via 2 separate scss imports in the main js file.

[code]
Each of those scss files individually imports the separate bootstrap scss files that are required by the app, distrubuted accordingly to divide it into 2 roughly equal halves.

The split is then achieved using the following optimization.splitChunks.cac

[2018-11-15 07:33] L1uD0ngq1 opened #629 "@import *.css not work error: Can't resolve './style.css'"
Files Tree Demo:
src/index.scss
src/styles/index.scss
src/styles/ztree.css

And relationship:
src/index.scss => @import("./styles/index.scss")
src/styles/index.scss => @import("./ztree.css")

webpack config:
[code]

It works well if ztree is a sass file, however it throw error when ztree is a css file;
![image](https://user-images.githubusercontent.com/42128808/48536831-b1eeab00-e8ea-11e8-9e27-a5e

[2018-11-15 07:39] L1uD0ngq1 commented on #629
It's easy to reproduce it, i didn't write the demo. The images are from my product project.

[2018-11-15 14:46] stevenvachon commented on #584
@evilebottnawi why should we have to rewrite our deeper SCSS files when switching to webpack? For example, if `entry.scss` imports `~alias/deep.scss` which imports `relative/deeper.scss`, the relative path should still work.

[2018-11-16 14:22] webpack-bot opened #630 "Error "Module parse failed: Unexpected character '@'". Probably sass-loader is not working for me"
# Hello!
I'm new to the webpack. I've been trying it for a few days and now I want to integrate it with an existing project.

Using webpack I was able to generate a separate file for a CSS. But now I'm trying to use **sass-loader** to compile a .scss and have the same result.

### Here is my **main.scss**
[code]

As you can see, I'm importing Bootstrap framework module. I already tried importing u

[2018-11-16 15:41] brantac commented on #630
Hi @evilebottnawi , I've just created a repo just to reproduce this error.
Repo: [sass-loader-test](https://github.com/brantac/sass-loader-test).

[2018-11-16 20:49] brantac commented on #630
Is better remove from **module.rules** and **MiniCssExtractPlugin** the ternary conditionals for the loaders, filename and chunkFilename. At least a .js is generated inside ./public/dist with the Error written inside. But, nothing else is new. Still with the same problem when compiling.
[code]

[2018-11-19 08:22] jianghai opened #631 "Environment variables not override third variables module"
[code]

[code]

Result: title color is blue
Expect: title color is orange

🙏

[2018-11-19 09:08] evilebottnawi commented on #631
@jianghai it is expected behavior, don't think it is possible to fix

[2018-11-19 09:41] jianghai commented on #631
So, how to override default theme in this case ? postcss replace key value ??

[2018-11-19 09:44] evilebottnawi commented on #631
@jianghai store themes variables in separate files, it is question for `sass`/`scss` files structure in you project (you can search articles in google which structure is more suitable for you), not `sass-loader`

[2018-11-19 09:48] jianghai commented on #631
@evilebottnawi Our scene is a lot of ui component which publish npm separately and share a default theme module

[2018-11-19 10:47] jianghai commented on #631
My problem is users could custom theme variables no matter variables is defined or not, may be components developers could reach a promise that theme variables should depend on the environment or replace public theme variables module before sass process. Thanks a lot.

[2018-11-19 10:47] #631 closed

[2018-11-20 09:49] bencergazda commented on #556
@tarjei Sorry, I think I should notice that the commit you have linked in my repo is not my work. I just forked `sass-loader` in order to use some of the other PRs, not sure why GitHub linked that here with my profile (now I have removed my forked repo not to interfere with webpack-contrib/sass-loader). All credits to @jhnns (original commit: https://github.com/webpack-contrib/sass-loader/pull/557

[2018-11-20 12:50] bencergazda commented on #556
@jhnns @evilebottnawi If this adds new information to the issue, it looks like the issue occurs when the sass `@import` contains an absolute path. Minimal reproducible repo in https://github.com/bencergazda/webpack-sass-broken-imports

[2018-11-20 13:13] evilebottnawi commented on #556
It is happens for all `resolve` call (i.e aliasing, resolving file in `node_modules` and etc), we can't override `resolver.extensions` inside `loader` so `js` extension prefer over `scss/sass`

[2018-11-20 19:19] bencergazda commented on #556
@evilebottnawi I see, thanks for clarifying this. It is strange that it also fails in case I replace the aliased import path with an absolute path (like `/Users/user/webpack-sass-broken-imports/src/components/component`) Does webpack do resolving in this case?

[2018-11-23 09:54] ryuran commented on #629
It should be fixed by node-sass 4.11
try `npm install node-sass@beta --save-dev`

[2018-11-23 09:55] evilebottnawi commented on #629
@L1uD0ngq1 friendly ping

[2018-11-23 16:09] BruneXX commented on #49
Hi @volodymyr-tsaryk with one var works like a charm, but how to share multiple vars? is that possible? thanks!

[2018-11-23 16:40] bencergazda commented on #556
@evilebottnawi @jhnns Importing as absolute path in my minimal reproducible repo fails in Mac (`@import "/Users/user/webpack-sass-broken-imports/src/components/component";`), but does work Windows (`@import "C:\webpack-sass-broken-imports\src\components\component";`)

[2018-11-23 20:17] evilebottnawi commented on #556
@bencergazda `node-sass` supports windows path in `@import`?

[2018-11-28 10:10] Yackbz opened #632 "Make env variables available in sass / Nuxt"
Hi,

can someone tell me how to make env variables setup in the env object in nuxt.config.js available in all sass files?
The docs mention the sassLoder object. I tried something like this, but it won't work.
[code]

[2018-11-28 10:42] evilebottnawi commented on #632
Please create this issue in `nuxt` repo

[2018-11-28 10:42] #632 closed

[2018-11-29 12:54] evilebottnawi commented on #630
Invalid `test` configuration, use `test: /\.s(a|c)ss$/,`

[2018-11-29 12:54] #630 closed

[2018-11-29 12:54] #629 closed

[2018-11-29 12:55] #618 closed

[2018-11-29 12:56] evilebottnawi commented on #615
Problem in `extract-loader`, better use `MiniCssWebpackPlugin`

[2018-11-29 12:57] evilebottnawi commented on #610
Problem in `resolve-url-loader`, please create issue in their repo

[2018-11-29 12:57] #610 closed

[2018-11-29 13:12] #615 closed

[2018-11-29 22:23] michaelgmiller commented on #556
@evilebottnawi do you have a link to the issue tracking this?

[2018-11-30 09:31] evilebottnawi commented on #556
@micahlmartin it is internal request (in `slack`), no issue

[2018-11-30 10:06] Skullyfox opened #633 "Module parse failed: Unexpected character '@'"
### Hi !
### I've a problem with SASS Loader and i don't know how to resolve this because for me, my config was good :
---

**/config/webpack/index.js** :
[code]
**/config/webpack/loaders.js** :
[code]
**/config/webpack/plugins.js**:
[code]
**webpack.config.js** :
[code]
**script npm**:
[code]
and when i launch dev or prod my error was :
[code]

### Someone can help me please ?

[2018-11-30 10:18] evilebottnawi commented on #633
Please don't put you configuration in `issue`, it is very hard to read and very very very hard to help, better create minimum reproducible test repo

[2018-11-30 10:19] evilebottnawi commented on #633
Based on error test, `sass-loader` doesn't work, i think problem in `configuration`

[2018-11-30 10:20] Skullyfox commented on #633
Oh yes sorry i'ts my first request on github : https://github.com/Skullyfox/Foxhub_WebRadio

[2018-11-30 16:15] michaelgmiller commented on #556
Filed https://github.com/webpack/webpack/issues/8447 to track this and make sure it gets resolved

[2018-11-30 19:04] fupengl opened #634 "when calc(100vh - 20rpx) build error"
when use rpx build error..

[2018-11-30 19:09] Skullyfox commented on #633
I forgot module export in webpack.config.js and somes fails in my code, sorry for the useless ticket guys and thank you !
The changes : https://github.com/Skullyfox/Foxhub_WebRadio/pull/1/files

[2018-11-30 19:10] #633 closed

[2018-12-01 00:32] kevin074 commented on #272
[code]
currently with this set up the source map would only be pretty darn close to the line in the scss file when I am inspecting through chrome console. Don't know if anyone else is seeing this as well.

[code]

[2018-12-03 18:59] hassanshaikley opened #635 "Support for Server Side Rendering?"
Hey all,

In my build (that gets imported into my core application that uses SSR) I am getting errors because the output file has references to document and window that are not compatible with SSR.

For example this function. There needs to be `typeof window !== 'undefined' && window` where we use window.

Granted I am not sure if I am in the wrong and doing things wrong since I don't see any info

[2018-12-03 22:18] johncrim commented on #556
This issue is referenced on Stack Overflow:
https://stackoverflow.com/a/53602754/605067

[2018-12-03 22:37] tkbeili commented on #613
@NightOwlPrgmr I had that issue with `Phoenix` with `Elixir` so I'm not sure about Laraval. I upgraded to a version that had that working.

[2018-12-04 09:06] evilebottnawi commented on #556
PR https://github.com/webpack/webpack/pull/8452

[2018-12-04 09:07] evilebottnawi commented on #635
@hassanshaikley not related to `sass-loader`, feel free to create issue in `style-loader`

[2018-12-04 09:07] #635 closed

[2018-12-04 16:57] nmish2005 commented on #522
[code]
(Simply add png to `test` and it will load...)

[2018-12-04 17:32] aurelienborst opened #636 "Webpack 3.11 & React : Cannot Resolve Font File"
I'm using webpack 3.11 to compil my MERN app, I've developed a mutiple branding compiler so we an choose a different .scss file depending on our ENV.branding value.

This is my webpack file :

[code]

It's working fine, but the problem is when I want to import a .scss files to a react component, for example my OpportunityCard.js component (import opportunityStyles from './OpportunityCard.scss';) i

[2018-12-04 17:46] evilebottnawi commented on #636
Please don't copy/past your config in issue, use `gist` or repo, it is hard to read. `node-sass` doesn't touch your url so you have invalid url, you can get more information https://github.com/webpack-contrib/sass-loader#problems-with-url

[2018-12-04 17:46] #636 closed

[2018-12-04 23:37] hassanshaikley commented on #635
Oh man, I am sorry! I did a small test and thought it was sass-loader. I am just doing a workaround now.

Thanks for your incredible work.

[2018-12-06 05:43] mikesown commented on #556
@evilebottnawi With the webpack fix landed, is it pretty straightforward to fix in sass-loader?

[2018-12-06 09:58] evilebottnawi commented on #556
@mikesown need send a PR, i have time on time in near future

[2018-12-11 18:48] evilebottnawi commented on #493
Close in favor https://github.com/webpack-contrib/sass-loader/issues/556, https://github.com/webpack-contrib/sass-loader/issues/535 and `sass` field in `package.json`

[2018-12-11 18:48] #493 closed

[2018-12-11 18:49] evilebottnawi commented on #509
Original issue was solved.

[2018-12-11 18:49] #509 closed

[2018-12-11 18:49] evilebottnawi commented on #358
Feel free to send PRs with example in `README.md` (example) section. Close due inactivity.

[2018-12-11 18:49] #358 closed

[2018-12-11 18:50] evilebottnawi commented on #535
Need support `sass` field in `package.json` too

[2018-12-11 18:53] evilebottnawi commented on #185
I think it is expected behavior and no need to be documented. Feel free to feedback.

[2018-12-11 18:53] #185 closed

[2018-12-11 19:34] lorencole commented on #40
And also why isn't `$bootstrap-sass-asset-helper: true;` the default?

[2018-12-12 07:21] HairyRabbit commented on #556
any update here ?   :)

[2018-12-12 09:42] evilebottnawi commented on #556
@HairyRabbit how it is related to this issue?

[2018-12-12 09:43] evilebottnawi commented on #556
And alias works because we send original url to resolver, looks you have invalid url or configuration

[2018-12-12 10:17] HairyRabbit commented on #556
yeah, sorry for that, because I found some discussions about the resolves list.

I try to find some way to let the alias works fine with libsass resolve algorithm like "partials import".

[2018-12-12 10:18] evilebottnawi commented on #556
@HairyRabbit feel free to open issue with reproducible test repo

[2018-12-13 18:48] evilebottnawi commented on #556
Somebody can create minimum reproducible test repo? I can't reproduce bug in test env :confused: , but i known bug exists.

[2018-12-13 19:49] dogoku commented on #556
@evilebottnawi I think @bencergazda shared one above:

https://github.com/bencergazda/webpack-sass-broken-imports

[2018-12-13 19:52] evilebottnawi commented on #556
@dogoku this already fixed, but i find reproducible problem, WIP on this

[2018-12-13 20:10] nwoltman commented on #556
@evilebottnawi Here's one that's still failing for me:
https://github.com/nwoltman/sass-loader-bug-demo

[2018-12-13 20:11] evilebottnawi commented on #556
@nwoltman thanks!

[2018-12-13 22:02] evilebottnawi commented on #556
Here two problem:
1. Prefer `js` over `sass`/`scss` extension when you import module (solved here https://github.com/webpack-contrib/sass-loader/pull/645)
2. For better integrating with webpack we use `this.resolve`, but when you setup `includePaths` and use `@import 'globals'` we have a problem with resolving, `node-sass` doesn't provide interface to check file exists in `includePaths` and if you

[2018-12-14 09:30] evilebottnawi commented on #556
@nwoltman using `sass` resolution doesn't allow use `alias`, `sass` and `style` fields in `package.json` and etc features

[2018-12-14 11:06] aprilmintacpineda commented on #510
You can get around this by doing:

[code]

Then on scss

[code]

Not a great solution, but should help out.

[2018-12-14 11:14] evilebottnawi commented on #510
@aprilmintacpineda Can you send a PR to documentation about this?

[2018-12-14 14:30] evilebottnawi commented on #556
We can require always use `~` from importing from `node_modules`, so `@import globals` doesn't look in `node_modules` and should solve issue, but it is breaking change

[2018-12-14 14:35] evilebottnawi commented on #556
Or we can rejeact all resolved files what don't have `sass`/`scss`/`css` extension (some limitation), but it is solve issue for all

[2018-12-14 16:08] mikesown commented on #556
@evilebottnawi Thanks for fixing this!!! Now that the first fix is landed, is it possible to push a new version to NPM? I’m excited to

[2018-12-14 16:12] evilebottnawi commented on #556
@mikesown no, use `master` now, we need more features/fixes before publish new version

[2018-12-14 16:12] evilebottnawi commented on #556
Released planned on next week

[2018-12-14 16:21] #510 closed

[2018-12-14 16:40] #535 closed

[2018-12-14 22:10] lunelson opened #650 "support `functions option, as function of `loaderContext`, like `data`; deprecate the latter"
* Operating System: macOS Sierra
* Node Version: 9.11.1
* NPM Version: 6.5.0
* webpack Version: 4.23.1
* sass-loader Version: 7.1.0

### Expected Behavior / Situation

I'd like to be able to supply a function to the `functions` option, which would receive the `loaderContext` in the same way the `data` option currently can do. This would allow for example configuring functions that reference the pa

[2018-12-18 07:57] darrynten opened #652 "Vulnerability due to usage of lodash.tail:4.1.1"
DepShield is reporting vulnerabilities for the version of lodash.tail (4.1.1) in the `package.json` file as you can see here: https://github.com/UnicornGlobal/data-table/issues/89

There is a newer version of lodash.tail available.

[2018-12-19 13:06] evilebottnawi commented on #650
Done in https://github.com/webpack-contrib/sass-loader/pull/651

[2018-12-19 13:06] #650 closed

[2018-12-19 22:11] deAtog opened #653 "Allow custom mainFields and extensions for getResolve"
* Operating System: All
* Node Version: n/a
* NPM Version: n/a
* webpack Version: 4.27.0+
* sass-loader Version: trunk

### Feature Proposal

The sass-loader plugin should allow the user to customize the mainFields and extensions used to resolve imports. The current defaults shown below may be insufficient for all use cases:
[code]
E.g. 'style' is not included in mainFields by default.

### Featur

[2018-12-20 09:33] evilebottnawi commented on #653
Already supported https://webpack.js.org/configuration/resolve/
[code]

Also this feature is not publish right now.

Maybe we should support `style` field by default. But it is good practice have in `style` field `css` and `scss`/`sass` in `sass` field, feel free to create issue in font-wasesome repo

[2018-12-20 15:46] deAtog commented on #653
Published or not, does not matter. This does not seem to work with Webpack 4.28.0.

The error states the following:

configuration.module.rules[4].use[3] has unknown property 'resolve'. These properties are valid:
object { ident?, loader?, options?, query? }

On lines 40-46 of loader.js, the sass loader has the following:
[code]
As initially stated, the sass-loader does not provide an option to ov

[2018-12-20 15:56] evilebottnawi commented on #653
@deAtog you have invalid configuration for loader, it works since `webpack@3` (or maybe with `webpack@2` even)

And should not it is internal webpack resolve mechanism you should use `loader.resolve` https://github.com/webpack/webpack/blob/master/schemas/WebpackOptions.json#L1508 or https://webpack.js.org/configuration/resolve/

Feel free to create issue in `webpack`

[2018-12-20 16:17] deAtog commented on #653
@evilebottnawi the resolve option there is for an entire ruleset, and loaders specified in the use list do not have this option, hence the error. Regardless, the options passed to getResolve in loader.js override that option.

resolver.withOptions is defined as:
[code]

The mergedOptions created with Object.assign does not merge the contents of the arrays for the mainFields and extensions properti

[2018-12-20 16:33] evilebottnawi commented on #653
@deAtog `resolver.withOptions` should merge existing resolver options with passing from loader, looks it is bug in webpack, so create issue in webpack.

[2018-12-20 16:35] evilebottnawi commented on #653
@deAtog and works on next version of `sass-loader` is not ended and not fully tested, so I do not understand your concern and waste of time for work which is still in progress

[2018-12-20 17:19] deAtog commented on #653
@evilebottnawi I was not initially aware of the `resolve` option for rules in the Webpack.config as it is not well documented. However, I noticed that the trunk version of the sass-loader contained a commit with the message of: "fix: prefer 'scss', 'sass', and 'css' extensions in resolving (#645)" which mostly addressed the frustration I had with using import inside of a scss file. As I have just

[2018-12-20 17:25] evilebottnawi commented on #653
@deAtog

`resolver.withOptions` should respect `webpack.resolve` and `module.rules.resolve`, looks it is bug in `webpack`, now we rewrite all tests on `jest` and add new tests, it was catching on tests and will be fixed

[2018-12-20 17:32] evilebottnawi commented on #653
Let's reopen issue to ensure we add tests on this cases

[2018-12-20 21:06] michaelgmiller commented on #556
Super excited for the release!!

[2018-12-21 09:39] vertic4l commented on #556
how many hours left? :)

[2018-12-21 09:48] evilebottnawi commented on #556
@vertic4l sorry, a lot of work, also we find the bug in `webpack` in resolve logic, we need fix it before release new version

[2018-12-21 09:48] evilebottnawi commented on #556
Works in progress don't worry, it was released in near future

[2018-12-22 13:52] evilebottnawi commented on #556
@micahlmartin internal discussion, no issue in bug tracker

[2018-12-28 14:19] sushantmakin commented on #530
This works for me, but every time I run yarn install to fetch new packages, it again starts giving the same error and I have to rebuild node-sass again. I am using node-sass 4.10.0 and Angular 6.1.0.

[2018-12-28 21:38] yosdanybm commented on #530
Thanks this is works for me...

[2018-12-29 16:23] vaheedxp opened #654 "Module build failed undefined join"
` ERROR  Failed to compile with 2 errors                                                                                                                       8:49:23 PM

 error  in ./resources/sass/app.scss

Module build failed (from ./node_modules/css-loader/index.js):
ModuleBuildError: Module build failed (from ./node_modules/sass-loader/lib/loader.js):

undefined
       ^
      Join(null, "var

[2018-12-29 17:17] evilebottnawi commented on #654
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-12-29 17:17] #654 closed

[2019-01-04 14:00] evilebottnawi commented on #556
Will be released after holidays, sorry for delay, many work, less rest

[2019-01-07 23:06] jseegers commented on #556
Looking forward to this release, very happy to see!

[2019-01-08 00:21] tylercreller commented on #445
If anyone is still running into this...

I had to define my css-loader before my sass-loader.
`				{
					test: /\.s?css$/,
					use: [
						{
							loader: MiniCssExtractPlugin.loader,
							options: {
								// publicPath: '/dist/',
								sourceMap: true
							}
						},
						{
							loader: 'css-loader',
							options: {
								sourceMap: true
							}
						},
						{
							loader:

[2019-01-09 11:05] talentedandrew opened #655 "Not able to transpile SASS file"
* Operating System: MacOS Mojave
* Node Version: 10.13.0
* NPM Version: 6.4.1
* webpack Version: 4.28.3
* sass-loader Version: 7.1.0

### Expected Behavior

### Actual Behavior

### Code

[code]

[code]

[code]

[code]

### ISSUE
I'm creating a SSR react app, which is not able to compile SASS files. I'm not able to figure out what is the issue as when I build it, it works perfectly. But while runn

[2019-01-09 11:08] evilebottnawi commented on #655
@talentedandrew please create **minimum** reproducible test repo, but looks not related to `sass-loader`

[2019-01-09 11:18] talentedandrew commented on #655
@evilebottnawi [repo](https://github.com/talentedandrew/react-redux-pwa) , run `npm run start`

[2019-01-09 17:01] alphakennyn commented on #445
@tylercreller heroes don't wear cape. ty for sharing!

[2019-01-10 09:08] ovlb commented on #556
Good to know. And take care of yourself! :)

[2019-01-10 18:56] tmartin2089 commented on #445
For those wondering why, webpack loaders process from bottom to top.

[2019-01-11 22:21] Jandyk opened #656 "Solved!"

[2019-01-13 00:20] #656 closed

[2019-01-14 11:01] Jandyk commented on #656
Delete please this Issue.

[2019-01-14 21:39] alexpearce92 commented on #566
still have problems with this in `7.1.0`.
webpack.config
[code]
styles.scss
[code]

In browser:
[code]

[2019-01-21 20:55] mikesown commented on #556
Have the underlying issues in webpack been resolved, or are those still blockers?

[2019-01-26 22:25] jameygleason opened #658 "Source map options visibility"
Would it be prudent to add `outputStyle: 'compressed'` somewhere more visible in the docs? In my experience, without that setting source maps don't work as you would expect.

I think the reason is scss compiles

[code]

to

[code]

which throws off the line numbers.

This is a working config for example.

[code]

[2019-01-28 05:06] Ramyapriya24 commented on #530
@juanitaV try npm rebuild node-sass
Thanks a lot this is works for me also ...

[2019-01-30 01:05] xenobytezero opened #659 "Unable to use node-sass-import-once and tilde/node_modules references"
* Operating System: Win 10 1809
* Node Version: 10.15.0
* NPM Version: 6.4.1
* webpack Version: 4.29.0
* sass-loader Version: 7.1.0

### Expected Behavior

`sass-loader` should be able to use both tilde node_modules references and the `node-sass-import-once` at the same time

### Actual Behavior

When using the [`node-sass-import-once` ](https://github.com/at-import/node-sass-import-once) importer

[2019-01-30 08:21] evilebottnawi commented on #659
@xenobytezero `node-sass-import-once` can't work with `sass-loader` due limitation `node-sass-import-once`, also it is impossible due `resolve` aliases in some case. Won't fix it.

[2019-01-30 22:50] JohnnyClutch commented on #530
npm rebuild node-sass didnt' work for me.

`ERROR in ./src/scss/application.scss (./node_modules/css-loader!./node_modules/sass-loader/lib/loader.js!./src/scss/application.scss)
Module not found: Error: Can't resolve '../fonts/glyphicons-halflings-regular.eot' in '/Users/gbullock/projects/gadmin-ui/src/scss'
 @ ./src/scss/application.scss (./node_modules/css-loader!./node_modules/sass-loader/lib/l

[2019-01-30 23:49] jameygleason commented on #658
I encountered the same issue in another project and `outputStyle: 'compressed'` wasn't able to fix it. It's unclear what the root of the problem is, but in both cases, I was able to get it working.

The issue I'm seeing in my projects and on stack overflow is, the line numbers are incorrect and/or the source map not pointing to the correct `@import` file.

With the configuration above and import s

[2019-01-30 23:49] #658 closed

[2019-01-31 00:37] xenobytezero commented on #659
Thanks for the response.

I can't be the first person to have noticed this incompatibility, is there another way of doing this without the use of the importer?

Is there a specific area I could look at to start seeing if this could be patched in?

I did notice a project [`sass-loader-once`](https://github.com/zdzDesigner/sass-loader-once#readme) which looks like what I want, but doesn't seem to wo

[2019-01-31 09:56] evilebottnawi commented on #659
@xenobytezero It is impossible to fix, because it is way how webpack works and how it is should works in right way, why you need `sass-loader-once`?

[2019-01-31 12:54] html5ravi commented on #530
npm rebuild node-sass didnt' work for me too. i got error as below

`ERROR in ./src/styles/styles.scss (./node_modules/@angular-devkit/build-angular/src/angular-cli-files/plugins/raw-css-loader.js!./node_modules/postcss-loader/src??embedded!./node_modules/sass-loader/lib/loader.js??ref--14-3!./src/styles/styles.scss)
Module build failed (from ./node_modules/sass-loader/lib/loader.js):

@import '~@

[2019-01-31 18:34] saulwolfcode commented on #530
ERROR in ./src/scss/main.scss (./node_modules/mini-css-extract-plugin/dist/loader.js!./node_modules/css-loader/dist/cjs.js?minimize&sourceMap!./node_modules/postcss-loader/src??ref--6-3!./node_modules/sass-loader/lib/loader.js?outputStyle=compressed&sourceMap!./src/scss/main.scss)
Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):
ModuleBuildError: Module build faile

[2019-02-06 17:53] jayarjo commented on #659
~ doesn't work for me at all and looking at the [source](https://github.com/webpack-contrib/sass-loader/blob/master/lib/importsToResolve.js#L19) I do not get how it even can? It's late here - I might be overlooking something, but from what I see, [urlToRequest](https://github.com/webpack/loader-utils/blob/master/lib/urlToRequest.js#L18), will convert any non absolute url (including those with tild

[2019-02-06 17:58] evilebottnawi commented on #659
`sass-loader-once` doesn't compatibility with `sass-loader` due impossible do use right resolve algorithm, if you have perf problem with `node-sass`/`sass` better create issue in their repo

[2019-02-06 20:40] jayarjo commented on #659
It's not `sass-loader-once` related, it's kind of generic problem. I probably should not have posted it in this thread.

[2019-02-07 03:00] bugzpodder opened #660 "sourcemaps in style-loader config in documentation"
In the current documentation for sass-loader (https://github.com/webpack-contrib/sass-loader#source-maps), to turn on sourcemaps we don't need it on styled-loader:
[code]

However, this is different from the recommendations in postcss-loader:
https://github.com/postcss/postcss-loader#sourcemap
https://github.com/webpack-contrib/style-loader#options

It appears that it would work as recommended her

[2019-02-07 08:25] evilebottnawi commented on #660
You should use `sourceMap: true` for all loaders, if you want source maps for css, we need fix documentation, can you send a PR?

[2019-02-07 17:08] MScevola commented on #530
thanks

[2019-02-07 17:12] webdeveloperpr opened #662 "Passing options.data fn does not work."
Seems like the docs mention that you can pass a function to options.data but it doesn't work.

[2019-02-07 17:53] evilebottnawi commented on #662
@webdeveloperpr yep, it is not published right now, just wait

[2019-02-07 17:53] #662 closed

[2019-02-08 23:41] chrisalexander55 opened #663 "Invalid CSS after "v": Expected 1 Selector or at-rule, was "var path = require(""
* Operating System: OSX, 10.14.2
* Node Version: 10.15.0
* NPM Version:
* webpack Version:
* sass-loader Version:

### Expected Behavior

Compile SASS to CSS.

### Actual Behavior

[code]

### Code

build.common.config.js
[code]

build.config.js
[code]

### How Do We Reproduce?

My repo is private.

[2019-02-09 14:53] evilebottnawi commented on #663
Duplicate https://github.com/webpack-contrib/sass-loader/issues/556

[2019-02-09 14:53] #663 closed

[2019-02-11 15:27] maryjanyes opened #664 "Add node-sass package as deps or peer-deps"
* Operating System:
* Node Version:
* NPM Version:
* webpack Version:
* sass-loader Version:

### Feature Proposal
* add _node-sass_ module to peer-dependencies or etc for better start with.

### Feature Use Case
* please add node-sass because if i try using sass-loader forward i can see errror _node-sass_ not found will be better install it autommatically with deps.

[2019-02-11 15:37] evilebottnawi commented on #664
Here describe why we don't use `peer` deps https://github.com/webpack-contrib/sass-loader#install, you can isntall `sass` (`dart-sass`) as alternative and we can't have 2 peer deps

[2019-02-11 15:37] #664 closed

[2019-02-12 10:21] joterr opened #665 "Problem using sass-loader with latest bootstrap release"
* Operating System: macOS
* Node Version: 8.12.0
* NPM Version: 6.5.0
* webpack Version: 4.29.3
* sass-loader Version: 7.1.0
* boostrap Version: 4.3.0

### Expected Behavior

The following sass line should work:

`$input-height-inner-half:               calc(#{$input-line-height * .5em} + #{$input-padding-y}) !default;`

### Actual Behavior

sass-loader and bootstrap 4.3.0 do not work together:

`

[2019-02-12 10:48] evilebottnawi commented on #665
We don't change your code, looks you have invalid `scss`, if you think what you code is valid please report about problem in `node-sass`/`sass`

[2019-02-12 10:48] #665 closed

[2019-02-12 10:49] evilebottnawi commented on #665
Also please check redefined variable, bootstrap can change some variables

[2019-02-12 15:20] ezenwankwogabriel commented on #522
for me, the error was on the font face i added with extension .otf
so ill say, check for the extension giving the issue, and add it to the above.
worked for me

[2019-02-12 17:31] armw4 commented on #413
@micros123 that worked perfectly. much thanks!!!

[2019-02-13 18:35] aendrew commented on #556
I finally was able to fix this issue in my project by adding a `resolve` stanza to my `.scss` rule.

Example:

[code]

Key bit is:

[code]

[2019-02-13 18:35] aendrew commented on #556
I finally was able to fix this issue in my project by adding a `resolve` stanza to my `.scss` rule.

Example:

[code]

Key bit is:

[code]

[2019-02-14 07:40] aprilmintacpineda commented on #556
Thanks! it worked for me. I was able to upgrade from 6.0.7 to 7.1.0. Didn't know that option exists.

[2019-02-14 09:43] evilebottnawi commented on #556
@aendrew you can do this on `sass-loader` position:
[code]

[2019-02-14 11:01] aprilmintacpineda commented on #556
I tried this. It did't work. Same error.

I tried this. It didn't work with the following error:

[code]

I tried:

[code]

It solved the error above, but resulted to the same error.

[code]

I think, the key is this like `in ~/projects/project/node_modules/colors/lib/index.js (line 1, column 1)` It seems to have fetched the wrong file.

Given the following config:

[code]

I was doing:

[code]

W

[2019-02-14 11:05] evilebottnawi commented on #556
@larpo hm, should be work, i will investigate, thanks for information

[2019-02-15 15:51] aendrew commented on #556
@aprilmintacpineda Have you updated Webpack lately? This leverages a new core Webpack feature that dropped in December. Make sure to update Webpack if you haven't!!!

[2019-02-16 01:25] aprilmintacpineda commented on #556
@aendrew all my dependencies are up to date. That's why I want to fix this too, because as of the moment sass-loader is the only one that's out of date.

[2019-02-16 18:33] rajuahmmed commented on #556
Is it updated to npm?

[2019-02-16 19:35] rajuahmmed commented on #556
@aprilmintacpineda I was facing same issue. I was importing `_colors.scss` with `@import 'colors';`

Like this
[code]

But when I changed `_colors.scss` to `_color.scss` and
[code]

So main issue was with `includePaths`. `includePaths` not working properly. It was importing colors node module into it.

[2019-02-17 03:58] aprilmintacpineda commented on #556
Yes, that's exactly what I have pointed out. It's importing stuff from node_modules instead of from what was defined in `includePaths`. I think sass-loader would have problem with this. They wouldn't know where to look first, since I'm sure some others are actually importing sass files from `node_modules`, the question is, how do they know where to find the file without accidentally importing the

[2019-02-18 11:02] aprilmintacpineda commented on #556
Weird, upon changing the name name from `colors.scss` to `theme-colors.scss`and changing imports from `@import 'colors'` to `@import 'theme-colors'`. It worked as expected, the weird part now is that it's treating SCSS files as if they are JS files.

[code]

Upon checking the file, it looks like this:

[code]

Here's my config related to `.scss` files. I tried changing but nothing I did cause any

[2019-02-18 11:12] evilebottnawi commented on #556
Please don't spam here, known issue, in todo list after update `copy-webpack-plugin` (should be done today)

[2019-02-18 17:50] kyle-ssg commented on #460
Hey all, I managed to get this to work finally via the following workaround
node_modules/sass-loader/lib/loader.js
[code]

[2019-02-18 17:51] evilebottnawi commented on #460
@kyle-ssg invalid solution, you break source map in many cases

[2019-02-18 17:52] kyle-ssg commented on #460
Right now it's broken anyway, in all cases, unless I'm missing something?

[2019-02-18 17:57] evilebottnawi commented on #460
@kyle-ssg what is broken?

[2019-02-18 18:00] kyle-ssg commented on #460
@evilebottnawi gotcha, I'll open a new issue and reference this here.

[2019-02-18 18:08] kyle-ssg opened #666 "Broken sourcemap path"
* Operating System: OSX High Sierra
* Node Version: 10.x
* NPM Version: v9.8.0
* webpack Version: 6.4.1
* sass-loader Version: 7.1.0

### Expected Behavior
Given a file located at /Users/kyle/project/web/styles/components/_stat-card.scss I would expect the sourcemap path to be maintained.

### Actual Behavior
Sourcemap outputs a path of /Users/kyle/project/web/styles/web/styles/components/_stat-ca

[2019-02-18 18:10] kyle-ssg commented on #666
Seems similar to https://github.com/webpack-contrib/sass-loader/issues/460

[2019-02-18 18:12] evilebottnawi commented on #666
@kyle-ssg don't use `gist` for reproducible test repo, please create repo with source code, because in some places `node-sass` have bugs with source maps and it is hard to reproduce

[2019-02-18 18:12] evilebottnawi commented on #666
And describe what you expected and what you actually have

[2019-02-18 18:26] kyle-ssg commented on #666
@evilebottnawi Sure. Created a minimal repo that replicates the issue.

[2019-02-20 13:29] Alex-Ferreli opened #667 "Scss from node_modules didn't go in vendor chunk"
* Operating System: Ubuntu 18.04
* Node Version: 11.8.0
* NPM Version: 6.5.0
* webpack Version: 4.29.5
* sass-loader Version: 7.1.0

### Expected Behavior
Webpack should place .scss imported files (bootstrap .scss for example) inside vendor.css chunk.

### Actual Behavior

### Code

If import is done in js, like this:
[code]
Resulting css generated by sass go in vendor chunk.

But if i import othe

[2019-02-20 13:31] evilebottnawi commented on #667
@Alex-Ferreli not sure it is related to `scss-loader`, we just generate `scss` -> `css`, splitting chunks is part of webpack, can you create minimum reproducible test repo?

[2019-02-20 13:59] Alex-Ferreli commented on #667
This is the repo to reproduce the bug. Just comment/decomment the lines in src/index.js file.
https://github.com/Alex-Ferreli/sass-import-vendor-chunk-issue

Thanks!

[2019-02-20 14:01] evilebottnawi commented on #667
@Alex-Ferreli i will see in near future

[2019-02-21 09:12] mjankucic-itk commented on #556
Workaround for Angular7+ (unable to revert sass-loader version) & Foundation6+ combination:
Do not import util/util from foundation in your .scss files but separated packages combination (breakpoint, color, direction...) or trick it with **./**util/util. Also foundation.scss and settings.scss imports util inside them and so this files should be avoided or patched locally until sass-loader fix.

[2019-02-22 05:06] sridhar-v9 commented on #556
Team,

 When i tried to install the following npm sass fix

   npm install git://github.com/webpack-contrib/sass-loader.git#fix-resolve-conflict --save-dev

getting the following error
   npm ERR! error: pathspec 'fix-resolve-conflict' did not match any file(s) known to git.

Please provide any comments/suggestions

Thanks

[2019-02-22 10:51] arcanis opened #668 "node-sass peer dependency"
### Expected Behavior / Situation

The `sass-loader` package requires `node-sass`, and as such `node-sass` should be a dependency (or a peer dependency).

### Actual Behavior / Situation

The `sass-loader` package doesn't list `node-sass` at all.

### Modification Proposal

The peer dependency should be listed. I've seen that removing it was a conscious choice in #532, hence why I'm opening this i

[2019-02-22 10:54] evilebottnawi commented on #668
Already discussed, no, we can't add `node-sass` to peer deps, because you can use `sass` (`dart-sass`) package, please use search before post issue. Information https://github.com/webpack-contrib/sass-loader#install

[2019-02-22 10:57] arcanis commented on #668
As mentioned the situation is different because optional peer dependencies are a thing now. You could potentially list both `node-sass` and `dart-sass` as peer dependency (the package manager wouldn't warn if they are missing, only if it exists and the range doesn't match).

[2019-02-22 10:58] evilebottnawi commented on #668
@arcanis it is bad solution, we will get many issue about this warning

[2019-02-22 10:58] arcanis commented on #668
It would look like this:

[code]

[2019-02-22 10:58] evilebottnawi commented on #668
@arcanis can you give link on `peerDependenciesMeta` documentation?

[2019-02-22 10:58] evilebottnawi commented on #668
We can't add something in `peerDependencies`

[2019-02-22 11:00] evilebottnawi commented on #668
Also we can't break `npm` (even if they develop slowly), we should prefer stable/lts solution rather new feature

[2019-02-22 11:07] evilebottnawi commented on #668
We can't use `peerDependenciesMeta` field, it is requires to use `peerDependencies`, we need to search solution where we don't add anything in `peerDependencies`

[2019-02-22 11:10] arcanis commented on #668
At the moment the best documentation is [the merged RFC](https://github.com/yarnpkg/rfcs/blob/master/accepted/0000-optional-peer-dependencies.md). It's fairly complete so I didn't put up a duplicate page on the website yet.

They wouldn't break, they would start to get a warning. The reason I'm not seeing adding something to `peerDependencies`  as a blocker are:

- If you see it as a breaking chan

[2019-02-23 08:46] wasif12 commented on #360
vdfggfdsgdfgs

[2019-02-24 20:34] vladyn commented on #344
@thismax  - thanks a lot - it solved my same issue!

[2019-02-25 15:50] evilebottnawi commented on #667
@Alex-Ferreli please provide you webpack config

[2019-02-25 16:12] Alex-Ferreli commented on #667
@evilebottnawi Just eject the project, the issue persist

[2019-02-25 16:18] evilebottnawi commented on #667
@Alex-Ferreli without `~` generated css always in `app` chunk? With `~` in `vendor`, right? Splitting chunks  applied only in `prod` mode so some modules can be moved from `app` in `vendor` chunk in `prod` mode

[2019-02-25 16:21] evilebottnawi commented on #666
@kyle-ssg what is command you use when you have invalid source map? I see you use `Extract Text Webpack Plugin`, he is outdated, you need use `mini-css-webpack-plugin` for extract css.

[2019-02-25 16:42] Alex-Ferreli commented on #667
@evilebottnawi when i do import in `.scss` file the code always go in `app` chunk. Maybe webpack place the content of generated css in `app` chunk because i'm importing main scss file from `src`? And webpack didn't recognise `scss @import` path.

[2019-02-25 16:59] evilebottnawi commented on #667
@Alex-Ferreli in `prod` env code always moved to `vendor` chunk, right? Because it is expected behaviour

[2019-02-25 17:24] Alex-Ferreli commented on #667
@evilebottnawi when i do a build, NODE_ENV is set to `production`, right? There is another variable to set?

[2019-02-26 09:59] evilebottnawi commented on #667
@Alex-Ferreli you should set `mode: production`, but in many boilerplate is it same as `NODE_ENV`

[2019-02-27 13:30] felixfbecker commented on #667
I would like to make sure that if I have two JS files that both import Sass files, where these Sass files both `@import` e.g. Bootstrap, that Bootstrap is not included twice in the bundle but code-split into a common chunk. It seems sass-loader doesn't allow webpack to do this

[2019-03-01 08:32] befika commented on #540
here is mi ionic info
Ionic:

   ionic (Ionic CLI)             : 4.10.3 (C:\Users\befika\AppData\Roaming\npm\node_modules\ionic)
   Ionic Framework               : @ionic/angular 4.0.2
   @angular-devkit/build-angular : 0.12.4
   @angular-devkit/schematics    : 7.2.4
   @angular/cli                  : 7.3.2
   @ionic/angular-toolkit        : 1.4.0

Cordova:

   cordova (Cordova CLI) : 8.1.2 (cordo

[2019-03-02 16:23] kyle-ssg commented on #666
[code]
The sourcemap if you hover over the path in chrome points to /web/web

[2019-03-04 09:21] yosraa commented on #530
work  for me

[2019-03-04 09:22] evilebottnawi commented on #666
@kyle-ssg do you test this on linux?

[2019-03-04 09:24] kyle-ssg commented on #666
Nope, osx. The source map does show the scss but the path is wrong, so you can’t edit and save file from chrome.

[2019-03-04 09:24] evilebottnawi commented on #667
@felixfbecker `splitChunks` not related to `sass-loader`, better ask this question/problem in `webpack` repo, we just compile `sass`/`scss` to `css`, we don't do more. Closing. Feel free to create issue in `webpack` or you can use `stackoverflow`/`gitter` for helping

[2019-03-04 09:24] #667 closed

[2019-03-04 09:27] felixfbecker commented on #667
Wouldn't splitChunks require sass-loader to expose the module tree to webpack? My understanding is that currently it just exposes the entire bundle to webpack, with all `@import`s already resolved.

[2019-03-04 09:29] evilebottnawi commented on #667
@felixfbecker module do `css-loader`, `sass-loader` just compile `sass`/`scss` to css, all `@import`s (for `sass`/`scss`) already resolved after `sass-loader`

[2019-03-04 09:32] evilebottnawi commented on #666
@kyle-ssg can't reproduce on `osx`, what do you mean "path is wrong"? Anyway i will look this problem in near future, feel free to investigate and send a PR

[2019-03-04 09:34] felixfbecker commented on #667
Yes, that's my point. It doesn't seem possible to solve from webpack's side because sass-loader already resolves all imports.

[2019-03-04 10:23] Alex-Ferreli commented on #667
So `sass-loader` place generated `css` as the imported file from JS right? Maybe `sass-loader` should use imported `scss` from `node_modules` to generate local `css` code without put the code from `node_modules`, and tell to `webpack` those files imported in `scss` files.

[2019-03-04 10:54] kyle-ssg commented on #666
Ok, I’ll also try it on a different machine / send a replication video

On Mon, 4 Mar 2019 at 09:32, Evilebot Tnawi <notifications@github.com>
wrote:

--

Kyle Johnson

Head of Mobile Development

Solid thinking. State of the art.

Sign up <https://www.getrevue.co/profile/solidstategroup/> for our monthly
take on tech and business

[2019-03-04 11:17] evilebottnawi commented on #667
@Alex-Ferreli

No, it is do `css` loader. `sass-loader` (compile `sass`/`scss` as `css`) -> `css-loader` (compile css to js file)

[2019-03-05 15:19] evilebottnawi commented on #666
Reproduce bug, similar problem https://github.com/webpack-contrib/css-loader/issues/652, investigate who is broken

[2019-03-05 15:29] evilebottnawi commented on #666
Yep, duplicate https://github.com/webpack-contrib/css-loader/issues/652, `sass-loader` output right source map

[2019-03-05 15:29] #666 closed

[2019-03-12 07:47] znck opened #669 "Few features are unreleased (including data as a funciton)"
There are many [changes since last release](https://github.com/webpack-contrib/sass-loader/compare/v7.1.0...master), are planning to publish a new release?

[2019-03-12 08:50] bugzpodder commented on #669
https://github.com/facebook/create-react-app is planning a 3.0 alpha release (https://github.com/facebook/create-react-app/issues/6475), it would be great to include a new version of sass-loader in it!

[2019-03-12 09:29] evilebottnawi commented on #669
It is in my todo list, sorry doesn't have time on finish new major right now, also we have some little bug in `doResolve` and we need fix it before release

[2019-03-13 09:35] pierresis commented on #530
Thanks, it works for me too :)
Don't forget to relaunch your app (npm start again)

[2019-03-14 18:28] WolfspiritM opened #671 "Sourcemap entry path is 'stdin' with dart-sass"
* Operating System: Windows 10
* Node Version: 10.9.0
* NPM Version: 6.2.0
* webpack Version: 4.29.5
* sass-loader Version: 7.1.0

### Expected Behavior
Sourcemap entrypoint is a path to a file.

### Actual Behavior
Sourcemap entrypoint (one of the sources) is "stdin" and that causes loaders in the chain that rely on sourcemaps (resolve-url-loader) to fail.

### Code

[code]

The reason for this i

[2019-03-14 18:34] evilebottnawi commented on #671
@WolfspiritM yep, but, PR welcome

[2019-03-18 13:30] #660 closed

[2019-03-20 00:51] benmerchant commented on #69
@toJanhonen I tried that fix (commenting out the include property, and now it works perfectly again.

Quick snippet
`use: [MiniCssExtractPlugin.loader,'css-loader','sass-loader']`
"webpack": "^4.29.6",
"mini-css-extract-plugin": "^0.5.0",
"css-loader": "^2.1.1",
"sass-loader": "^7.1.0",
"node-sass": "^4.11.0"

[2019-03-26 07:03] isum opened #672 "does not resolve the implementation from devDependencies"
* Operating System: Linux
* Node Version: v11.11.0
* NPM Version: 6.9.0
* webpack Version: 4.29.6
* sass-loader Version: 7.1.0

### Expected Behavior

As said in documentation:

### Actual Behavior

But it does not resolve, unless `implementation: require('sass')` option specified manually.

Console error:
[code]

### Code

[code]
### How Do We Reproduce?

[code]

[2019-03-26 08:55] evilebottnawi commented on #672
Yep, auto resolving `sass` (`dart`) is not published yet (it is only in master), anyway we done this in near future (many other issues right now)

[2019-03-26 08:55] #672 closed

[2019-03-26 08:56] evilebottnawi commented on #672
You need use `implementation` option for this right now

[2019-03-26 15:33] evilebottnawi commented on #659
Sorry won't fix due design

[2019-03-26 15:33] #659 closed

[2019-03-26 15:34] evilebottnawi commented on #659
Anyway if somebody has idea how we can solve this feel free to feedback or send a PR

[2019-03-26 15:37] evilebottnawi commented on #668
/cc @arcanis so `sass-loader` works as expected with pnp (if you add `node-sass`/`sass` in your dev deps), right?

[2019-03-27 02:49] firezdog opened #674 "link for sass loader goes to wrong page"
https://webpack.js.org/loaders/sass-loader: this is actually a page on the React proxy loader.  I have to follow the link to the github repo to find documentation on the sass loader.

(Note -- to reproduce to the issue, you actually need to click on "sass-loader" in the navigation -- the above link goes to the correct page.  I'm not sure what is going on.  Can't consistently reproduce it -- but I

[2019-03-27 09:01] evilebottnawi commented on #674
@firezdog where link is wrong, can you add link to page?

[2019-03-28 01:39] Hideer commented on #598
I have the same problem, when i use
[code]
error : `Module parse failed: Unexpected character '@' (1:0)
You may need an appropriate loader to handle this file type.` and i use `@keyframes`
but i Change the way
[code]
not error ...

[2019-03-31 19:14] #674 closed

[2019-03-31 23:41] xenobytezero commented on #659
Apologies for the late reponse, other projects have been taking my time.

So if this is not a thing that is supported by Webpack, I'm going to assume my approach is incorrect generally.

I'm building a Wordpress Theme and am essentially building multiple blocks of individual functionality, all of which use the same base vars/mixins/etc. This means I want to be able to include the same file at the

[2019-04-05 06:07] devtas commented on #49
This guy no longer supports this lib. Sad.

[2019-04-05 07:25] isum opened #675 "does not import css for modules"
* Operating System: linux
* Node Version: v11.12.0
* NPM Version: 6.9.0
* webpack Version: 4.29.6
* sass-loader Version: 7.1.0

### Expected Behavior

When importing sass file like: `import scssDict from './index.scss';`
with `{loader: 'css-loader', options: {modules: true`
The variable scssDict should contain dictionary with all class names, including files that are imported within.

### Actual B

[2019-04-05 11:20] evilebottnawi commented on #675
@isum i can't understand what you expected

[2019-04-05 11:27] isum commented on #675
The dictionary not contains classes from `@import "index.css"`, but they should be there.

[2019-04-05 11:30] evilebottnawi commented on #675
Problem in you configuration:

Invalid:
[code]

Please read section how to use loader. Also css-loader should have `importLoaders: 2,`

[2019-04-05 11:30] #675 closed

[2019-04-05 11:31] evilebottnawi commented on #675
Simple example:
[code]

[2019-04-05 11:40] isum commented on #675
I have read the docs, and have tried `importLoaders: 2,` and `importLoaders: 1,`
With the same result, the css file @import-ed inside scss, is not included in the dictionary, check my example please.

[2019-04-05 11:53] evilebottnawi commented on #675
Don't use same `test` multiple times, i provide example above, you can use gitter or stackoverflow

[2019-04-05 12:14] isum commented on #675
I thought using test multiple times is a webpack feature? In fact that is how I separate sass from css, so sass loader will parse only sass files, no css files.
But anyhow, I did move all the rules under the same test, and I got the same result (as expected)
please see repo
[bug-repo.tar.gz](https://github.com/webpack-contrib/sass-loader/files/3047802/bug-repo.tar.gz)

[2019-04-05 12:45] evilebottnawi commented on #675
I can't understand what you expected?

[2019-04-05 14:03] isum commented on #675
I expect the value of:
[code]
to be:
[code]

[2019-04-05 14:24] evilebottnawi commented on #675
Don't mix `css` with `scss` it is bad idea.

Why it is happens:
`sass-loader` output:
[code]
So `css-loader` think what `@import` is new module and doesn't include export of this module. Not sure it is possible fix. Problem not related to `sass-loader`, can you open new issue with example aboive in css-loader. I investigate possibility this feature.

[2019-04-06 05:52] isum commented on #675
Thank you for your time!
I have created new issue https://github.com/webpack-contrib/css-loader/issues/916

[2019-04-08 14:09] body-builder opened #676 "Webpack importer should return null if could not resolve the request"
* Operating System: Mac OS 10.14.4
* Node Version: 11.10.0
* NPM Version: 6.7.0
* webpack Version: 4.29.6
* sass-loader Version: 7.1.0

### Expected Behavior / Situation
Node-sass [documentation](https://github.com/sass/node-sass#functions--v300---experimental) says that

### Actual Behavior / Situation
`sass-loader` returns the original URL: `{ file: url }` (https://github.com/webpack-contrib/sas

[2019-04-08 14:11] evilebottnawi commented on #676
@body-builder it is expected for compatibility with other loaders. What you problem have?

[2019-04-08 14:38] body-builder commented on #676
@evilebottnawi I am using `sass-loader`'s webpackImporter.js _outside_ of sass-loader, to resolve some Sass imports with the same resolution algorightm. I wanted to know for 100% if the importer could resolve the request or not, and it just came well, that node-sass has this type error handling. But mine is not the recommended usage, so if avoiding returning`null` is neccessary, as you wrote, then

[2019-04-08 14:46] evilebottnawi commented on #676
Importer for webpack only for webpack and it is out of scope support other tools. You can create own impoter based on our logic. Thanks

[2019-04-08 14:46] #676 closed

[2019-04-13 07:15] sampathkumarm commented on #556
Hi,

Is there any fix for this yet. Below is my webpack config but i still get issues.

package.json
![image](https://user-images.githubusercontent.com/6489309/56076082-43baf100-5d81-11e9-8295-53ec957e977d.png)

Webpack config:
![image](https://user-images.githubusercontent.com/6489309/56076042-d4dd9800-5d80-11e9-916f-45284e4788f5.png)

Importing motion-ui in my .scss file
![image](https://user-im

[2019-04-19 02:54] FlyDreame commented on #669
When will the new version be released? I hate node-sass !!!!

[2019-04-19 22:15] apexskier commented on #556
Same issue here with an internal module we use. We publish a package with the files `_vars.scss` and `vars.ts`. I import in sass with the syntax `@import "vars"` which resolves to `vars.ts` in v7 (since resolution now goes through webpack's resolve?).

I'm able to work around for now by changing to `@import "_vars"` explicitly, which webpack doesn't find.

[2019-04-23 09:30] bencergazda commented on #556
@apexskier @sampathkumarm Doesn't @aendrew's and @evilebottnawi's solution work for you? https://github.com/webpack-contrib/sass-loader/issues/556#issuecomment-463314416

[2019-04-23 16:12] apexskier commented on #556
@bencergazda Yes, it does, and that's what I've ended up using actually (after I commented).

[2019-04-23 17:36] bpina opened #677 "Sass components that reference other node packages are slow to compile"
* Operating System: MacOS 10.14
* Node Version: 10.15.0
* NPM Version: 6.4.1
* webpack Version: 4.21.0
* sass-loader Version: 7.0.1

### Expected Behavior / Situation
Stop searching for import files early if the import path contains a directory that doesn't exist.

### Actual Behavior / Situation
Checking files to import using webpackLoader is slow when sass files reference files in other node pac

[2019-04-23 17:45] evilebottnawi commented on #677
Please provide minimum reproducible test repo

[2019-04-23 21:02] bpina commented on #677
See: https://github.com/bpina/sass-loader-test

Before the changes to webpackImporter are applied:

[code]
After the changes to webpackImporter are applied:
[code]

This is more obvious in larger projects, where I reduced total webpack (js+sass) compile times from ~30seconds to ~10seconds.

[2019-04-25 01:11] sampathkumarm commented on #556
Sorry for the delayed response, I am going to test it and comment back.

[2019-04-25 06:19] Anandgarg opened #678 "issue in sass loader Module build failed (from ./node_modules/sass-loader/lib/loader.js): @return mix(white, $color, $percentage); ^ Argument `$color-2` of `mix($color-1, $color-2, $weight: 50%)` must be a color in /home/emilence/Desktop/angular/adminproject/node_modules/@nebular/theme/styles/core/_functions.scss (line 9, column 11)"
* Operating System:
* Node Version:
* NPM Version:
* webpack Version:
* sass-loader Version:

### Expected Behavior

### Actual Behavior

### Code

[code]

[code]

### How Do We Reproduce?

[2019-04-25 09:55] evilebottnawi commented on #678
Fix sass/scss problem

[2019-04-25 09:55] #678 closed

[2019-04-30 00:19] bpina commented on #677
I've opened a pull request for this here: https://github.com/webpack-contrib/sass-loader/pull/679

[2019-05-03 16:13] rj33 commented on #556
@evilebottnawi 's fix of adding:
 resolve: {
       extensions: ['.scss', '.sass'],
    },
Did not work for me. As long as I had node_modules in my toplevel webpack  resolve list, it continued to resolve @import "base";  to
node_modules/base/index.js
Changing it to @import "_base";
was the only workaround I could find for this (basically making sure the imported name isn't the same as any node mod

[2019-05-05 03:04] yangxuanxing commented on #668
In our project, we flatten all dependencies to the top node_modules folder.
as ```node-sass``` is not in the dependencies, when excute, it cannot resolve the module

![image](https://user-images.githubusercontent.com/3397523/57187699-97a29b00-6f25-11e9-8794-0e5b005226ae.png)

[2019-05-06 19:23] dallashuggins opened #680 "The direction argument passed to linear-gradient throws error"
* Operating System: macOS High Sierra
* Node Version: v10.15.3
* NPM Version: 6.4.1
* webpack Version: ^4.29.6
* sass-loader Version: ^7.1.0

### Expected Behavior

It should accept a `linear-gradient` that accepts a direction as the first argument with values such as `to right`, `to bottom right`, etc.

### Actual Behavior

An invalid css error occurs whenever it tries to compile.

### Code

Line

[2019-05-07 04:48] FractalBoy commented on #671
i went ahead and fixed this since i've been fighting with this issue for hours...

[2019-05-07 09:55] evilebottnawi commented on #680
You have invalid SCSS, we don't modify you scss files, we just wrapper around `node-sass`/`sass` (`dart-sass`), please read error message

[2019-05-07 09:55] #680 closed

[2019-05-07 13:32] dallas-huggins-RocketInsights commented on #680
@evilebottnawi I don't understand what the error message is supposed to be telling me. It says expected a selector or an at-rule, which makes no sense to me - I am applying the `background-image` style to a selector (`.secondary-default`). Below is a larger snippet of the sass. Could you please provide more information on what that means?

[code]

[2019-05-07 13:35] dallashuggins commented on #680
@evilebottnawi I don't understand what the error message is supposed to be telling me. It says expected a selector or an at-rule, which makes no sense to me - I am applying the `background-image` style to a selector (`.secondary-default`). Below is a larger snippet of the sass. Could you please provide more information on what that means?

[code]

[2019-05-07 17:55] #671 closed

[2019-05-08 06:44] richardkeller411 commented on #556
Not spamming ( or trying not to ). I get same error with this SCSS...

@import "theme/variables";
$theme-default: #96cb57;
@import "theme/style";
@import "theme/menu";
@import "theme/responsive";

$theme-default:-dark: darken($theme-default:, 5%) !default;  - Error Here  ( Invalid CSS after "...e-default:-dark": expected 1 selector or at-rule, was ": darken($theme-def")

My Webpack

  webpackConfi

[2019-05-09 11:01] opr commented on #556
Also experiencing this

webpack config here: https://gist.github.com/opr/adae0b0a062bfa2769be38e13ebeffd0

my files live in `project_root/assets/styles/scss/style.scss` and I also have the following directories: `project_root/assets/styles/scss/helpers` and `project_root/assets/styles/scss/components` - in my style.scss I do `@import helpers/*` however this starts trying to import files from `proj

[2019-05-10 16:42] dallashuggins commented on #680
Can you please help in explaining what is invalid @evilebottnawi?

[2019-05-14 11:17] evilebottnawi commented on #653
Fixed in `next` https://github.com/webpack/webpack/pull/9126

[2019-05-16 23:39] roclet commented on #530
npm rebuild node-sass

Worked for me Thank you a lot my bro

[2019-05-17 00:14] OliveIT commented on #530
I had to remove `node_modules` folder and run `npm install`.
Cheers!

[2019-05-17 23:48] george-norris-salesforce opened #683 "not finding sass in node_modules"
* Operating System: OS X
* Node Version: 10
* NPM Version: 6.4.1
* webpack Version: 4.29.6
* sass-loader Version: 7.1.0

### Expected Behavior

sass-loader finds sass in node_modules

### Actual Behavior

sass-loader not finding sass in node_modules

### Code

[code]

and including `@import '~bootstrap-sass/assets/stylesheets/bootstrap';`

produces..

[code]

Also tried removing the `~` and using

[2019-05-19 20:31] brantac commented on #630
Thank you, @evilebottnawi ! In webpack, my test was only matching with `.sass` and .`css` files (I was careless writing the test), but not the `.scss`, which is the language that I'm actually using.

[2019-05-20 23:06] esr360 commented on #111
How can we tell webpack to re-compile Sass when we make changes to JSON when using a custom importer?

[2019-05-22 11:55] christophehenry commented on #683
Somehow same behaviour here, also using Bootstrap (4). Except this time, `bootstrap.scss` is correctly found but its imports are not:

[code]

It looks like relative imports from a file present in `node_modules` are reloved relatively to the project and not to the folder countaining the sourced file from `node_modules`.

I'm using a fairly standard `vue-cli` configuration (not a pure Webpack one).

[2019-05-22 22:36] JulianoGTZ commented on #598
great community. wtf

[2019-05-23 10:12] evilebottnawi commented on #683
sass-loade can't find `./functions` something wrong with your configuratin, please create minimum reproducible test repo and I'll show you what's wrong

[2019-05-23 10:12] #683 closed

[2019-05-23 10:15] evilebottnawi commented on #683
Resolving relative path in node_modules works fine, something wrong in your setup as i said before

[2019-05-24 00:40] syntacticsolutions commented on #13
Yes

[2019-05-24 00:41] syntacticsolutions opened #684 "dart-sass doesn't resolve includePaths in sass-loader configuration."
* Operating System: OSX
* Node Version: 12.3.0
* NPM Version: 6.9.0
* webpack Version: 4.x
* sass-loader Version: 7.1.0

### Expected Behavior

The path should be resolved because it is configured to in the includePaths array.

### Actual Behavior

[code]
### How Do We Reproduce?

`$ git clone https://github.com/syntacticsolutions/sass-test.git`

`$ cd sass-test`

`$ npm i`

`$ npm run test:unit`

[2019-05-24 01:13] syntacticsolutions commented on #684
Here is a link to a basic project that is experiencing the issue.

https://github.com/syntacticsolutions/sass-test

[2019-05-24 10:27] evilebottnawi commented on #684
@syntacticsolutions please format issue as template otherwise it was closed, thanks

[2019-05-24 12:42] christophehenry commented on #683
[Here it is](https://github.com/christophehenry/mrt). Just run:

[code]
You will see full stacktrace:

[code]

As I said: this is a fairly standard `vue-cli` project. All I did is create it, install BS4 and source it in the code. Not further modifications.

Please reopen this issue. The problem is reproductible.

[2019-05-24 12:47] evilebottnawi commented on #683
Not sure it is related to loader, look on error - `ERROR  mocha-webpack`, something wrong with setup, please open issue in vue, i can't reproduce problem with pure sass-loader setup

[2019-05-24 12:53] christophehenry commented on #683
Alright. Thank you.

[2019-05-24 14:19] HermannBjorgvin opened #685 "sass-loader has unmet peer dependency webpack"
I am getting a warning when I run `yarn install` on my project.

`sass-loader@7.1.0" has unmet peer dependency "webpack@^3.0.0 || ^4.0.0"`

I am using @vue/cli-service which has webpack as a dependency, so my application works as expected but sass-loader raises this warning. This feels like it could be improved by removing webpack as a peer dependency.

Does anyone have any thoughts about this?

[2019-05-24 14:20] evilebottnawi commented on #685
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

You need install webpack please

[2019-05-24 14:20] #685 closed

[2019-05-24 14:33] HermannBjorgvin opened #686 "Unexpected warning during installation with vue-cli"
* Operating System: Ubuntu 18.04
* Node Version: v10.15.3
* Yarn Version: 1.16.0
* webpack Version: webpack@>=4 < 4.29
* sass-loader Version: ^7.1.0

### Expected Behavior

No warnings on installation

### Actual Behavior

`sass-loader@7.1.0" has unmet peer dependency "webpack@^3.0.0 || ^4.0.0"`

### Code

`yarn install`

### How Do We Reproduce?

`vue create reproduce-bug`

the @vue/cli tool hide

[2019-05-24 14:37] HermannBjorgvin commented on #685
Opened a new issue under https://github.com/webpack-contrib/sass-loader/issues/686

[2019-05-24 14:38] evilebottnawi commented on #686
Please open issue in vue cli, you need install webpack to use this loader

You need install webpack please read how peer dep working https://nodejs.org/es/blog/npm/peer-dependencies/

[2019-05-24 14:38] #686 closed

[2019-05-24 15:13] HermannBjorgvin commented on #686
@evilebottnawi thanks for responding.

I don't need to install webpack. My application abstracts webpack via vue-cli. If I install webpack I get a million dedupe warnings.

For some reason raw-loader does not raise this same warning with peer dependencies even though it also has webpack as a peer dependency. Do you have any clue as to why?

Also sorry for ignoring you, you responded so fast and so

[2019-05-24 15:18] evilebottnawi commented on #686
@HermannBjorgvin i don't know why you don't get warning about raw-loader(maybe old version or something other).

You should install webpack in your app.

If you app also layout for other app you should add `peerDeps` to app too.

It is require to right deps tree, because if some package have webpack in deps you can get invalid webpack version.

[2019-05-24 15:25] HermannBjorgvin commented on #686
@evilebottnawi yes it was an older version. I tried the latest and it gives me this same warning.

I also tried adding webpack to my peer dependencies but this causes a lot of errors relating to the version that vue uses.

If I can use the package without webpack installed is it truly a peer dependency? If someone made a webpack competitor that was compatible and could use webpack loaders then it

[2019-05-24 15:40] evilebottnawi commented on #686
I think better ask vue command about this, because it is normal practice for libraries and packages

[2019-05-24 17:23] HermannBjorgvin commented on #686
@evilebottnawi fair enough. If it's the current best practice then I'll see about raising the issue in a more general manner.

[2019-05-25 16:16] syntacticsolutions commented on #684
I didn't see any template?

[2019-05-26 19:28] josephecombs commented on #556
I was experiencing this exact error importing a .css file with sass-loader 7.1.0.

This is obviously a hacky solution, but **I changed the file extension to .scss** and things started working again.

[2019-05-27 10:24] evilebottnawi commented on #684
@syntacticsolutions so we can close issue?

[2019-05-29 15:31] syntacticsolutions commented on #684
no

[2019-05-30 08:20] thasmo commented on #684
@evilebottnawi, I guess @syntacticsolutions fixed the issue format, not the problem.

[2019-05-31 10:40] SergiuMaja commented on #530
I experienced the same issue as @dongdongmao after upgrading to Angular 8 and it seems the node-sass dependency was coming from some other package (it wasn't added in package.json).
Just installing node-sass on it's own fixed the issue -> npm install node-sass

[2019-06-03 17:36] betorobson opened #689 "Sourcemap wrong lines"
It looks like that sass-loader is generating a sourcemap which point out wrong lines.

I am not sure if it is a bug or a bad rule configuration however, after a long few days looking for a answer I was not able to find and solution.

Here a example of what is wrong, it is possible to see on first screenshot my css on `line 12` is point out by the source map at `line 6`.

![Screenshot from 2019-06-

[2019-06-03 17:39] evilebottnawi commented on #689
We don't modify source maps, looks like bug in node-sass, please open issue in their repo

[2019-06-03 17:39] #689 closed

[2019-06-03 21:22] betorobson commented on #689
@evilebottnawi I generated the CSS by node-sass command line and it works perfect.
It looks like something on webpack.

[2019-06-03 21:55] betorobson commented on #689
@evilebottnawi I found the solutions and this can help others.
I just added the `outputStyle: 'compressed'  in sass-loader, so my config is like that:
[code]

* Please, could you share this at the documentation?
I am sure that there are many other developers facing the same issue.

[2019-06-04 09:06] evilebottnawi commented on #689
PR welcome, it is problem on node-sass, try to use sass (dart version)

[2019-06-05 10:55] sqal opened #691 "sass-loader can't resolve path to _index.scss file when using import alias"
* Operating System: Windows 10
* Node Version:  12.2.0
* NPM Version: 6.9.0
* webpack Version: 4.33.0
* sass-loader Version: 7.1.0

### Issue
Dart-sass allows us to import an _index.scss or _index.sass file without explicitly adding the _index part at the end of imported file. Currently it only works for relative imports and fails when I try to import _index.scss using an alias in my import path.

[2019-06-05 10:58] evilebottnawi commented on #691
What you expected? You should use package name, like `~@bootstrap/scss/functions`

[2019-06-05 11:10] sqal commented on #691
@evilebottnawi `~@bootstrap/scss/functions` ? why bootstrap? I don't use bootstrap. Have you checked my reproduction? I just want to import a _index.scss file e.g. `@import "~@/scss/functions"` which should resolve to e.g. `C:\my-prroject\packages\scss\functions\_index.scss` but it currently doesn't work without adding `/_index` to the path. I listed all possible options for importing scss file in

[2019-06-06 07:52] SrikrushnaP commented on #530
Below command work for me
`npm install node-sass`
Thanks

[2019-06-06 18:56] Msey opened #692 ".scss files won't compile"
I was struggling with that problem for couple of hours but it still has no solution.
**The following webpack.config.js is:**
[code]
**Workplace:**
![Screenshot_2](https://user-images.githubusercontent.com/13818408/59058406-3dd71d00-88a5-11e9-9439-1f5ea63a41fc.jpg)

**index.tsx:**
[code]
**sass-form.scss:**
[code]

Any suggestions?

[2019-06-06 19:00] evilebottnawi commented on #692
What is error? Please use issue template

[2019-06-06 19:14] Msey commented on #692
I found out the ploblem.

That's all because I didn't `rebuild node-sass`. My bad

[2019-06-06 19:14] #692 closed

[2019-06-09 14:04] Hiroki111 opened #693 "Module build failed (from ./node_modules/sass-loader/lib/loader.js):"
* Operating System: CentOS 7
* Node Version: 10.15.1
* NPM Version: 6.9.0
* webpack Version:^ 4.33.0
* sass-loader Version: ^7.1.0

### Expected Behavior

Loading scss to a React component

### Actual Behavior

It throws an error after running webpack

The message is

I removed `node-modules` and re-installed `style-loader`, `css-loader`, `sass-loader` but it didn't solve the error.

I found [this

[2019-06-10 10:08] evilebottnawi commented on #693
Problem in your syntax, please create minimum reproducible test repo

[2019-06-10 10:50] imkremen commented on #691
@sqal Looks like it's not related to `sass-loader`.
https://github.com/sass/node-sass/issues/2339

[2019-06-10 10:51] evilebottnawi commented on #691
Yes, it is node-sass feature, you can use `dart-sass` he supports this

[2019-06-10 10:55] sqal commented on #691
@evilebottnawi buti don't use node-sass :( I'm using dart-sass implementation and it supports importing _index file since version 1.0.0 https://github.com/sass/dart-sass/blob/master/CHANGELOG.md#100-rc1.

[2019-06-10 18:42] Hiroki111 commented on #693
@evilebottnawi
Which syntax, scss or javascript (webpack.config.js)?

[2019-06-10 19:52] Hiroki111 commented on #693
I just needed to use `MiniCssExtractPlugin.loader` rather than `style-loader`, as per...

                    test: /\.scss$/,
			use: [{
				loader: MiniCssExtractPlugin.loader,
			}, {
				loader: "css-loader",
			}, {
				loader: "sass-loader",
				options: {
					implementation: require("sass"),
					fiber: Fiber
				}
			}]

Hope this will help someone.

[2019-06-10 19:52] #693 closed

[2019-06-11 21:08] getsetgopi opened #695 "font awesome icons _variables.scss are not getting compiled as expected"
* Operating System: Windows 10
* Node Version: 11.14.0
* NPM Version: 6.9.0
* webpack Version: 4.33.0
* sass-loader Version: 7.1.0

### Expected Behavior
.fa-address-book:before {
  content: "\f2b9"; }

.fa-address-book-o:before {
  content: "\f2b9"; }

### Actual Behavior
output.css
.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

### Code

[code]
### Ho

[2019-06-13 10:28] evilebottnawi commented on #695
Please create minimum reproducible test repo

[2019-06-13 17:57] getsetgopi commented on #695
@evilebottnawi, Unfortunately create/check out public repo from Github is blocked and copying code out of office network is also blocked. I'm attaching the testable zip.
Download and unzip the file.
Run npm install. After installation
Run npm run build
[scss-loader-test.zip](https://github.com/webpack-contrib/sass-loader/files/3287454/scss-loader-test.zip)

[2019-06-13 18:05] evilebottnawi commented on #695
Thanks

[2019-06-14 01:31] MuYunyun commented on #210
I think it's necessary to prompt what features can be used in the options.:smile:

[2019-06-15 12:57] sxzctzppyw opened #696 "Sourcemap not emmit"
* Operating System: Windows 10 Pro 1803
* Node Version: 10.15.3
* NPM Version: 6.4.1
* webpack Version: 4.33.0
* sass-loader Version: 7.1.0

### Expected Behavior
Include inline sourcemap in css file

### Actual Behavior
Sourcemap not emmit

### Code

[code]

[2019-06-15 13:04] evilebottnawi commented on #696
Yes, because file-loader doesn't emit source maps, you just load compiled sass as url. What you expected? Where will be emit?

[2019-06-15 13:18] sxzctzppyw commented on #696
Hi,
I expected that "sass-loader" and "dart sass" compile to CSS and emmit sourcemap. "file-loader" save this CSS to file.

I have a configuration that works in this way
https://gist.github.com/sxzctzppyw/e8a45922869162eb0993661c7d6ceb08

The problem with the sourcemap is that it does not show exactly the error in imports SCS. Only line on main SCSS.

[2019-06-15 13:24] evilebottnawi commented on #696
Can you provide example (screenshot and example of code, you can create minimum reproducible test repo with screenshot, it is help to me solve the problem, thanks)?

[2019-06-15 13:57] sxzctzppyw commented on #696
https://github.com/sxzctzppyw/testN7eq5oo

[2019-06-15 13:58] evilebottnawi commented on #696
Thanks!

[2019-06-15 15:17] sxzctzppyw commented on #696
In my opinion

**postcss-loader**
Emit sourcemap and file-loader save this to file.

**sass-loader**
Should emmit sourcemap but not emmit

**How to check?**
When postcss-loader is disabled/commented output CSS not contains sourcemap.
But should contain sourcemap from sass configuration.
sourceMap: true,
sourceMapEmbed: true

[2019-06-15 15:56] sxzctzppyw commented on #696
@evilebottnawi
You are right from the beginning.

I use:
css-loader
MiniCssExtractPlugin
instead of
file-loader

I modified postcss.config, becouse "map: true" it caused problems.

And its works.

[2019-06-15 20:07] jimblue opened #697 "[Bug Report] importing a SCSS file with only variables output an empty CSS file"
* Operating System: MacOS Mojave 10.14.5
* Node Version: 10.16.0
* NPM Version: 6.9.0
* webpack Version: 4.34.0
* sass-loader Version: 7.1.0

### Expected Behavior

When importing a SCSS file with only variables inside, it shouldn't output a CSS file.

### Actual Behavior

I have a `variables.scss` file with only SCSS variables inside.
To share some SCSS variables with Javascript I use the followi

[2019-06-15 21:02] #696 closed

[2019-06-18 07:46] yuxizhe opened #698 "enable sass bundles analysis"
* Operating System: linux
* Node Version: 10
* NPM Version: 4
* webpack Version: 4
* sass-loader Version: 7

### Feature Proposal
In a big project, styles files size always be huge. So we need to analyze style modules' sizes to find out which style part is big. For example, I use `webpack-bundle-analyser`. If I only use `css` and `css-loader`, everything works out fine. As the pic shows below, We

[2019-06-18 09:54] evilebottnawi commented on #698
It is not solved on sass loader level, better open issue in webpack, we don't have API for the this

[2019-06-18 09:55] evilebottnawi commented on #698
Also it is invalid use this as require because it is not require

[2019-06-19 01:44] yuxizhe commented on #698
@evilebottnawi  I open the issue in webpack, they said its less and sass cause the problem. https://github.com/webpack/webpack/issues/9301

[2019-06-20 03:33] yisding commented on #556
@rj33 I've found adding another line to the resolve block solves the problem of it trying to import base/index.js:

    resolve: {
      extensions: ['.scss', '.sass'],
      mainFiles: []
    },

[2019-06-20 16:06] getsetgopi commented on #695
@evilebottnawi - Do you have any update?

[2019-06-21 07:45] Abhishek2kr commented on #530
Run the command as administrator mode. (For whom `npm rebuild node-sass` not worked)

[2019-06-24 08:56] evilebottnawi commented on #698
Unfortunately we can't solve this on loader level right now, maybe we can improve api for adding additional information from loaders, but it is require implement more logic in `webpack-bundle-analyzer`

/cc @th0r any ideas how we can solve this? I think we can solve this using code in loader like:
[code]

but it is require implement logic on webpack side too

[2019-06-24 08:56] evilebottnawi commented on #697
Please create minimum reproducible test repo

[2019-06-24 08:57] #697 closed

[2019-06-26 14:35] JParkinson1991 opened #699 "Sourcemaps pointing to wrong file"
* Operating System: macOS 10.14.5
* Node Version: 8.16.0
* NPM Version: 6.4.1
* webpack Version: 4.35.0
* sass-loader Version: 7.1.0

It seems that there (somewhere in the chain) are some alterations to node-sass generated sourcemaps which results in them pointing to the wrong scss source declarations.

The sourcemaps do not point to completely the wrong file, the point to a file/line in which sty

[2019-06-26 14:55] JParkinson1991 commented on #699
Just to note, as seen in someother issues setting sass-load outputStyle to compressed seems to make things worse.

[code]

![Screenshot 2019-06-26 at 15 53 23](https://user-images.githubusercontent.com/6921398/60190445-8f325680-982a-11e9-9227-01b315cbbf84.png)

See how the sourcemaps now point to the files containing the mixin in the actual style definition.

[code]

[2019-06-26 14:58] JParkinson1991 commented on #699
In all of the above examples `.navbar-default` points to the correct part of the code in the soucemap.

There is only one style block/definition for `.navbar-default` in the included bootstrap-sass source files.

Im starting to believe this issue stems from element styles being defined in multiples.

This doesn't answer the question on why compressed shows the mixin definition file however.

[2019-06-26 15:14] evilebottnawi commented on #699
Problem in firefox (known issue)

To be honestly we don't modify source maps from node-sass, so problem in postcss-loader or in your minificator

[2019-06-26 17:26] JParkinson1991 commented on #699
If you look at the repository i posted there is no post css or minification that takes place when producing these errors.

Sass-loader is passed to css-loader then onto mini css extract plugin.

[2019-06-26 17:28] evilebottnawi commented on #699
Looks problem in css-loader/ MCEP, i will looks on this in near future, reproducible test repo is enouth, thanks

[2019-06-26 19:44] JParkinson1991 commented on #699
Great! I don’t know where to start with debugging this but if theres anything i can do to help just let me know!

[2019-06-28 10:01] JParkinson1991 commented on #695
Just to chime in, when using fontawesome provided varaibles you should pass them through the `fa-content` function.

[code]

Im currently using **fontawesome 5.9.0** and it compiles fine using the above function.

Also created the following mixins which can be used to simplify creation if icons via variables.
[_fontawesome.scss.txt](https://github.com/webpack-contrib/sass-loader/files/3338656/_fon

[2019-06-28 11:01] evilebottnawi commented on #695
/cc @getsetgopi

[2019-06-28 13:13] getsetgopi commented on #695
Thanks for the update. I will give it a try and update the ticket.

[2019-06-28 19:03] getsetgopi commented on #695
@JParkinson1991 - The above fix may work for 5.x version of font awesome. But not work for 4.x.x.
I found the fix for 4.x.x [here](https://github.com/FortAwesome/Font-Awesome/pull/6728).
Here is what I did.
In my _variable.scss
@function prepend-slash($value) {
    @return unquote('"\\#{$value}"');
}
$fa-var-500px: unquote('"\\f26e"');
$fa-var-address-book: unquote('"\\f2b9"');
$fa-var-address-boo

[2019-06-28 19:03] #695 closed

[2019-06-28 19:05] JParkinson1991 commented on #695
Glad you got it sorted!

[2019-07-02 15:19] filipesilva opened #701 "Dart Sass without fibers should use renderSync instead of render"
* Operating System: Windows
* Node Version: 10.16.0
* NPM Version: 6.9.0
* webpack Version: 4.30.0
* sass-loader Version: 7.1.0

### Expected Behavior

When using Dart Sass and not using `fibers`, the `renderSync` method should always be used instead of the `render` method (see https://github.com/sass/dart-sass#javascript-api, https://github.com/webpack-contrib/sass-loader/issues/435#issuecomment-

[2019-07-02 15:28] evilebottnawi commented on #701
Thanks for issue, i will investigate this for next major release, i think i will start work on next release at this week, a lot of other issues

[2019-07-02 15:36] filipesilva commented on #701
SGTM, thanks for looking at it!

[2019-07-04 15:47] js2me opened #702 "Undefined variable: $variableName"
* Operating System: Windows 10
* Node Version: v10.15.1
* NPM Version: 6.4.1
* webpack Version: 4.21.0
* sass-loader Version: 7.1.0

### Expected Behavior

SCSS generated successfully without any errors

### Actual Behavior

Browser console says me
![image](https://user-images.githubusercontent.com/16340911/60677819-406c6880-9e8b-11e9-8432-0ea54901325d.png)

### Code

SCSS Code which output error

[2019-07-04 16:07] evilebottnawi commented on #702
We don't modify your styles so problem in your sass/scss styles, pelase double check your files, try to update node-sass/sass

[2019-07-04 16:07] #702 closed

[2019-07-08 09:38] jhnns commented on #701
We could make it configurable via loader options. This pushes the responsibility/complexity back to the user. The problem is that the sass-loader has no clue if your project uses any custom importer where the async API is necessary.

I should also mention that compiling something synchronously is one of the worst things you can do in a webpack build. In a regular webpack build there are hundreds o